.communication-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #eee;
    min-height: 120px;
    border-radius: 15px;
    align-items: center;
    padding: 35px 20px;
    padding-left: 103px;
    margin-bottom: 10px;

    @media (min-width: 991px) {
        padding-top: 0;
        padding-left: 20px;
        margin-bottom: 0;
    }
    
    @media (min-width: 1201px) {
        padding: 30px;
        padding-left: 93px;
    }

    @media (min-width: 1397px) {
        padding-left: 103px;
    }

    &__icon {
        position: absolute;
        left: 20px;

        @media (min-width: 991px) {
            left: 20px;
            top: 20px;
        }

        @media (min-width: 1201px) {
            left: 30px;
        }
    }

    &__title,
    &__text {
        font-size: 16px;
        font-weight: 700;
        color: #3C4B5A;
        width: 100%;
    }

    &__title {
        @media (min-width: 991px) {
            padding-top: 110px;
        }

        @media (min-width: 1201px) {
            padding-top: 0;
        }
    }
    
    &__text {
        opacity: .75;
    }

    &--light {
        background-color: #EAF5E7;

        .communication-card__text {
            color: #78A86D;
        }
    }

    &--gas {
        background-color: rgba(#FBB358, 0.1);

        .communication-card__text {
            color: #FBB358;
        }
    }

    &--water {
        background-color: #F7FAFC;

        .communication-card__text {
            color: #919FA3;
        }
    }
}