mixin communication(classCol, cardClass, title, text, svg)
    .d-block(class=classCol)
        a.stretched-link(href="#")
        .communication-card(class=cardClass)
            .communication-card__icon
                img.inline-svg(src="img/site/"+svg+".svg")
            .communication-card__title!=title
            .communication-card__text!=text

//- light-card-icon