.question-count {
    font-size: 14px;
    margin-right: 15px;
    line-height: 16px;
}

.question__number,
.question__all {
    font-family: 'Trojan';
}
.question__number {
    color: #78A86D;
    font-size: 36px;
}
.question__all {
    color: #919FA3;
    font-size: 24px;
}

.form-card__item {
    font-size: 14px;
    position: relative;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(#9CA7B2, 0.07);
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    transition: .2s ease-in-out;
    margin-bottom: 30px;
    padding: 20px;

    @media (min-width: 1201px) {
        font-size: 16px;
    }

    img {
        max-height: 100px;
    }

    @media (min-width: 769px) {
        padding: 33px 20px 40px;
    }

    &:after {
        content: '';
        width: 27px;
        height: 27px;
        transition: .2s ease-in-out;
        border-radius: 50%;
        border: 1px solid rgba(#919FA3, .3);
        position: absolute;
        right: 20px;
        top: 20px;
        background: #fff url('/assets/img/test/tick-test.svg') no-repeat;
        background-position: center center;
        background-size: 0 0;
    }

    &:hover {
        border: 1px solid $success;

        &:after {
            content: '';
            border: 1px solid $success;
            position: absolute;
        }
    }

    span {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .img-active {
        display: none;
    }

    &.active {
        background-color: $success;
        color: #fff;
        box-shadow: 0 20px 40px rgba(#78A86D, 0.2);
        border: 1px solid $success;

        &:after {
            content: '';
            background: #528048 url('/assets/img/test/tick-test.svg') no-repeat;
            background-position: center center;
            background-size: auto;
            border: 1px solid #528048;
            position: absolute;
        }

        img {
            display: none;

            &.img-active {
                display: inline-block;
            }
        }
    }

    &--big {
        align-items: center;

        @media (min-width: 992px) {
            height: 270px;
        }
        img {
            max-height: 150px;
            height: 140px;
        }
    }

    &--small {
        display: flex;
        align-items: center;
        padding: 20px;

        img {
            margin: 0;
            margin-right: 20px;
            height: 32px;
            width: auto;
        }

        span {
            display: inline;
            text-align: left;
            margin: 0;
            line-height: 32px;
        }

        &:after {
            top: 23px;
        }
    }
}

.page-test {
    h1 {
        line-height: 1.35;
        margin-top: 20px;

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    .step-last {
        input {
            width: 100%;
            border: none;
            background-color: #fff;
            box-shadow: 0 20px 40px rgba(#9CA7B2, 0.07);
            border-radius: 15px;
            padding: 25px;
            font-size: 14px;
        }
    }
}

.test-footer {
    .btn {
        min-width: 140px;
        font-size: 12px;
        padding: 20px 5px;

        @media (min-width: 769px) {
            min-width: 300px;
            font-size: 14px;
        }
        &--prev {
            svg {
                margin-right: 10px;
            }
        }

        &--next {
            svg {
                transform: rotate(180deg);
                margin-left: 10px;
                path {
                    fill: #fff;
                }
            }
        }
        &:hover {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}