mixin testItem(id, className, type, title, step, svgName)
    if type === 'image'
        label.test-item(class=className)
            input(type="radio", id=id, name=step)
            span.test-item__title(for=id)= title