* {
    outline: none;
    
    &:focus {
        outline: none
    }
}
.slick-list {
    .slick-loading & {
        background: #fff url("../img/site/30.gif") center center no-repeat;
    }
}

body {
    font-size: 10px;
    line-height: 19px;
    font-family: 'Gotham', Helvetica, Arial, sans-serif;

    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    @media (max-width: 990px) {
        max-width: 100%;
    }
}

.page {
    &-search {
        border-top: 1px solid #e5eaeb;
    }
    &__map {
        &-wrapper {
            padding: 50px 0 35px;
        }
    }

    &-comparison {
        padding-bottom: 40px;
    }

    &__breadcrumbs {
        margin: 30px 0 15px;

        @media (min-width: 769px) {
            margin: 20px 0;
        }

        @media (min-width: 1201px) {
            margin: 20px 0 40px;
        }
    }
    &__sort {
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    &__listing {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 60px;
        background-color: #e5eaeb;
        border-radius: 15px;
        padding: 10px 5px;

        &-item {
            width: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            margin: 0 5px;
            height: 40px;
            cursor: pointer;
            transition: .2s ease-in-out;

            svg {
                &.list {
                    &-row {
                        path {
                            fill: none;
                            stroke: #919fa3;
                            stroke-linecap: round;
                            stroke-width: 1.3px;
                        }
                    }

                    &-grid {
                        height: 15px;

                        circle {
                            fill: #919fa3;
                        }
                    }
                }
            }

            &.active {
                background-color: #fff;
                cursor: default;

                svg {
                    &.list {
                        &-row {
                            path {
                                stroke: #3c4b5a;
                            }
                        }
                        &-grid {
                            circle {
                                fill: #3c4b5a;
                            }
                        }
                    }
                }
            }
        }
    }
}

h1, h2, h3,
.h1, .h2, .h3{
    font-family: 'Trojan';
}

h1,
.h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

    @media (min-width: 769px) {
        font-size: 24px;
        line-height: 27px;
    }
    @media (min-width: 991px) {
        font-size: 24px;
        line-height: 34x;
    }
    @media (min-width: 1201px) {
        font-size: 36px;
        line-height: 48px;
    }
}

h2,
.h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;

    @media (min-width: 992px) {
        font-size: 24px;
    }
}

h3,
.h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

h4,
.h4 {
    font-family: 'Gotham', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.block-page {
    padding-top: 52px;
    padding-bottom: 52px;

    &__title {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        
        .icon {
            margin-right: 15px;
        }

        h2 {
            line-height: 1;
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            margin-bottom: 37px;
        }
    }
    &__offer {
        .slick-track {
            padding: 15px 0 30px;

            .item {
                margin-left: 15px;
                margin-right: 15px;
            }

            .photo__list {

                    
                .slick-list {
                    border-radius: 15px 15px 0 0;
                }
                .slick-track {
                    padding: 0;
                }
            }
        }
    }
}



.slick-dots {
    li {
        padding: 0;
        margin: 0 5px;

        button {
            padding: 0;

            &::before {
                width: 20px;
                height: 20px;
                font-size: 40px !important;
                padding: 0;
                margin: 0;
                opacity: 1;
                color: $body-color;
            }
        }
    }
}

.mt {
    &-40 {
        margin-top: 20px;
        
        @media (min-width: 1201px) {
            margin-top: 40px;
        }
    }
}

.modal {
    &-backdrop {
        background-color: $body-color;

        &.show {
            opacity: .15;
        }
    }
    &-header {
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;
        display: block;
        width: 100%;
        border-bottom: none;
    }
    &-dialog {
        margin: .5rem auto;
    }

    &-xxl {
        width: calc(100% - 20px);
        max-width: 1340px;
    }
    &-xl {
        width: calc(100% - 20px);
        max-width: 950px;

        .modal-body,
        .modal-header {
            @media (min-width: 1201px) {
                padding: 30px 60px;
            }
        }
        .modal-header {
            border-bottom: none;

            h5 {
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
            }
            button {
                padding-left: 77px;
                padding-right: 77px;

                &.close {
                    padding: 0;
                    padding-right: 1rem;
                }
            }
        }
        .modal-body {
            @media (min-width: 1201px) {
                padding-bottom: 60px;
            }
        }
    }

    &-content {
        box-shadow: 0 15px 30px rgba(#9CA7B2, 0.15);
        border: none;
        border-radius: 15px;
    }

    input {
        &.btn-lg {
            &.btn-warning {
                @media (max-width: 768px) {                    
                    padding: 15px;
                    width: 100%;
                    margin-right: 0 !important;
                }
            }
        }
    }
    .filter__button-clear {
        @media (max-width: 768px) {                    
            margin: 1rem auto 0;
        }
    }
}

.custom-control {
    &-inline {
        margin-top: 20px;
        margin-left: 15px;
    }
    
    label {
        font-size: 16px;
    }
}

.highway-block {
    &__title {
        text-decoration: underline;
    }
}

.play {
    cursor: pointer;

    .triangle {
        fill: #fff;
    }
    .circle-line {
        stroke: #83B173;
        transition: .2s ease-in-out;
    }
    .circle-main {
        transition: .2s ease-in-out;
        fill: #fbb358;
    }
    .circle-main-stroke {
        transition: .2s ease-in-out;
        fill: rgba(#3c4b5a, 0.1);
    }

    &:hover {
        .circle-main {
            fill: #83B173;
        }
    }

    &:focus,
    &:active {
        .circle-main {
            fill: rgba($success, 1);
        }
        .circle-main-stroke {
            fill: rgba($success, 1);
        }
        .circle-line {
            stroke: rgba($success, 1);
        }
    }
}

.tab-switcher {
    background-color: #E5EAEB;
    border-radius: 30px;

    li {
        a {
            display: inline-flex;
            height: 60px;
            font-size: 12px;
            font-weight: 700;
            padding-left: 18px;
            padding-right: 18px;
            border-radius: 30px;
            align-items: center;
            background-color: transparent;
            border: none;
            position: relative;
            z-index: 1;
            box-shadow: none;
            outline: none;
            text-decoration: none;
            color: $body-color;
            min-width: 120px;
            text-align: center;
            justify-content: center;

            @media (min-width: 769px) {
                padding-left: 30px;
                padding-right: 30px;
            }
    
            svg {
                margin-right: 10px;
                margin-top: -2px;
            }
            &[aria-selected="true"] {
                background-color: #3C4B5A;
                color: #fff;
                z-index: 0;
    
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
    
}

.review {
    margin-top: 10px;

    a {
        font-size: 11px;
        font-weight: 700;
        color: #919FA3;

        @media (min-width: 769px) {
            font-size: 12px;
        }

        svg {
            margin-right: 10px;
            width: 14px;
            path {
                fill: #c7ced0;
            }

            @media (min-width: 991px) {
                width: 18px;
            }
        }
    }
}

.badge {
    &-success {
        color: #78A86D;
        background-color: #EDF8EA;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;

        svg {
            path {
                fill: #78A86D;
            }
        }
    }
}

.z-index {
    &-0 {
        z-index: 1;
    }
    &-1 {
        z-index: 9;
    }
}

.radius {
    border-radius: 15px;
}

.adv {
    width: 100%;
}

.p {
    &-t {
        &-60  {
            padding-top: 60px;
        }
    }
    &-b {
        &-60  {
            padding-bottom: 60px;
        }
    }
}

.text-success {
    svg {
        path {
            fill: $success;
            stroke: $success;
        }
    }
}

.area-link {
    display: flex;
    align-items: center;
    color: $body-color;
    font-size: 16px;
    text-decoration: underline;

    svg {
        margin-right: 10px;
        height: 16px;
        width: 11px;

        path {
            fill: rgba(#919FA3, 0.5);
        }
    }

    &:hover {
        color: $success;

        svg {
            path {
                fill: $success;
            }
        }
    }
}

.input-group-append {
    .btn {
        height: 60px;

        &-outline-success {
            color: $body-color;

            &:hover,
            &:focus {
                color: #fff;
            }
        }
    }
}

.page-nav {
    a {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}
.slider-bottom-info {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-village {
    a {
        width: 115px;
        margin-right: 10px;

        @media (min-width: 1201px) {
            width: 145px;
            margin-right: 15px;
        }
    }
}

.error-img {
    padding-top: 30px;

    p {
        margin-top: 15px;
    }
}

.px {
    &-30 {
        padding: 0;

        @media (min-width: 1201px) {
            padding: 0 20px;
        }
        @media (min-width: 1397px) {
            padding: 0 30px;
        }
    }
}

.home-about-villiage,
.area-about-villiage,
.home-description,
.area-description,
.home-map,
.area-map,
.home-legal-information,
.area-legal-information,
.home-communication,
.area-communication {
    h2 {
        margin-top: 40px;
        margin-bottom: 20px;

        @media (min-width: 1201px) {
            margin-top: 60px;
            margin-bottom: 30px;
        }
    }
}

.home-info__slider-plan {
    width: 100%;
    text-align: right;
    margin-top: 30px;

    @media (min-width: 1201px) {
        width: auto;
    }
}

.area-link {
    font-size: 14px;
}

.page-va-list {
    .area-link {
        margin-top: 20px;
        align-items: flex-start;

        svg {
            height: 14.3px;
            width: 10px;
            margin-top: 2px;
            margin-right: 15px;

            path {
                fill: #919FA3;
            }
        }
    }

    .metro {
        margin-top: 20px;
    }
    .metro-other {
        margin-left: 20px;
    }

    .card-house__inline {
        margin-top: 20px;
        font-size: 14px;

        .icon {
            width: 30px;

            svg {
                path {
                    fill: #919FA3;
                }
            }
        }

        &-title {
            color: #919FA3;
        }

        &-value {
            font-weight: 700;
        }
    }

    .va-list-value {
        &__item {
            color: #919FA3;
            font-size: 14px;
            line-height: 26px;

            &:first-child {
                font-weight: 700;
                margin-top: 20px;
                color: $body-color;
            }
        }
    }

    .village-slider {
        margin-top: 0;
        margin-bottom: 0;
        
        @media ( min-width: 769px) {
            height: 350px;
        }
    }
    
    &__info {
        padding-bottom: 60px;
    }

    .house-in-village .area .footer-card {
        margin-top: 40px;
    }
    @media (min-width: 769px) {
        .list--grid .card-house .photo {
           height: 318px;
        }
    }
    .area-in-village {
        padding: 60px 0 0;
    }
}

.page-404 {
    img {
        max-width: 100%;
    }
}

.bg-gray-mobile {
    padding-top: 40px;

    @media (min-width: 769px) {
        padding-top: 0;
    }
}

button,
input,
a,
textarea {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, 
.btn-outline-success:not(:disabled):not(.disabled):active:focus, 
.show>.btn-outline-success.dropdown-toggle:focus,
.btn-outline-success.focus, 
.btn-outline-success:focus {
    box-shadow: none;
}

.page-home {
    .village-slider {
        margin-top: 10px;
    }
}

.modal {
    .form-feedback-modal {
        label,
        small {
            font-size: 14px;
        }
        small {
            color: #919fa3;
        }
    }
}

.page-contacts {
    padding-bottom: 70px;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;

    a {
        color: #3C4B5A;
    }

    &__img {
        border-radius: 15px;
        width: 100%;
        background-color: #DBEBDC;
        height: 100%;

        @media (min-width: 768px) {
            height: 326px;
        }

        img {
            margin-top: 70px;
            margin-right: 30px;
            width: 100%;
            max-width: 227px;

            @media (min-width: 768px) {
                margin-top: 70px;
                margin-right: 30px;
                width: auto;
                max-width: auto;
            }
        }
    }
}

a,
button {
    &:disabled {
        cursor: not-allowed;
    }
}

a {
    &.back {
        color: #3c4b5a;
        font-size: 16px;
        display: inline-flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }

        &:hover {
            color: $success;
            text-decoration: none;

            svg {
                path {
                    fill: $success;
                }
            }
        }
    }
}

.p-15 {
    .modal-header,
    .modal-body {
        padding: 15px;
    }
}

.modal-house {
    max-width: 1295px;
}

.checkbox-house {
    margin-right: 13px;
    margin-bottom: 13px;

    label {
        display: flex;
        align-items: center;
        padding: 0 45px;
        border: 1px solid #E1E8EA;
        cursor: pointer;
        height: 60px;
        line-height: 58px;
        border-radius: 30px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        position: relative;
        transition: .2s ease-in-out;

        &:before {
            display: block;
            position: absolute;
            top: 17px;
            left: 12px;
            width: 24px;
            height: 24px;
            background: #528048 url(/assets/img/site/tick-white.svg) no-repeat;
            background-position: center center;
            background-size: 10px;
            border: 1px solid #528048;
            border-radius: 50%;
            transition: .2s ease-in-out;
        }
    }

    input {
        &:checked {
            + label {
                background-color: $success;
                border-color: $success;
                color: #fff;
                &:before {
                    content: '';
                }
            }
        }
    }
}
.modal-area-home {
    &__title {
        font-size: 14px;
        margin-right: 40px;
    }

    &__input{
        display: flex;
        flex-wrap: wrap;
        input {
            border: 1px solid #E1E8EA;
            border-radius: 15px;
            padding: 15px;
            margin-right: 10px;
            width: 100%;
            max-width: 120px;
            font-size: 14px;
        }
    }
    &__range {
        margin-top: 20px;
        margin-left: 185px;
        max-width: 250px;
    }
}
.default-checbox {

}
.ui-slider-horizontal {
    height: 2px;
    background-color: #E5EAEB;
}
.ui-widget-header {
    background-color: $success;
}
.ui-widget.ui-widget-content {
    border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    width: 13px;
    height: 13px;
    border-color: $success;
    background-color: $success;
    box-shadow: 0 0 0 2.5px rgba($success, .2);
    border-radius: 50%;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    cursor: pointer;
}

.search-group {
    .input-group {
        input {
            &[type="submit"] {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}