@import './variabless';

$body-bg: #f7fafc;
$body-color: $body-color;
$font-family-sans-serif: 'OpenSans', sans-serif;

$grid-breakpoints: (
    xs: 0,
    sm: 769px,
    md: 991px,
    lg: 1201px,
    xl: 1397px
);

$container-max-widths: (
    xs: 540px,
    sm: 758px,
    md: 990px,
    lg: 1200px,
    xl: 1366px
);

$theme-colors: (
    "brown": $brown,
    "secondary": $secondary,
    "success": $success,
    "danger": #F20000,
    "warning": $warning,
    "gray-300": $gray-300,
    "gray-200": $gray-200,
    "gray-100": $gray-100,
);

$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$h4-font-size: 18px;
