@font-face {
    font-family: 'Gotham';
    src : url("../fonts/GothamPro/GothamPro.eot");
    src : url("../fonts/GothamPro/GothamPro.woff") format('woff'),
          url("../fonts/GothamPro/GothamProRegular.ttf") format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src : url("../fonts/GothamPro/GothamPro-Mediumeot");
    src : url("../fonts/GothamPro/GothamPro-Medium.woff") format('woff'),
          url("../fonts/GothamPro/GothamProMedium.ttf") format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src : url("../fonts/GothamPro/GothamPro-Bold.eot");
    src : url("../fonts/GothamPro/GothamPro-Bold.woff") format('woff'),
          url("../fonts/GothamPro/GothamProBold.ttf") format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Trojan';
    src : url("../fonts/TrajanPro/TrajanPro-Regular.otf") format('truetype'),
          url("../fonts/TrajanPro/TrajanPro3-Regular.woff") format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Trojan';
    src : url("../fonts/TrajanPro/TrajanPro3-Bold.otf") format('truetype'),
          url("../fonts/TrajanPro/TrajanPro3-Bold.woff") format('woff');
    font-weight: 700;
    font-display: swap;
}
