.page-map {
    .show-filter {
        position: absolute;
        width: 100%;
        max-width: 280px;
        display: block;
        padding: .75rem 2rem;
        background-color: #fff;
        border-color: #fff;
        border-radius: 15px;
        font-weight: 700;
        font-size: 12px;
        top: 140px;
        left: calc(50vw - 140px);
        z-index: 9;
    }
    &__wrap {
        display: flex;
        background-color: #eee;
        height: calc(100vh - 94px);

        @media (min-width: 769px) {
            height: calc(100vh - 104px);
        }
        .card-map {
            position: absolute;
            bottom: 22px;
            right: 66px;
            z-index: -9;
            background-color: red($color: #000000);
            background-color: #fff;
            border-radius: 15px;

            @media (max-width: 767px) {
                right: 15px;
                bottom: 15px;
            }
            .offer-house__footer {
                @media (max-width: 767px) {
                    padding: 10px;
                }
            }

            .slick-list {
                @media (max-width: 767px) {
                    border-radius: 15px 15px 0 0;
                }
            }

            .offer-house__photo .photo__item {
                @media (max-width: 767px) {
                    height: 160px;
                }
            }
            .offer-house__photo .photo__count {
                @media (max-width: 767px) {
                    top: 131px;
                    padding: 5px 10px;
                }
            }
            .slider__header .photo__buttons button {
                @media (max-width: 767px) {
                    width: 30px;
                    height: 30px;
                }
            }
            .slider__label {
                @media (max-width: 767px) {
                    padding: 10px;
                }
            }

            .offer-house__info {
                @media (max-width: 767px) {
                    padding-top: 10px;
                }
            }
            .review {
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
    &__container {
        height: 100%;
        width: 100%;


        @media (min-width: 1201px) {
            width: 70%;
        }
        @media (min-width: 1397px) {
            width: 65%;
        }
    }

    &__filter {
        height: 0;
        background-color: #fff;
        display: none;

        &.show {
            display: block;
            position: absolute;
            width: 100vw;
            width: 100%;
            height: calc(100vh - 94px);
            padding: 30px 15px;
            z-index: 9;

            @media (min-width: 769px) {
                width: 60%;
                height: calc(100vh - 104px);
                padding: 30px;
            }
        }

        @media (min-width: 1201px) {
            height: 100%;
            display: block; 
            padding: 30px 15px 20px;
            width: 30%;
        }

        @media (min-width: 1397px) {
            padding: 10px 50px 20px;
            width: 35%;
        }

        h1 {
            font-size: 20px;
        }

        .btn--prev {
            display: flex;
            align-items: center;

            svg {
                margin-right: .5rem;
            }

            &:hover {
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }

        .map-filter {
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            height: calc(100% - 65px);

            &__buttons {
                &--header {
                    display: flex;

                    button {
                        width: calc(50% - 7.5px);

                        &:first-child {
                            margin-right: 15px;
                        }
                    }
                }
            }

            &__select {
                &--type {
                    .filter__type .selectric {
                        width: 100%;
                    }
                }
            }

            &__content {
                display: block;

                &.hide {
                    display: none;
                }
                .map-filter__mkad {
                    color: #3C4B5A;
                    label {
                        font-size: 14px;
                        line-height: 24px;
                    }
                    input {
                        border-color: #f6f9fb;
                        background-color: #f6f9fb;

                        &:focus {
                            border-color: $success;
                        }
                    }
                    .filter-value {
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
            }

            &--highway,
            &--areas {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #fff;
                width: 100%;

                &.show {
                    display: block;
                }

                .highway-direction,
                .areas-direction {
                    &:hover {
                        color: $success;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.close-map {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 99;
    background: #fff url(/assets/img/site/close.svg) no-repeat;
    background-size: 12px;
    background-position: center;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}