.active-sale {
    display: flex;
    align-items: center;
    font-size: 18px;

    &__badge {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        padding: 14px 17px;
        border-radius: 30px;
        background-color: #EDF8EA;
        color: #78A86D;
        font-weight: 500;
        
        svg {
            margin-right: 10px;

            path {
                fill: #78A86D;
            }
        }
    }
}