.plan {
    &--village {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px 20px;

        @media (min-width: 991px) {
            padding: 30px;
        }

        img {
            width: 100%;
            max-width: 350px;
            margin-bottom: 30px;

            @media (min-width: 991px) {
                margin-bottom: 0;
            }

        }

        @media (min-width: 1201px) {
            padding: 60px 30px;
            padding-right: 0;
        }
    
        @media (min-width: 1397px) {
            padding: 100px 40px;
        }
    

        p {
            font-size: 12px;
            line-height: 26px;
            margin: 0;
            @media (min-width: 991px) {
                font-size: 14px;
            }
        }
    }
}