.bg-white.radius.plan.plan--village
    .row.w-100
        .col-xl-6.col-lg-5.mb-md-3
            #openPlan
                a(href="/assets/img/content/novoe_gorelovo_plan.jpg")
                    img.w-100(src="/assets/img/content/novoe_gorelovo_plan.jpg" alt="План поселка Новое Горелово")
        .col-xl-6.col-lg-7.pr-0
            h3.h2 План поселка
            p Площадь поселка: 
                b 36 га.
            p Количество участков: 
                b 180
            p Количество проданных участков: 
                b 10
            p Количество участков в продаже: 
                b 170
            p Количество построенных домов: 
                b 180