.btn {
    padding: 20px 25px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;

    &-lg {
        padding-left: 104px;
        padding-right: 104px;
    }

    &-outline {
        &-warning {
            color: $body-color;

            svg {
                path {
                    fill: $warning;
                }
            }
            
            &:hover,
            &:active,
            &:focus,
            &:not(:disabled):not(.disabled):active{
                color: #fff;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }

            &:focus {
                background-color: $warning;
                box-shadow: none;
                color: #fff;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }

            &:hover {
                box-shadow: 0 20px 30px 0 rgba(251, 179, 88, 0.2);
                color: #fff;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
    &-secondary {
        color: $body-color;
        background-color: #E5EAEB;
        border-color: #E5EAEB;
    }

    &-warning {
        color: #fff;

        &:hover,
        &:focus,
        &:not(:disabled):not(.disabled):active{
            color: #fff;

            svg {
                path {
                    fill: #fff;
                }
            }
            &:hover {
                box-shadow: 0 15px 30px 0 rgba($body-color, 0.15);
            }
        }

        &:focus,
        &:active,
        &.active {
            background-color: $warning;
            border-color: $warning;
            box-shadow: none;
            svg {
                path {
                    fill: #fff;
                }
            }
        }

        &:hover {
            box-shadow: 0 15px 30px 0 rgba(253, 193, 85, 0.15);
        }

        &:active {
            background-color: $success;
        }
    }

    &-success {
        &:hover {
            box-shadow: 0 15px 30px 0 rgba($body-color, 0.15);
        }
    }

    &-outline {
        &-secondary {
            border-color: #e1e8ea;
            color: $body-color;

            svg {
                path {
                    fill: $body-color;
                }
            }

            &:hover {
                box-shadow: 0 20px 30px 0 rgba(251, 179, 88, 0.2);
            }

            &:hover,
            &:active,
            &:focus,
            &:not(:disabled):not(.disabled):active{
                color: #fff;
                background-color: $warning;
                border-color: $warning;

                svg {
                    transition: .2s ease-in-out;

                    path {
                        fill: #fff !important;
                    }
                }
            }

            &:focus {
                background-color: $warning;
                box-shadow: none;
            }
        }
    }

    &-white {
        background-color: #fff;
    }
}

input {
    &.btn-lg {
        &[type="button"] {
            padding-left: 104px;
            padding-right: 104px;
            color: #fff;
        }
    }
}