.extra-options {
    font-size: 12px;
    color: #919fa3;

    .search-group {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 1201px) {
            flex-wrap: inherit;
        }

        br {
            display: none;
            @media (min-width: 1201px) {
                display: block;
            }
        }

        label {
            width: 100%;
            
            @media (min-width: 1201px) {
                width: 227px;
            }
        }

        input {
            @media (min-width: 1201px) {
                width: 100%;
                max-width: 652px;
            }
        }

        .distance-station {
            width: 80px;

            &-km {
                margin-left: 20px;
            }
        }
    }
    .custom-checkbox {
        margin-left: 15px;
        width: calc(50% - 30px);
        display: inline-flex;
        margin-top: 15px;

        @media (min-width: 991px) {
            width: auto;
            margin-right: 30px;
            margin-top: 10px;
        }
        @media (min-width: 1201px) {
            margin-right: 20px;
        }
        @media (min-width: 1397px) {
            margin-right: 40px;
        }

        label {
            font-size: 12px;
            color: #919fa3;
        }
    }
    &__parameters {
        font-size: 16px;
        padding: 20px 0 40px;
        border-bottom: 1px solid #EFF3F4;


        &-title {
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        &-input {
            margin-bottom: 20px;

            input {
                overflow: hidden;
                height: 1px;
                width: 1px;
                z-index: -999;
                border: none;
                padding: 0;
                margin: 0;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: #E5EAEB;
                margin-right: 15px;
            }

            label {
                cursor: pointer;
            }
        }
    }
}

// styling icons 

.extra-options {
    .icon {
        display: flex;
        width: 48px !important;
        height: 48px;
    }

    svg {
        .color-fill {
            fill: #919fa3;
        }
    }

    input {
        &:checked,
        &.active {
            ~label {
                .icon {
                    transition: .2s ease-in-out;

                    &--svet {
                        background-color: #78A86D;
                    }
                    &--voda {
                        background-color: #4a7aff;
                    }
                    &--gaz {
                        background-color: #ff5b5a;
                    }
                    &--asphkr {
                        background-color: #4a7aff;
                    }
                    &--asphalt {
                        background-color: #6AA3A5;
                    }
                    &--betonniePliti {
                        background-color: #ff5b5a;
                    }
                    &--bitiyKirpich {
                        background-color: #ffce01;
                    }
                    &--gruntovka {
                        background-color: #06b26b;
                    }
                    &--sheben {
                        background-color: #8A6EAC;
                    }
                    &--ogorozjen {
                        background-color: #06b26b;
                    }
                    &--ohrana {
                        background-color: #5277F5;
                    }
                    &--vodoem {
                        background-color: #5277F5;
                    }
                    &--les {
                        background-color: #06b26b;
                    }
                    &--plyaj {
                        background-color: #ffce01;
                    }
                    &--magazin {
                        background-color: #ff5b5a;
                    }
                    &--cerkov {
                        background-color: #8A6EAC;
                    }
                    &--school {
                        background-color: #f7173a;
                    }
                    &--detsad {
                        background-color: #4a7aff;
                    }
                    &--cafe {
                        background-color: #ffce01;
                    }
                    &--azs {
                        background-color: #06b26b;
                    }
                    &--apteka {
                        background-color: #4a7aff;
                    }
                    &--stroimat {
                        background-color: #ff5b5a;
                    }
                    &--bus {
                        background-color: #06b26b;
                    }
                    &--train {
                        background-color: #ff5b5a;
                    }
                }


                svg {
                    .color-fill {
                        fill: #fff !important;
                    }
                }
            }
        }
    }
}

.extra-options {
    .distance-station {
        label {
            width: 180px;
        }
    }
}