.extra-options
    .row.align-items-end
        .col-xl-7.col-lg-6.col-md-5.mt-40
            .d-flex.align-items-center.search-group
                .input-group
                    label.d-flex(for="searchKeyWords") Поиск&nbsp;
                        br
                        | по ключевым словам
                    input#searchKeyWords.form-control(type="text", name="searchKeyWords")
                    .input-group-append
                        button.btn.btn-outline-success(type="button") Поиск
        .col-xl-2.col-lg-2.col-md-2.mt-4.mt-lg-0
            a.btn.btn-outline-warning.rounded-pill.w-100(href="#") Районы МО
        .col-xl-3.col-lg-4.mt-40.col-md-5
            .d-flex.align-items-center.justify-content-md-end.search-group.distance-station
                label.d-flex.mr-2(for="distanceStation") Расстояние&nbsp;
                    br
                    | до ближайшей станции
                input#distanceStation.form-control.distance-station(type="text", name="distanceStation")
                b.distance-station-km Км
    .row
        .col-lg-8.mt-40
            .d-flex.align-items-center.flex-wrap
                .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                    input#extraOptionsTypeCH.custom-control-input(type="checkbox" name="extraOptionsTypeCH")
                    label.custom-control-label(for="extraOptionsTypeCH") Для дачи
                .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                    input#extraOptionsTypeCottage.custom-control-input(type="checkbox" name="extraOptionsTypeCottage")
                    label.custom-control-label(for="extraOptionsTypeCottage") Для коттеджа
                .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                    input#extraOptionsTypeStock.custom-control-input(type="checkbox" name="extraOptionsTypeStock")
                    label.custom-control-label(for="extraOptionsTypeStock") Поселки с акциями
                .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                    input#extraOptionsTypeIP.custom-control-input(type="checkbox" name="extraOptionsTypeIP")
                    label.custom-control-label(for="extraOptionsTypeIP") Доступна рассрочка
    .row.extra-options__parameters
        .order-lg-1.col-md-3.col-lg-2.col-sm-4
            .extra-options__parameters-title Коммуникация
            +optionsParameters("svet", "svet", "Свет")
            +optionsParameters("voda", "voda", "Вода")
            +optionsParameters("gaz", "gaz", "Газ")

        .order-lg-2.col-md-6.col-lg-3.col-xl-2.col-sm-8
            .extra-options__parameters-title.mb-3 Дороги в поселке
            .row
                .col-sm-6.col-lg-12
                    +optionsParameters("asphkr", "asphkr", "Асф. Кр.")
                    +optionsParameters("asphalt", "asphalt", "Асфальт")
                    +optionsParameters("betonniePliti", "betonniePliti", "Бетонные плиты")
                .col-sm-6.col-lg-12
                    +optionsParameters("bitiyKirpich", "bitiyKirpich", "Битый кирпич")
                    +optionsParameters("gruntovka", "gruntovka", "Грунтовка")
                    +optionsParameters("sheben", "sheben", "Щебень")
        .order-sm-5.col-sm-8.order-md-5.order-lg-3.col-md-6.col-lg-2
            .row
                .col-sm-6.col-lg-12
                    .extra-options__parameters-title Как добраться
                    +optionsParameters("bus", "bus", "Автобус")
                    +optionsParameters("train", "train", "Электричка")
                
                .col-sm-6.col-lg-12
                    .extra-options__parameters-title.mt-lg-5 Обустройство
                    +optionsParameters("ogorozjen", "ogorozjen", "Огорожен")
                    +optionsParameters("ohrana", "ohrana", "Охрана")

        .order-sm-4.col-sm-4.order-md-3.order-lg-5.order-xl-4.col-md-3.col-lg-2
            .extra-options__parameters-title Природа
            +optionsParameters("vodoem", "vodoem", "Водоем")
            +optionsParameters("les", "les", "Лес")
            +optionsParameters("plyaj", "plyaj", "Пляж")

        .order-sm-3.col-sm-8.order-md-4.order-lg-4.order-xl-5.col-md-6.col-lg-3.col-xl-4
            .extra-options__parameters-title.mb-3 Инфраструктура
            .row
                .col-sm-6.col-lg-12.col-xl-6
                    +optionsParameters("magazin", "magazin", "Магазин")
                    +optionsParameters("cerkov", "cerkov", "Церковь")
                    +optionsParameters("school", "school", "Школа")
                    +optionsParameters("detsad", "detsad", "Дет. сад")
                .col-sm-6.col-lg-12.col-xl-6
                    +optionsParameters("cafe", "cafe", "Кафе")
                    +optionsParameters("azs", "azs", "АЗС")
                    +optionsParameters("apteka", "apteka", "Аптека")
                    +optionsParameters("stroimat", "stroimat", "Строймат.")
