.footer {
    padding: 40px 0 25px;
    background-color: #fff;

    &__logo {
        margin-top: 10px;
        text-align: center;

        @media (min-width: 769px) {
            text-align: left;
        }
        
        a {
            img {
                width: 156px;
            }
        }
    }

    &__social {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        color: #919FA3;
        justify-content: center;
        align-items: center;

        @media (min-width: 769px) {
            justify-content: flex-end;
        }
        
        &-title {
            margin-top: 20px;

            @media (min-width: 769px) {
                margin-top: 0;
                margin-right: 30px;
            }
        }

        &-nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                margin-top: 20px;
                
                @media (min-width: 769px) {
                    margin-top: 0;
                }

                li {
                    list-style: none;
                    margin-left: 15px;
                }
            }
        }
    }

    &--top {
        padding: 30px 0 20px;
        border-top: 1px solid #EFF3F4;
        border-bottom: 1px solid #EFF3F4;
    }

    &--bottom {
        padding: 40px 0 25px;

        .footer__nav {
            column-count: 1;

            @media (min-width: 769px) {
                column-count: 3;
            }
            
            @media (min-width: 991px) {
                column-count: 3;
            }
            
            @media (min-width: 1397px) {
                column-count: 4;
            }
            
            &-item {
                display: block;
                margin-bottom: 15px;
            }

            a {
                font-size: 14px;
                line-height: 24px;
                color: $body-color;
            }
        }
    }

    &__contacts {
        font-size: 14px;
        color: #919FA3;
        margin-top: 20px;

        @media (min-width: 769px) {
            margin-top: 30px;
        }
        
        @media (min-width: 1201px) {
            margin-top: 0;
        }

        &-mail {
            width: 100%;

            a {
                font-size: 18px;
                color: $body-color;
                margin-left: 12px;
            }
        }

        &-button {
            margin-top: 20px;
            
            @media (min-width: 769px) {
                margin-top: 0;
            }
            @media (min-width: 1201px) {
                margin-top: 30px;
            }

            .btn {
                width: 100%;
                max-width: 290px;
                color: $success;

                @media (max-width: 480px) {
                    max-width: 100%;
                }
                &:hover,
                &:focus {
                    color: #fff;
                }
            }
        }
    }

    &__copyright {
        margin-top: 25px;
        font-size: 14px;
    }

    // Текстовый блок
    &-description{
        padding: 40px 0;

        @media (min-width: 769px) {
            padding: 40px 0 140px;
        }

        @media (min-width: 991px) {
            padding: 40px 0 160px;
        }

        h2 {
            margin-bottom: 45px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    // Feedback по ошибкам
    &-feedback {
        &__wrap {
            padding: 30px 0;
            background-color: $gray-100;
            border-radius: 15px;

            .btn {
                width: 100%;
                max-width: 310px;
                color: $success;

                &:hover,
                &:focus {
                    color: #fff;
                }
            }
        }

        &-village {
            padding: 100px 0 40px;
            &__img {
                max-width: 320px;
            }
            &__list {
                padding: 40px 16px;
                margin-top: 100px;

                a {
                    display: block;
                    margin: 0 24px;
                }
            }
            
            &__text {
                p {
                    margin-top: 30px;
                }
            }
            &__buttons {
                margin-top: 40px;
            }

            .article-image-card {
                position: relative;
                height: 290px;
                width: 100%;
                border-radius: 15px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding: 20px;

                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    background-color: #333;
                    position: absolute;
                    opacity: .75;
                }

                &__title {
                    z-index: 9;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 22px;
                    line-height: 36px;
                    font-family: 'Trojan';
                    text-decoration: none;
                }

                &__like {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    text-align: left;
                    font-size: 12px;
                    font-weight: 700;
                    color: #fff;
                    text-decoration: none;

                    svg {
                        margin-right: 10px;

                        path {
                            fill: #fff;
                        }
                    }
                }
                &:hover {
                    text-decoration: none;

                    &:before {
                        opacity: .5;
                    }
                }
            }
        }
    }
}