.footer-feedback-village
    .container
        .row
            .col-lg-4.col-md-5.px-5
                img.w-100.lazyload.footer-feedback-village__img(src="/assets/img/content/feedback-village@2x.jpg" alt="")
            .col-xl-5.col-lg-6.col-md-7.footer-feedback-village__text
                .h1 Не нашли ничего&nbsp;подходящего?
                p Оставьте заявку, и мы подберем для вас варианты, которые должны Вам подойти

                .d-flex.footer-feedback-village__buttons
                    a.btn.btn-warning.rounded-pill.mr-4(href="#") Оставить заявку
                    a.btn.btn-outline-secondary.rounded-pill(href="#") Подробнее

    .container.bg-light.footer-feedback-village__list
        #instaSlider.w-100
            a(href="#" target="_blank")
                img(src="/assets/img/content/instagramm.png" alt="")
            a(href="#" target="_blank")
                img(src="/assets/img/content/instagramm.png" alt="")
            a(href="#" target="_blank")
                img(src="/assets/img/content/instagramm.png" alt="")
            a(href="#" target="_blank")
                img(src="/assets/img/content/instagramm.png" alt="")
