.footer-feedback
    .container
        .row
            .col-12
                .footer-feedback__wrap
                    .row.align-items-center.text-center.text-lg-left
                        .offset-lg-1.col-lg-6.offset-xl-2.col-xl-5
                            h3 Нашли ошибку или неактуальную информацию?
                        .col-xl-3.col-lg-4.px-3.mt-3.mt-lg-0
                            a.btn.btn-outline-secondary.rounded-pill(href="#") Сообщить об ошибке