footer.footer
    .footer--top
        .container
            .row
                .col-lg-6.col-sm-4
                    .footer__logo
                        a(href="#")
                            img(src="/assets/img/site/logo.png", alt="Посёлкино")

                .col-lg-6.col-sm-8
                    .footer__social
                        .footer__social-title Следите за нами в соц. сетях:
                        .footer__social-nav
                            ul
                                li
                                    a(href="#")
                                        svg.inline-svg(src="img/site/vk-color.svg")
                                li
                                    a(href="#")
                                        svg.inline-svg(src="img/site/fb-color.svg")

                                li
                                    a(href="#")
                                        svg.inline-svg(src="img/site/inst.svg")

    .footer--bottom
        .container
            .row
                .col-xl-9.col-lg-8.pr-xl-5
                    .footer__nav
                        .footer__nav-item
                            a(href="#") Коттеджные поселки
                        .footer__nav-item
                            a(href="#") Дачные поселки
                        .footer__nav-item
                            a(href="#") По шоссе
                        .footer__nav-item
                            a(href="#") По районам
                        .footer__nav-item
                            a(href="#") По направлению
                        .footer__nav-item
                            a(href="#") О проекте
                        .footer__nav-item
                            a(href="#") Блог
                        .footer__nav-item
                            a(href="#") Реклама и сотрудничество
                        .footer__nav-item
                            a(href="#") Контакты
                        .footer__nav-item
                            a(href="#") Карта сайта
                        .footer__nav-item
                            a(href="#") Политика конфиденциальности
                        .footer__nav-item
                            a(href="#") Пользовательское соглашение
                .col-xl-3.pl-xl-0.col-lg-4
                    .row.footer__contacts.align-items-sm-center.align-items-lg-start.align-items-start
                        .col-lg-12.col-sm-6.col-12.text-sm-right
                            .footer__contacts-mail Контакты:
                                | &nbsp;
                                a(href="mailto:welcome@poselkino.ru") welcome@poselkino.ru
                        
                        .col-lg-12.col-sm-6.col-12
                            .footer__contacts-button.text-lg-right
                                a.rounded-pill.btn.btn-outline-secondary(href="#") Написать нам
        .container
            .row
                .col-12
                    .footer__copyright.text-secondary © 2019 Все права защищены