.footer-description
    .container
        .row
            .offset-lg-1.col-lg-10.offset-xl-2.col-xl-8
                h2 Земельные участки под дом и дачу 
                    br.d-none.d-sm-block
                    | с хорошим месторасположением
                p База коттеджных и дачных поселков в Московской области. Каталог позволяет найти участки по нужным шоссе и районам, по площади и стоимости, по удаленности от МКАД и коммуникациям. Каждый поселок имеет свой рейтинг, оценку пользователей и отзывы.
                p Вы можете узнать всю необходимую информацию об интересующем вас поселке, не выходя из дома. На сайте есть фото и видео обзоры поселков, юридическая информация и объекты неблагоприятной