.tag-list {
    margin: 30px 0;
    box-shadow: -20px 0 15px 15px #f7fafc;
    display: flex;
    flex-wrap: wrap;
    height: 135px;
    overflow-y: hidden;

    @media (min-width: 992px) {
        margin: 40px 0;
    }

    &__item {
        margin-right: 10px;
        padding-bottom: 20px;
        outline: none !important;

        a {
            display: block;
            padding: 15px 20px;
            border-radius: 30px;
            color: $body-color;
            background-color: #fff;
            box-shadow: 0 10px 15px 0 rgba(156, 167, 178, 0.08);
            font-size: 12px;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                background-color: $success;
                color: rgba(#fff, .6);

                .text-secondary {
                    color: #fff !important;
                }
            }

            &:focus {
                outline: none !important;
            }
        }
    }


    .slick {
        &-prev,
        &-next {
            opacity: 0;
            top: 25px;
        }

        &-prev {
            left: 0;
    
            svg {
                transform: rotate(180deg);
            }
        }
    
        &-next {
            right: 0;
        }
    }

    &:hover {
        .slick-next,
        .slick-prev {
            opacity: 1;
        }
    }
}
