.tag-list
    .tag-list__item
        a(href="#") Коттеджные
            | &nbsp;
            span.text-secondary 286
    .tag-list__item
        a(href="#") Дачные
            | &nbsp;
            span.text-secondary 178
    .tag-list__item
        a(href="#") С газом
            | &nbsp;
            span.text-secondary 200
    .tag-list__item
        a(href="#") С электричеством
            | &nbsp;
            span.text-secondary 424
    .tag-list__item
        a(href="#") Комфорт
            | &nbsp;
            span.text-secondary 272
    .tag-list__item
        a(href="#") Участки 500 тыс. руб
            | &nbsp;
            span.text-secondary 71
    .tag-list__item
        a(href="#") Коттеджные
            | &nbsp;
            span.text-secondary 286
    .tag-list__item
        a(href="#") Дачные
            | &nbsp;
            span.text-secondary 178
    .tag-list__item
        a(href="#") С газом
            | &nbsp;
            span.text-secondary 200
    .tag-list__item
        a(href="#") С электричеством
            | &nbsp;
            span.text-secondary 424
    .tag-list__item
        a(href="#") Комфорт
            | &nbsp;
            span.text-secondary 272
    .tag-list__item
        a(href="#") Участки 500 тыс. руб
            | &nbsp;
            span.text-secondary 71
