.form {
    &-control {
        border-radius: 15px;
        font-size: 14px;
        line-height: 1.71;
        height: 60px;
        padding-left: 22px;
        border-color: #e1e8ea;

        &:hover {
            border-color: rgba($success, 0.3);
        }

        &:focus {
            box-shadow: none;
            border-color: $success;
        }
    }

    &-group {
        &-inline {
            display: flex;
            align-items: center;
            margin: 0;

            label {
                min-width: 85px;
                font-size: 12px;
                color: #919fa3;
                margin: 0 15px 0 0;
            }

            .right-text {
                font-size: 14px;
                margin-left: 5px;
                color: #919fa3;
                font-stretch: normal;
            }
        }
    }
}

.selectric-focus,
.selectric-hover {
    .selectric {
        border-color: #f6f9fb;
    }
}

.selectric {
    display: flex;
    align-items: center;
    border-color: #f6f9fb;
    background-color: #f6f9fb;
    border-radius: 15px;
    height: 60px;

    &-open {
        .selectric {
            border-color: #f6f9fb;
            background-color: #f6f9fb;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &-items {
                border: none;
                background-color: #f6f9fb;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: none;

                li {
                    padding: 15px 24px;

                    &:last-child {
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }

                    &.highlighted,
                    &.highlighted:hover {
                        background-color: $success;
                        color: #fff;
                        font-weight: 700;
                    }

                    &:hover {
                        background-color: rgba($success, 0.3);
                    }
                }
            }
        }
    }

    span {
        &.label {
            height: auto;
            padding: 20px 15px;
            font-size: 16px;
            color: $body-color;
        }
    }

    b {
        &.button {
            top: 11px;

            &:after {
                border: none;
                opacity: .5;
                width: 12px;
                height: 7px;
                content: url('/assets/img/site/back-success.svg');
            }
        }
    }

    &:hover,
    &:focus,
    .selectric-focus {
        border-color: #f6f9fb;
    }

    &-select {
        &-success {
            span {
                &.label {
                    color: $success;
                }
            }
            b {
                &.button {
                    &:after {
                        content: url('/assets/img/site/back-success.svg');
                    }
                }
            }
        }
        &-bold {
            span {
                &.label {
                    font-size: 14px;
                    font-weight: 700;
                    padding: 0;
                }
            }
            b {
                &.button {
                    &:after {
                        content: url('/assets/img/site/back-success.svg');
                    }
                }
            }
        }
    }

    &-hover-white {
         // Настроить белы
    }
}

.dropdown-success {
    color: $success !important;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;

    svg {
        margin-left: 10px;
        transition: .2s ease-in-out;

        .cls-1 {
            opacity: 1;
        }

        .cls-2 {
            fill: $success;
        }

    }

    &:hover {
        text-decoration: underline !important;
    }

    &[aria-expanded="true"] {
        svg {
            transform: rotate(180deg);
        }
    }
    &.extra-options--hide {

        &:hover,
        &:focus {
            text-decoration: none !important;
        }
    }
}

.custom-control-label {
    &:after, 
    &:before {
        width: 25px;
        height: 25px;
        top: -4px;
        left: -40px;
        box-shadow: none;
    }

    &:before {
        border-color: #E1E8EA !important;
        box-shadow: none !important;
    }
}

.custom-checkbox {
    input,
    label {
        cursor: pointer;
    }

    .custom-control-input {
        &:checked {
            ~.custom-control-label {
                &:after{
                    background-image: url(/assets/img/site/check.svg);
                    background-size: 10.271px 7.809px;
                    box-shadow: none;
                }

                &::before {
                    box-shadow: none;
                    border-color: $success !important;
                    background-color: $success;
                }
            }
        }
    }
}