extends ../../layouts/default.pug

block head
    - var title = 'Коттеджный поселок';
    - var keywords = 'Коттеджный поселок';
    - var description = 'Коттеджный поселок';
    - var pageClass = 'page-village page-va-list';

block yandexApi
    script(src="https://api-maps.yandex.ru/2.1/?apikey=0c55e225-bb2b-4b98-94a5-3390b6dbf643&lang=ru_RU")
    script(src="/assets/js/map-village.js")
block content
    .bg-white
        .container.d-none.d-sm-block
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item
                    a(href="/village/index.html", title="Перейти к списку поселков") Поселки
                li.breadcrumb-item.active(aria-current="page") Отзывы о поселке Новое Горелово
        .container.developer__info
            .row
                .col-sm-4.d-none.d-sm-block
                    a(href="#")
                        img.logo(src="/assets/img/content/developer.png", alt="")
                .col-sm-8
                    h1.title Своя Земля
                    .subtitle.font-weight-bold Компания Своя Земля: отзывы, рейтинг поселки
                    .d-sm-none
                        a(href="#")
                            img.logo(src="/assets/img/content/developer.png", alt="")
                    .row.d-none.d-lg-flex
                        mixin infoCol(title, value)
                            .col-lg-4.info-col
                                .title= title
                                .value.font-weight-bold= value
                        +infoCol('Юридическое лицо:', '«Своя Земля»')
                        +infoCol('Рейтинг компании:', '4.2')
                        +infoCol('Поселков в продаже:', '12')
                        +infoCol('Сколько лет на рынке:', '11 лет')
                        +infoCol('Средний рейтинг поселков:', '4.7')
                        +infoCol('Всего отзывов:', 'Нет данных')

                    .address.d-none.d-lg-block
                        .title.d-inline Адрес:
                        | &nbsp;
                        .d-inline.font-weight-bold Москва, 105005, м.Бауманская, ул. Фридриха Энгельса, дом 20, стр.2
                
                    .row.developer__info--bottom.d-none.d-lg-flex
                        .col-lg-4
                            a.btn.btn-warning.rounded-pill.w-100(href="#review") Оставить отзыв
                        .col-lg-5
                            .text.mt-3.mt-md-0.text-center.text-md-left Мы передадим ваши контактные данные представителям поселка 
                // Дублирование кода выше, для адаптива
                .col-12
                    .row.d-lg-none
                        mixin infoCol(title, value)
                            .col-sm-4.info-col
                                .title= title
                                .value.font-weight-bold= value
                        +infoCol('Юридическое лицо:', '«Своя Земля»')
                        +infoCol('Рейтинг компании:', '4.2')
                        +infoCol('Поселков в продаже:', '12')
                        +infoCol('Сколько лет на рынке:', '11 лет')
                        +infoCol('Средний рейтинг поселков:', '4.7')
                        +infoCol('Всего отзывов:', 'Нет данных')

                    .address.d-lg-none
                        .title.d-inline Адрес:
                        | &nbsp;
                        .d-inline.font-weight-bold Москва, 105005, м.Бауманская, ул. Фридриха Энгельса, дом 20, стр.2
                
                    .row.developer__info--bottom.d-lg-none
                        .col-md-4
                            a.btn.btn-warning.rounded-pill.w-100(href="#review") Оставить отзыв
                        .col-md-5
                            .text.mt-3.mt-md-0.text-center.text-md-left Мы передадим ваши контактные данные представителям поселка 
   
    .bg-white.py-md-4.py-2
        .pb-5
            include ../../sections/review/review-list
            //- Вместо кнопки добавляем пагинацию
    .high-raiting
        .container
            h2 Скорее всего вам будут интересны данные поселки:
            #raiting-area-home-slick.block-page__offer
                +card('Дачный поселок Лесная Опушка 1', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 2', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 3', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 4', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
    
    .bg-white.py-4
        include ../../sections/footer/footer-feedback-village
