extends ../../layouts/default.pug

block head
    - var title = 'Коттеджный поселок';
    - var keywords = 'Коттеджный поселок';
    - var description = 'Коттеджный поселок';
    - var pageClass = 'page-village page-va-list';

block yandexApi
    script(src="https://api-maps.yandex.ru/2.1/?apikey=0c55e225-bb2b-4b98-94a5-3390b6dbf643&lang=ru_RU")
    script(src="/assets/js/map-village.js")
block content
    .bg-white
        .container.d-none.d-sm-block
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item
                    a(href="/village/index.html", title="Перейти к списку поселков") Поселки
                li.breadcrumb-item.active(aria-current="page") Отзывы о поселке Новое Горелово
        .container.mt-md-5
            .row
                .order-0.col-12.d-md-none
                    .page-title
                        h1.h2 Коттеджный поселок Новое Горелово
                        
                .order-2.order-md-1.col-md-6
                    .page-title.d-none.d-md-block
                        h1.h2 Коттеджный поселок Новое Горелово
                        .wrap-raiting.mt-4
                            .card-house__raiting
                                .raiting.d-flex
                                    .star-line
                                        - for (var x = 0; x < 5; x++)
                                            .star-item
                                                svg.inline-svg.full(src="img/site/star.svg")
                                        .star-item
                                            svg.inline-svg(src="img/site/star.svg")
                                    .star-title 4.1
                            .card-house__review.review
                                .d-flex.justify-content-start.text-left
                                    a(href="#")
                                        svg.inline-svg(src="img/site/comment.svg")
                                        | 2 отзыва от жителей
                    .row
                        .col-xl-6
                            a.area-link(href="#") 
                                svg.inline-svg(src="img/site/placeholder.svg")
                                | Павлово-Посадский р-н, д.&nbsp;Большие&nbsp;Дворы
                            
                            .metro.d-flex.flex-wrap
                                a(href="#")
                                    span.metro-color.novoryazanskoe
                                    span.metro-name Новорязанское шоссе
                            a.metro-other(href="#") 8 км от МКАД
                        .col-xl-6
                            .card-house__inline.d-flex
                                .icon
                                    img.mr-3.rub(src="/assets/img/site/rub.svg" alt="")
                                .card-house__inline-title Площадь участков:
                                    | &nbsp;
                                .card-house__inline-value от 6 до 30 соток
                            .card-house__inline.d-flex
                                .icon
                                    img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                                .card-house__inline-title Площадь домов:
                                    | &nbsp;
                                .card-house__inline-value от 170 до 500 м
                                    sup 2
                        .col-xl-6
                            .va-list-value
                                .va-list-value__item Всего участков: 250
                                .va-list-value__item Участков в продаже: 228
                                .va-list-value__item Продано: 22
            
                .order-1.order-md-2.col-md-6
                    include ../../sections/village-slider/village-slider
    .bg-white.py-md-4.py-2
        .pb-5
            include ../../sections/review/review-list
            //- Вместо кнопки добавляем пагинацию
    .high-raiting
        .container
            h2 Скорее всего вам будут интересны данные поселки:
            #raiting-area-home-slick.block-page__offer
                +card('Дачный поселок Лесная Опушка 1', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 2', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 3', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 4', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
    
    .bg-white.py-4
        include ../../sections/footer/footer-feedback-village
