extends ../../layouts/default.pug

block head
    - var title = 'Блог';
    - var keywords = 'Блог';
    - var description = 'Блог';
    - var pageClass = 'page-blog';

block content
    .bg-white.page-va-list__info
        .container.d-none.d-sm-block
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item.active(aria-current="page") Блог
        .container.pt-0.pt-sm-3.pt-md-5
            .row.align-items-center
                .col-12.mt-0.mb-3
                    h1.my-0.title Блог
                .col-12.pl-lg-0
                    ul.nav.flex.justify-content-lg-end.blog-navigation
                        li.nav-item.mt-3.mt-lg-0
                            a.btn.btn-warning.rounded-pill.px-5.ml-xl-3.ml-lg-2.ml-0.mr-2(href="/blog/" title='Все') Все
                        li.nav-item.mt-3.mt-lg-0
                            a.btn.btn-outline-secondary.rounded-pill.px-5.ml-xl-3.ml-lg-2.ml-0.mr-2(href="/blog/" title='Новости') Новости
                        li.nav-item.mt-3.mt-lg-0
                            a.btn.btn-outline-secondary.rounded-pill.px-5.ml-xl-3.ml-lg-2.ml-0.mr-2(href="/blog/" title='Про участки') Про участки
                        li.nav-item.mt-3.mt-lg-0
                            a.btn.btn-outline-secondary.rounded-pill.px-5.ml-xl-3.ml-lg-2.ml-0.mr-2(href="/blog/" title='Про дома') Про дома
                        li.nav-item.mt-3.mt-lg-0
                            a.btn.btn-outline-secondary.rounded-pill.px-5.ml-xl-3.ml-lg-2.ml-0.mr-2(href="/blog/" title='Обзор рынка') Обзор рынка
    mixin blog()
        .col-xl-3.col-md-4.col-sm-6
            a.article-card.blog-item(href="#")
                .article-card__img(style="background: #eee url(/assets/img/content/article@2x.jpg); background-size: cover; background-position: center center;")
                .article-card__content
                    .article-card__title Нужен ли магистральный газ на участке?
                    .article-card__text Если вы задумываетесь о земельном участке для строительства...
                .article-card__footer
                    .article-card__date 3 апреля 2019
                    .article-card__share
                        svg.inline-svg(src="img/site/share.svg")
                        | 
                        | 228
    .bg-gray.py-2.py-md-5
        .container
            .row.blog-list
                +blog
                +blog
                +blog
                +blog
                +blog
                +blog
                +blog
                +blog
                +blog
                +blog
                +blog
                +blog
        .container.mt-5
            include ../../sections/pagination/pagination.pug