extends ../../layouts/default.pug

block head
    - var title = 'Нужен ли магистральный газ на участке?';
    - var keywords = 'Блог';
    - var description = 'Блог';
    - var pageClass = 'page-blog';

block content
    .container.mt-3.mt-md-5.mb-0.mb-md-5
        .row
            .offset-xl-2.col-xl-8.offset-md-1.col-md-10
                .bg-white.py-4.py-md-5.shadow-contet
                    .row
                        .offset-1.col-10
                            ol.breadcrumb.d-none.d-sm-flex
                                li.breadcrumb-item
                                    a(href="/") Главная
                                li.breadcrumb-item
                                    a(href="/blog/") Блог
                                li.breadcrumb-item.active(aria-current="page") Нужен ли магистральный газ на участке?
                            .d-block.d-sm-none
                                a.back(href="/blog/")
                                    svg.inline-svg(src='img/site/left-arrow.svg')
                                    | Вернуться назад
                            .content
                                .content__title
                                    h1.mt-3.mt-sm-5 Нужен ли магистральный газ на участке?
                                    span.date 3 Апреля 2020
                                .content__body.mt-5
                                    .content__img
                                        img(src="/assets/img/content/gaz.png", alt="")
                                    p Если вы задумываетесь о приобретении земельного участка для строительства дачного дома и летнего отдыха, то вопрос газификации можно не затрагивать, в нем просто нет необходимости. А вот в случае, когда ваша цель – жилой дом, тогда нужно обязательно заранее решить этот вопрос, ведь с наступлением холодов, у вас не останется на это времени

                                    p В Московском регионе отопительный сезон длится по срокам 6-7 месяцев в период с ноября по апрель, больше половины года. 

                                    p Поэтому, если подойти к вопросу отопления поверхностно, можно тратить большие и неоправданные суммы каждый год. Сейчас существует несколько возможных вариантов получения домашнего тепла. Рассмотрим каждый отдельно..

                                    .content__over-article.over-article
                                        .row
                                            .col-lg-4
                                                img.rounded(src="/assets/img/content/gaz.png", alt="")
                                            .col-lg-8
                                                .over-article__tag.mt-3.mt-md-0 Читайте также
                                                h4 Дачный поселок Лесная Опушка
                                                p Большинство новых коттеджных поселков не имеет возможности газификации, поэтому собственники, недолго думая, приобретают электрические обогреватели, которые их спасают.
                                                a.font-weight-bold.text-success.stretched-link(href='#') Читайте дальше
                                    h2 Способо №1. Электричество
                                    p Большинство новых коттеджных поселков не имеет возможности газификации, поэтому собственники, недолго думая, приобретают электрические обогреватели, которые их спасают в холодные месяцы. Электричество есть в каждом доме, а расчетная мощность, выделяемая каждому жителю, составляет в среднем 15 кВт, чего вполне достаточно для обогрева крупного строения. Но этот метод весьма затратный, и плата может доходить до 20-25 тысяч рублей ежемесячно.
                                    ul
                                        li Пункт 1
                                        li Пункт 2
                                        li Пункт 3
                                .content__footer.mt-5
                                    .content__shared
                                        mixin social-item(className, svgName)
                                            a.social-card__nav-link(href="#" class=className)
                                                svg.inline-svg(src="img/site/"+svgName+".svg")
                                        .social-card__title
                                            svg.inline-svg(src="img/site/link-arrow.svg")
                                            | &nbsp;
                                            | Поделиться статьей:
                                        .social-card__nav
                                            +social-item('vk', 'vk')
                                            +social-item('fb', 'fb')
                                            +social-item('tw', 'twitter')
                                            +social-item('ok', 'ok')
                                            +social-item('tg', 'tg')

                .content__tag-line
                    span #
                    a(href="#") Про участки
                    a(href="#") Про дома

    .article.article-home
        .container
            .row
                .col-12
                    h3.h2.text-center Читайте также:
                .col-12.px-3
                    #slider_article.slider-article
                        +article('')
                        +article('')
                        +article('')
                        +article('')
                        +article('')
