.article-card {
    display: block;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(#9CA7B2, 0.07);
    padding-bottom: 10px;
    width: 310px;
    margin: 30px 15px;

    &.blog-item {
        width: 100%;
        margin: 30px 0 0;
    }

    &__img {
        height: 148px;
        width: 100%;
        background-color: #eee;
        border-radius: 15px 15px 0 0;
    }

    &__content {
        padding: 30px 20px 0;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: $body-color;
        min-height: 48px;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #919FA3;
        margin-top: 14px;
    }
    
    &__footer {
        padding: 16px 20px;
        margin: 20px 10px 0;
        border-radius: 15px;
        background-color: #F6F9FB;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        color: $body-color;
    }

    &__date {
        color: #919FA3;
    }

    &__share {
        svg {
            margin-right: 8px;
        }
    }

    &:hover {
        box-shadow: 0 15px 30px rgba(#9CA7B2, 0.2);
        text-decoration: none;
    }
}
