mixin article(title)
    a.article-card(href="#")
        .article-card__img(style="background: #eee url(/assets/img/content/article@2x.jpg); background-size: cover; background-position: center center;")
        .article-card__content
            .article-card__title Нужен ли магистральный
            .article-card__text Если вы задумываетесь о земельном участке для строительства...
        .article-card__footer
            .article-card__date 3 апреля 2019
            .article-card__share
                svg.inline-svg(src="img/site/share.svg")
                | 
                | 228