.shadow-contet {
    box-shadow: 0 20px 40px rgba(#9CA7B2, 0.07);
    border-radius: 15px;
}

.content {
    &__title {
        .date {
            font-size: 14px;
            line-height: 18px;
            color: #919FA3;
        }
    }
    &__img {
        margin-bottom: 60px;

        img {
            width: 100%;
        }
    }
    &__body {
        h2, h3 {
            margin-bottom: 30px;
        }

        ul {
            list-style: none;
            margin: 25px 0 0;
            padding: 0;

            li {
                position: relative;
                padding-left: 30px;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 20px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 12px;
                    background: url('../img/site/tick.svg') no-repeat;
                    background-size: cover;
                    left: 0;
                    top: 4px;
                }
            }
        }
    }
    &__footer {
        .content__shared {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-self: flex-start;

            .social-card {
                &__title {
                    margin-right: 30px;
                    svg {
                        height: 12px;
                    }

                    font-size: 14px;
                }
            }
        }
    }
}

.over-article {
    margin: 60px 0;
    &__tag {
        color: #919FA3;
        font-size: 14px;
    }
    img {
        width: 100%;
    }

    p {
        font-size: 12px;
        margin-top: 15px;
    }

    h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    a {
        font-size: 16px;
        margin-top: 15px;
    }
}

.content {
    &__tag-line {
        margin-top: 20px;
        display: flex;
        align-items: center;

        span {
            font-size: 17px;
            font-weight: bold;
            color: #919FA3;
            margin-right: 20px;
        }

        a {
            padding: 15px 23px;
            color: #3C4B5A;
            font-size: 12px;
            line-height: 1;
            font-weight: 500;
            background-color: #fff;
            border-radius: 20px;
            margin-right: 15px;
            box-shadow: 0 10px 15px rgba(#9CA7B2, 0.08);
            transition: .2s ease-in-out;

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: $success;
                color: #fff;
                box-shadow: 0 10px 15px rgba($success, 0.08);
            }
        }
    }
}