.slick {
    &-list {
        border-radius: 15px;
    }
    &-slide {
        outline: none!important;

        &:focus {
            outline: none !important;
        }
    }
    &-next,
    &-prev {
        opacity: 1;
        width: 40px;
        height: 40px;
        background-color: rgba(#000, .4);
        border-radius: 50%;
        z-index: 9;
        top: calc(50% + 12.5px);
        transition: .2s ease-in-out;
        box-shadow: none;

        &:focus {
            border-color: rgba(#000, .6);
            background-color:rgba(#000, .6);
        }

        &[aria-disabled="true"] {
            z-index: -1;
        }

        &:hover,
        &:focus {
            border-color: rgba(#000, .6);
            background-color:rgba(#000, .6);
        }

        &:before {
            display: none;
        }
        svg {
            path {
                fill: #fff;
            }
        }
    }

    &-prev {
        left: 15px;

        svg {
            transform: rotate(180deg);
        }
    }

    &-next {
        right: 15px;
    }
}
