mixin offer(classCol, title, svg, bg)
    .d-block(class=classCol)
        a.stretched-link(href="#")
        .offer-card(style="background-color: "+bg+";")
            .offer-card__icon
                img.inline-svg(src="img/site/"+svg+".svg")
            .offer-card__title!=title
