.hero { 
    h1 {
        @media (min-width: 769px) {
            margin-top: 10px;
            font-size: 30px;
            line-height: 50px;
        }
    }

    .col-type {
        @media (min-width: 1397px) {
            border-right: 1px solid #eee;
            margin-top: -20px;
            margin-bottom: -20px;
            height: calc(100% + 40px);
            padding-top: 20px;
        }
    }
    
    .form-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media (min-width: 769px) {
            background-color: #fff;
            box-shadow: 0 20px 30px rgba(#20383C, .1);
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 16px;
            padding: 20px 15px;
        }

        @media (min-width: 991px) {
            padding: 20px 0;
            align-items: flex-end;
        }

        .selectric-select-bg-white .selectric {
            @media (min-width: 769px) {
                border-color: #e1e8ea;
            }

            &.selectric-open {
                .selectric {
                    border-color: #77a86d;
                }
            }
        }
        .btn-outline-warning{
            
            @media (min-width: 769px) {
                padding-left: 5px;
                padding-right: 5px;
            }
            @media (min-width: 1397px) {
                width: 115px !important;
            }
        }
    }   

    @media (min-width: 769px) {
        padding: 0 15px;
    }
    
    &-wrap {
        background: #999 url('/assets/img/site/hero@2x.jpg') no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 25px 15px;
        margin-bottom: 60px;
        color: #fff;
        margin-left: -15px;
        margin-right: -15px;

        @media (min-width: 769px) {
            padding: 70px 15px;
            border-radius: 15px;
            margin-left: 0;
            margin-right: 0;
        }

        @media (min-width: 1397px) {
            padding: 80px 50px;
        }

        &__title {
            margin-bottom: 20px;
        }
    }

    &-info {
        display: none;
        border-top: 1px solid rgba(#fff, .2);
        margin-top: 20px;
        padding-top: 20px;

        @media (min-width: 769px) {
            margin-top: 0;
            display: block;
        }

        &-show {
            cursor: pointer;

            path {
                fill: #fff;
                opacity: .7;
            }

            &:hover {
                path {
                    opacity: 1;
                }
            }
        }
    }

    label {
        color: #fff;
        margin-top: 15px;
        margin-bottom: 10px;

        @media (min-width: 769px) {
            color: #919FA3;
        }
    }

    .modal {
        color: #3C4B5A;
        label {
            color: #919FA3;
        }
    }
    .selectric-items {
        width: 100% !important;
    }

    .btn {
        &.other-parameters,
        &-warning {
            margin-top: 15px;
        }
        &-warning {
            @media (min-width: 769px) {
                margin-top: 44px;
            }

            @media (min-width: 991px) {
                padding-left: 5px;
                padding-right: 5px;
            }
            
            @media (min-width: 1397px) {
                margin-top: 0;
            }
        }
        &.other-parameters {
            background-color: rgba(#182527, .2);
            color: #fff;
            border: none;
            @media (min-width: 1397px) {
                margin-top: 20px;
            }

            &:hover,
            &:focus {
                color: $body-color;
                background-color: #fff;
            }
        }
    }

    &__count {
        color: #fff;
        font-weight: 700;

        @media (min-width: 769px) {
            margin-top: 15px;
        }

        @media (min-width: 769px) {
            display: flex;
            align-items: center;
        }
        @media (min-width: 1397px) {
            margin-top: 80px;
        }

        &-num {
            margin-top: 30px;
            font-size: 28px;
            line-height: 32px;

            @media (min-width: 769px) {
                margin-top: 0;
                margin-right: 20px;
                font-size: 42px;
            }
        }
        &-title {
            margin-top: 5px;
            font-size: 11px;
            line-height: 18px;

            @media (min-width: 769px) {
                font-size: 12px;
                margin-top: 0;
            }
        }
    }
    .col-inline {
        @media (min-width: 1397px) {
            display: flex;
        }

        input {
            @media (min-width: 1397px) {
                width: 100%;
            }
            &.km {
                @media (min-width: 1397px) {
                    width: 70px;
                }
            }
        }
        .form-group {
            @media (min-width: 1397px) {
                margin-left: auto;
            }
        }

        .desktop-rub {
            @media (min-width: 1397px) {
                display: flex;
                width: 40px;
                color: #919FA3;
                font-size: 16px;
                align-items: center;
                margin-left: 15px;
            }
        }
    }
}