.bg-white
    .container.hero
        .row 
            .col-12
                .hero-wrap
                    .row.align-items-center.align-items-sm-start.hero-wrap__title
                        .col-9.col-sm-8.col-md-6
                            h1 Найди лучший поселок для&nbsp;жизни
                        .col-3.text-center.d-flex.d-sm-none
                            img.inline-svg.hero-info-show(src="img/site/information.svg")
                        .col-12.col-sm-4.col-md-3
                            .hero-info
                                p Независимый обзор дачных и&nbsp;коттеджных поселков в&nbsp;Московской области
                    
                    form.row.hero__form(action="")
                        .form-wrap
                            .col-6.col-sm-4.col-md-2.col-xl-2.pr-2.pr-xl-3.col-type
                                select#filter-type.select-bg-white(name="type")
                                    option(value="all" selected) Все
                                    option.house-modal(value="house") Дом
                                    option(value="area") Участок
                            .col-6.col-sm-5.col-md-2.col-xl-1.pl-2.pl-xl-3.pr-xl-0
                                button.btn.btn-outline-warning.rounded-pill.w-100(
                                    type="button"
                                    data-toggle="modal"
                                    data-target="#highwayModal"
                                ) Шоссе
                            .col-12.col-sm-4.col-md-3.col-xl-3.col-inline
                                .form-group.form-group-inline
                                    label от МКАД, км
                                .row
                                    .col-6.pr-2
                                        input#fromMKAD.form-control.km(name="fromMKAD" placeholder="От" data-min-val="2" data-max-val="140" type="text")
                                    .col-6.pl-2
                                        input#toMKAD.form-control.km.mr-0(name="toMKAD" placeholder="До" data-min-val="2" data-max-val="140" type="text")
                            
                            .col-12.col-sm-4.col-md-3.col-xl-4.col-inline
                                .form-group.form-group-inline
                                    label Стоимость
                                        span.rub.d-xl-none , ₽
                                .row
                                    .col-6.pr-2
                                        input#fromPrice.form-control(name="fromPrice" placeholder="От" type="text")
                                    .col-6.pl-2
                                        input#toPrice.form-control(name="toPrice" placeholder="До" type="text")
                                span.d-none.d-xl-flex.right-text.desktop-rub ₽
                            
                            .col-12.col-sm-4.col-md-2.pl-sm-0
                                input.btn.btn-warning.w-100(type="button" value="Подобрать (464)" )
                        .col-12
                            button.w-100.btn.btn-secondary.other-parameters.rounded-pill( type="button" data-toggle="modal" data-target="#searchParamsModal") Дополнительные параметры
                    

                        // Модальное окно с доп. параметрами
                        include ../modal/search-parameters.pug
                    .row
                        .col-4.hero__count
                            .hero__count-num 464
                            .hero__count-title проверенных
                                br
                                | поселков
                        .col-4.hero__count
                            .hero__count-num 516
                            .hero__count-title отзывов
                                br
                                | от жителей
                        .col-4.hero__count
                            .hero__count-num 68
                            .hero__count-title параметров 
                                br
                                | оценки