.high-raiting {
    padding: 25px 0 15px;
    
    @media (min-width: 1201px) {
        padding: 75px 0;
    }

    .block-page__title {
        display: flex;
        align-items: center;

        h2 {
            margin-top: 10px;
        }
        .icon {
            svg {
                width: 35px !important;
                height: 33px !important;

                path {
                    fill: #AC977F !important;
                }
            }
        }
    }
    .tab-content {
        margin-top: 35px;

        .tab-pane {
            display: block;
            height: 0;
            overflow: hidden;

            &.active {
                height: auto;
            }
        }
    }
}