.high-raiting
    .container
        .row.align-items-center
            .col-xl-8.col-md-7.col-sm-6
                .block-page__title.block-page__title--icon.mt-3
                    .icon
                        img.inline-svg(src="img/site/star.svg")
                    h2 Поселки с высоким рейтингом
            .col-xl-4.col-md-5.col-sm-6
                .d-flex.justify-content-end
                    ul.nav.tab-switcher(role="tablist")
                        li
                            a#raiting-area-tab(
                                data-toggle="tab" 
                                href="#raiting-area" 
                                role="tab" 
                                aria-controls="raiting-area" 
                                aria-selected="false")
                                svg.inline-svg(src="img/site/house.svg")
                                | Участок
                        li
                            a#raiting-area-home-tab.active(
                                data-toggle="tab" 
                                href="#raiting-area-home" 
                                role="tab" 
                                aria-controls="raiting-area-home" 
                                aria-selected="true")
                                svg.inline-svg(src="img/site/house-plan.svg")
                                | Участок с домом
    .container
        .tab-content
            #raiting-area.tab-pane(role="tabpanel")
                #raiting-area-slick.block-page__offer
                    +card('Дачный поселок Лесная Опушка 11', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-photo-1")
                    +card('Дачный поселок Лесная Опушка 22', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-photo-2")
                    +card('Дачный поселок Лесная Опушка 33', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-photo-3")
                    +card('Дачный поселок Лесная Опушка 44', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-photo-4")
                    
            #raiting-area-home.tab-pane.active(role="tabpanel")
                #raiting-area-home-slick.block-page__offer
                    +card('Дачный поселок Лесная Опушка 1', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-home-photo-1")
                    +card('Дачный поселок Лесная Опушка 2', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-home-photo-2")
                    +card('Дачный поселок Лесная Опушка 3', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-home-photo-3")
                    +card('Дачный поселок Лесная Опушка 4', 'От 60 000 ₽ до 120 000 ₽', true, false, "raiting-area-home-photo-4")
                    