.breadcrumb {
    background-color: transparent;
    font-size: 14px;
    margin: 0;
    padding: 0;

    &-item {
        +.breadcrumb-item {
            padding-left: 10px;

            @media (min-width: 769px) {
                padding-left: 15px;
            }

            &:before {
                width: 6px;
                height: 11px;
                content: url("/assets/img/site/arrow-right.svg");
                padding-right: 15px;

                @media (min-width: 769px) {
                    padding-right: 20px;
                }
            }
        }

        a {
            color: #919fa3;
        }

        &.active {
            color: $body-color;
        }
    }
}
