extends ../../layouts/default.pug

block head
    - var title = 'Дома и участки в коттеджном поселке Новое Горелово';
    - var keywords = 'Дома и участки в коттеджном поселке Новое Горелово';
    - var description = 'Дома и участки в коттеджном поселке Новое Горелово';
    - var pageClass = 'page-va-list';

block content
    .bg-white.page-va-list__info
        .container.d-none.d-sm-block
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item
                    a(href="/village/index.html", title="Перейти к списку поселков") Поселки
                li.breadcrumb-item
                    a(href="/village/index.html", title="Перейти к списку поселков") КП Осень
                li.breadcrumb-item.active(aria-current="page") Дома и участки в коттеджном поселке Новое Горелово

        .container.mt-md-5
            .row
                .order-0.col-12.d-md-none
                    .page-title
                        h1.h2 Коттеджный поселок Новое Горелово
                        
                .order-2.order-md-1.col-md-6
                    .page-title.d-none.d-md-block
                        h1.h2 Коттеджный поселок Новое Горелово
                        .wrap-raiting.mt-4
                            .card-house__raiting.d-flex
                                +raiting(4, '4.1')
                            .card-house__review.review
                                .d-flex.justify-content-start.text-left
                                    a(href="#")
                                        svg.inline-svg(src="img/site/comment.svg")
                                        | 2 отзыва от жителей
                    .row
                        .col-xl-6
                            a.area-link(href="#") 
                                svg.inline-svg(src="img/site/placeholder.svg")
                                | Павлово-Посадский р-н, д.&nbsp;Большие&nbsp;Дворы
                            
                            .metro.d-flex.flex-wrap
                                a(href="#")
                                    span.metro-color.novoryazanskoe
                                    span.metro-name Новорязанское шоссе
                            a.metro-other(href="#") 8 км от МКАД
                        .col-xl-6
                            .card-house__inline.d-flex
                                .icon
                                    img.rub.mr-3(src="/assets/img/site/rub.svg" alt="")
                                .card-house__inline-title Площадь участков:
                                    | &nbsp;
                                .card-house__inline-value от 6 до 30 соток
                            .card-house__inline.d-flex
                                .icon
                                    img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                                .card-house__inline-title Площадь домов:
                                    | &nbsp;
                                .card-house__inline-value от 170 до 500 м
                                    sup 2
                        .col-xl-6
                            .va-list-value
                                .va-list-value__item Всего участков: 250
                                .va-list-value__item Участков в продаже: 228
                                .va-list-value__item Продано: 22
            
                .order-1.order-md-2.col-md-6
                    include ../../sections/village-slider/village-slider
    .container
        mixin card-house()
            .card-house
                .d-flex.flex-wrap.bg-white.card-grid
                    .card-house__photo.photo
                        .slider__header
                            .slider__label Акция - 30%
                            .photo__buttons
                                button(title="Добавить к сравнению")
                                    svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                                button(title="Добавить в избранное")
                                    svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                        .card-photo__list#card-house-in-village-photo
                            .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                            .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                            .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                        .photo__count
                            span.current 1
                            | &nbsp;
                            | /
                            | &nbsp;
                            //- Общее количество добавляется с бэка
                            span.count 3
                    .card-house__content
                        .wrap-title
                            .card-house__title Дом в посёлке Новое Горелово

                        .card-house__inline
                            svg.inline-svg(src="img/site/house.svg")
                            .card-house__inline-title Площадь дома:
                                | &nbsp;
                            .card-house__inline-value 170 м
                                sup 2
                        .card-house__inline
                            svg.inline-svg(src="img/site/house.svg")
                            .card-house__inline-title Этажей:
                                | &nbsp;
                            .card-house__inline-value 3
                        
                        .card-house__inline
                            svg.inline-svg(src="img/site/house.svg")
                            .card-house__inline-title Материал:
                                | &nbsp;
                            .card-house__inline-value
                                span Клееный брус, облицовочный кирпич, теплая керамика
                                
                        .footer-card.d-flex.align-items-center
                            .footer-card__price 10 355 000 ₽
                            a.btn.btn-outline-warning.rounded-pill(href="#") Подробнее

        mixin card-area()
            .card-house.area
                .d-flex.flex-wrap.bg-white.card-grid
                    .card-house__photo.photo
                        .slider__header
                            .slider__label Акция - 30%
                            .photo__buttons
                                button(title="Добавить к сравнению")
                                    svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                                button(title="Добавить в избранное")
                                    svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                        .card-photo__list
                            .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                            .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                            .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                        .photo__count
                            span.current 1
                            | &nbsp;
                            | /
                            | &nbsp;
                            //- Общее количество добавляется с бэка
                            span.count 3
                    .card-house__content
                        .wrap-title
                            .card-house__title Участок в посёлке Новое Горелово

                        .card-house__inline
                            img.mr-3(src="/assets/img/site/house.svg" alt="")
                            .card-house__inline-title Площадь участков:
                                | &nbsp;
                            .card-house__inline-value от 6 до 30 соток
                        .map-block
                            .map-block__icon
                                img.mr-3(src="/assets/img/site/bus.svg" alt="")
                            .map-block__text
                                .map-block__title На электричке:
                                .map-block__info!= '<b>1 ч. 40 мин.</b> от вокзала: Ярославский'
                        .map-block
                            .map-block__icon
                                img.mr-3(src="/assets/img/site/car.svg" alt="")
                            .map-block__text
                                .map-block__title На автомобиле:
                                .map-block__info!= '<b>1 ч.</b>  от МКАДа без пробок'
                        .footer-card.d-flex.align-items-center
                            .footer-card__price 1 350 000 ₽
                            a.btn.btn-outline-warning.rounded-pill(href="#") Подробнее

        .house-in-village.area-in-village.page__content-list
            .list--grid
                +card-house()
                +card-area()
    
        
    include ../../sections/pagination/pagination.pug
    
    .bg-white.page__map-wrapper
        include ../../sections/map/map-full-link.pug
    
    //- Спецпредложения
    include ../../sections/special_offer/special_offer.pug
    
    include ../../sections/address-tab/address-tab.pug
    .bg-white
        include ../../sections/footer/footer-description.pug
        include ../../sections/footer/footer-feedback.pug
