.selectric-select-bg-white {
    .selectric {
        background-color: #fff;
        border: solid 1px #fff;
    }

    span {
        &.label {
            color: $body-color;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.14;
            padding: 23px 24px;
            margin: 0;
        }
    }

    b {
        &.button {
            background-color: #fff;

            &:after {
                border: none;
                opacity: .7;
                width: 12px;
                height: 7px;
                content: url(/assets/img/site/back.svg);
            }
        }
    }

    &.selectric-hover {
        .selectric {
            border-color: rgba($success, 0.3);
        }
    }
    &.selectric-focus,
    &.selectric-open {
        .selectric {
            border-color: rgba($success, 1);
        }

        .selectric-items {
            border: 1px solid rgba($success, 1);
        }
    }

    &.selectric-open {
        background-color: #fff;

        &.selectric-below {
            .selectric-items {
                background-color: #fff;
                border-top: none;
                border-radius:  0 0 15px 15px;
            }

            .selectric {
                background-color: #fff;
                border-bottom: none;
                border-radius: 15px 15px 0 0;
            }
        }

        &.selectric-above {
            .selectric-items {
                border-bottom: none;
                border-radius: 15px 15px 0 0;
            }

            .selectric {
                border-top: none;
                border-radius:  0 0 15px 15px;
            }
        }
    }
}

.selectric-select-bg-transparent {
    .selectric {
        background-color: transparent;
        border: solid 1px #e1e8ea;
    }

    span {
        &.label {
            color: $success;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.14;
            padding: 23px 24px;
            margin: 0;
        }
    }

    b {
        &.button {
            background-color: transparent;

            &:after {
                border: none;
                opacity: 1;
                width: 12px;
                height: 7px;
                content: url(/assets/img/site/back-success.svg);
            }
        }
    }

    &.selectric-hover {
        .selectric {
            border-color: rgba($success, 0.3);
        }
    }
    &.selectric-focus,
    &.selectric-open {
        .selectric {
            border-color: rgba($success, 1);
        }

        .selectric-items {
            border: 1px solid rgba($success, 1);
        }
    }

    &.selectric-open {
        background-color: #f6f9fb;

        &.selectric-below {
            .selectric-items {
                border-top: none;
                border-radius:  0 0 15px 15px;
            }

            .selectric {
                border-bottom: none;
                border-radius: 15px 15px 0 0;
            }
        }

        &.selectric-above {
            .selectric-items {
                border-bottom: none;
                border-radius: 15px 15px 0 0;
            }

            .selectric {
                border-top: none;
                border-radius:  0 0 15px 15px;
            }
        }
    }
}

.selectric-wrapper {

    &.selectric-open {
        background-color: #f6f9fb;

        &.selectric-below {
            border-radius: 15px 15px 0 0 !important;

            .selectric-items {
                border-top: none;
                border-radius:  0 0 15px 15px !important;

                li {
                    &:last-child {
                        border-radius:  0 0 14px 14px !important;
                    }

                    &:first-child {
                        border-radius: 0 !important;
                    }
                }
            }

            .selectric {
                border-bottom: none;
                border-radius: 15px 15px 0 0 !important;
            }
        }

        &.selectric-above {
            border-radius: 0 0 15px 15px !important;

            .selectric-items {
                border-bottom: none;
                border-radius: 15px 15px 0 0 !important;

                li {
                    &:first-child {
                        border-radius: 14px 14px 0 0 !important;
                    }

                    &:last-child {
                        border-radius: 0 !important;
                    }
                }
            }

            .selectric {
                border-top: none;
                border-radius: 0 0 15px 15px !important;
            }
        }
    }
}
