// Модальное окно Шоссе
mixin highwayCheck(id, title)
    .custom-control.custom-checkbox.custom-control-inline.align-items-center
        input.custom-control-input(id=id, type="checkbox" name=id checked="checked")
        label.custom-control-label(for=id)= title

#highwayModal.modal(
    tabindex="-1"
    role="dialog"
    aria-labelledby="highwayModalLabel"
    aria-hidden="true"
    )
    .modal-dialog.modal-xl(role="document")
        .modal-content
            .modal-header
                .d-flex.w-100.justify-content-between.align-items-center
                    h5.text-uppercase#highwayModalLabel Шоссе
                    button.close.btn-sm(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
            .modal-body
                .row
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Север
                        +highwayCheck("dmitrovskoe", "Дмитровское")
                        +highwayCheck("leningradskoe", "Ленинградское")
                        +highwayCheck("rogachevskoe", "Рогачевское")
                
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Юг
                        +highwayCheck("varshavskoe", "Варшавское")
                        +highwayCheck("simferopolskoe", "Симферопольское")
                    
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Восток
                        +highwayCheck("gorkovskoe", "Горьковское")
                        +highwayCheck("nosovihinskoe", "Носовихинское")
                        +highwayCheck("shelkovskoe", "Щелковское")
                    
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Северо-восток
                        +highwayCheck("yaroslavskoe", "Ярославское")
                        
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Юго-восток
                        +highwayCheck("egorevskoe", "Егорьевское")
                        +highwayCheck("kashirskoe", "Каширское")
                        +highwayCheck("novoryazanskoe", "Новорязанское")
                        
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Запад
                        +highwayCheck("minskoe", "Минское")
                        +highwayCheck("mojaiskoe", "Можайское")
                        +highwayCheck("rublevo-uspenskoe", "Рублево-Успенское")
                    
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Северо-Запад
                        +highwayCheck("volokolamskoe", "Волоколамское")
                        +highwayCheck("novorijskoe", "Новорижское")
                        +highwayCheck("pyatnickoe", "Пятницкое")
                        
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Юго-Запад
                        +highwayCheck("kalujskoe", "Калужское")
                        +highwayCheck("kievskoe", "Киевское")
                        
                    .col-sm-6.col-lg-4.mb-4
                        h5.highway-block__title Другие
                        +highwayCheck("lihachevskoe", "Лихачевское")
                        +highwayCheck("tarakanovskoe", "Таракановское")
                        +highwayCheck("fryanovskoe", "Фряновское")
                
                    .col-12
                        button.btn.btn-warning(type="button" data-dismiss="modal" aria-label="Закрыть") Готово
                
// House
#houseModal.modal
  .modal-dialog.modal-xl.modal-house(role="document")
    .modal-content.p-15
        .modal-header
            .d-flex.w-100.justify-content-between.align-items-center
                h5.text-uppercase Тип дома
                button.close.btn-sm(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
        .modal-body
            .row
                .col-12
                    .d-flex.flex-wrap
                        mixin checkTypeHouse(data)
                            .checkbox-house
                                input.sr-only(type="checkbox" id=data.id, name=data.name)
                                label(for=data.id)= data.title
                        +checkTypeHouse({id:'1', name:'1', title: 'Бревно'})
                        +checkTypeHouse({id:'2', name:'2', title: 'Брус'})
                        +checkTypeHouse({id:'3', name:'3', title: 'Газобетон'})
                        +checkTypeHouse({id:'4', name:'4', title: 'Каркасный'})
                        +checkTypeHouse({id:'5', name:'5', title: 'Кирпич'})
                        +checkTypeHouse({id:'6', name:'6', title: 'Монолит'})
                        +checkTypeHouse({id:'7', name:'7', title: 'Пеноблок'})
                        +checkTypeHouse({id:'8', name:'8', title: 'Другое'})
                .col-lg-5.col-md-6
                    .modal-area-home
                        .modal-area-home__input
                            .d-flex.align-items-center
                                .modal-area-home__title Площадь дома кв. м.
                                input#modalAreaStart(type="text" value='0')
                                input#modalAreaEnd(type="text" value='0')
                        #slider-range.modal-area-home__range
                .col-lg-7.col-md-6.mt-3.mt-md-0
                    .d-flex.flex-wrap
                        .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                            input#noDecoration.custom-control-input(type="checkbox" name="noDecoration" checked)
                            label.custom-control-label(for="noDecoration") Без отделки
                        .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                            input#decoration.custom-control-input(type="checkbox" name="decoration" checked)
                            label.custom-control-label(for="decoration") С отделкой
                .col-xl-12.mt-4.mb-4
                    p.mb-0.text-secondary Готовность:
                    .d-flex.flex-wrap
                        .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                            input#built.custom-control-input(type="checkbox" name="built" checked)
                            label.custom-control-label(for="built") Построен
                        .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                            input#project.custom-control-input(type="checkbox" name="project" checked)
                            label.custom-control-label(for="project") Проект
                        .custom-control.custom-checkbox.custom-control-inline.align-items-center.h-100
                            input#construction.custom-control-input(type="checkbox" name="construction" checked)
                            label.custom-control-label(for="construction") Строится
                .col-12.mb-4
                    button.btn.btn-warning(type="button" data-dismiss="modal") Готово

// Feedback
#feedbackModal.modal(
    tabindex="-1"
    role="dialog"
    aria-labelledby="feedbackModalLabel"
    aria-hidden="true"
    )
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                .d-flex.w-100.justify-content-between.align-items-center
                    h5#feedbackModalLabel.text-uppercase Записаться на просмотр
                    button.close.btn-sm(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
            .modal-body
                form.row.form-feedback-modal()
                    .col-12
                        p.text-center Мы передадим ваши контактные данные представителям поселка
                    .col-12
                        .form-group
                            label(for="uName") Ваше имя
                            input#uName.form-control(type="text" placeholder="Введите имя")
                        .form-group
                            label(for="uPhone") Ваш телефон
                            input#uPhone.phone.form-control(type="text" placeholder="Ваш телефон")
                    .col-12.text-center
                        button.btn.btn-warning.px-5.rounded-pill(type="submit" data-dismiss="modal") Отправить
                        p.mt-2 
                            small Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                            a.text-success(href="#") Политикой Конфиденциальности