#searchParamsModal.modal(
    tabindex="-1"
    role="dialog"
    aria-labelledby="searchParamsModalLabelTitle"
    aria-hidden="true"
    )
    .modal-dialog.modal-xxl(role="document")
        .modal-content
            .modal-header
                .d-flex.w-100.justify-content-between.align-items-center
                    h5.text-uppercase#searchParamsModalLabelTitle Дополнительные параметры
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
            .modal-body
                include ../filter/search.pug