.bank {
    &-widget {
        position: relative;
        max-width: 225px;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 54px;
            height: 54px;
            border-radius: 15px;
            background-color: #F0F4F5;
        }

        &__text {
            margin-left: 69px;
            height: 54px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 14px;
            line-height: 1;

            @media (min-width: 1201px) {
                font-size: 16px;
            }

            a {
                font-weight: 700;
                font-size: 14px;
                line-height: 1;
                text-decoration: underline;
            }
        }
    }
}