.social {
    &-card {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 14px;
        color: #919FA3;

        @media (min-width: 1201px) {
            flex-wrap: nowrap;
        }
        
        &__title {
            margin-right: auto;
            margin-bottom: 15px;
            margin-left: 10px;

            @media (min-width: 1201px) {
                margin-bottom: 0;
                margin-left: 0;
            }
        }

        &__nav {
            display: flex;
            padding-right: 15px;

            @media (max-width: 990px) {
                width: 100%;
            }
            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: #eee;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-left: 10px;

                @media (min-width: 1201px) {
                    margin-left: 4px;
                }
            
                @media (min-width: 1397px) {
                    margin-left: 10px;
                }
            

                &:hover {
                    background-color: #5181B8;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                &.vk {
                    background-color: #EBF5FF;

                    &:hover {
                        background-color: #5181B8;
                    }
                }

                &.fb {
                    background-color: #EDF3FF;

                    &:hover {
                        background-color: #4267B2;
                    }
                }

                &.tw {
                    background-color: #E5F6FD;

                    &:hover {
                        background-color: #03A9F4;
                    }
                }

                &.ok {
                    background-color: #FFECD8;

                    &:hover {
                        background-color: #F69428;
                    }
                }

                &.tg {
                    background-color: #E5F6FF;

                    &:hover {
                        background-color: #1B9CE2;
                    }
                }
            }
        }
    }
}

// Yandex
.ya-share2__container_size_m .ya-share2__icon {
    height: 32px !important;
    width: 32px !important;
    background-size: 24px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;

    @media (min-width: 1397px) {
        height: 48px !important;
        width: 48px !important;
        background-size: 32px !important;
    }
}

.ya-share2__badge {
    border-radius: 50% !important;
    margin-left: 5px;

    @media (min-width: 1397px) {
        margin-left: 10px;
    }
}