mixin social-item(className, svgName)
    a.social-card__nav-link(href="#" class=className)
        svg.inline-svg(src="img/site/"+svgName+".svg")
.social-card.mt-5.mt-md-0
    .social-card__title
        svg.inline-svg(src="img/site/link-arrow.svg")
        | &nbsp;
        | Поделиться:
    .social-card__nav
        script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
        script(src="https://yastatic.net/share2/share.js")
        .ya-share2(data-services="vkontakte,facebook,twitter,odnoklassniki,,telegram")
