.credit {
    border: 1px solid rgba(#919FA3, 0.2);
    border-radius: 15px;
    margin-top: 60px;
    padding: 20px 20px 0;

    @media (min-width: 1201px) {
        padding: 20px 20px 0;
    }

    @media (min-width: 1397px) {
        padding: 25px 20px 0;
    }

    .border-top-row-credit {
        border-top: 1px solid rgba(#919FA3, 0.2);
        margin-bottom: 25px;
    }

    h2 {
        cursor: pointer;
        margin-bottom: 20px;
        
        @media (min-width: 1201px) {
            margin-bottom: 25px;
        }

        svg {
            height: 22px;
            width: 12px;
            transform: rotate(-90deg);
            transition: .2s ease-in-out;
            
            path {
                fill: $body-color;
            }
        }

        &[aria-expanded="false"] {
            svg {
                transform: rotate(90deg);
            }
        }
    }
    
    .padding-bottom-collapse {
        @media (min-width: 1201px) {
            height: 40px;
        }
        @media (min-width: 1397px) {
            height: 50px;
        }
    }

    &__bank-list {
        font-weight: 700;
        font-size: 14px;

        .logo {
            display: flex;
            align-items: center;
            font-size: 13px;
            margin-top: 25px;

            &__img {
                max-width: 16px;
                max-height: 16px;
                margin-right: 10px;
            }
        }

        .btn-warning {
            margin-top: 30px;
            margin-bottom: 20px;
            @media (min-width: 1201px) {
                margin-bottom: 0;
            }
        }
    }

    &__slider {
        @media (min-width: 1201px) {
            padding-right: 25px;
            margin-bottom: 70px;
        }

        &-title {
            label {
                font-size: 14px;
                color: #919FA3;
            }
        }
        &-value {
            font-size: 16px;
            font-weight: 700;
            margin-top: 14px;
            display: flex;

            &--unit {
                margin-left: auto;
            }
        }

        &-range {
            margin-top: 10px;
            width: 100%;

            input {
                &.slider-range { 
                    -webkit-appearance: none;
                    font: normal;
                    width: 100%;
                    height: 2px;
                    background: #E5EAEB;
                    outline: none;
                    opacity: 1;
                    -webkit-transition: .2s;
                    transition: opacity .2s;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        border-radius: 50%;
                        box-shadow: 0 0 0 3px rgba(#78A86D, 0.2);
                        width: 13px;
                        height: 13px;
                        background: #78A86D;
                        cursor: pointer;
                    }

                    &::-moz-range-thumb {
                        border-radius: 50%;
                        box-shadow: 0 0 0 3px #000;
                        width: 13px;
                        height: 13px;
                        background: #78A86D;
                        box-shadow: 0 0 0 3px rgba(#78A86D, 0.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}