.credit
    h2.d-flex.w-100.align-items-center(data-toggle="collapse" data-target="#creditCollapse" aria-expanded="true" aria-controls="creditCollapse")
        span.mr-auto Ипотечный калькулятор
        svg.inline-svg(src="img/site/arrow-right.svg")
    .collapse#creditCollapse.show 
        .row
            .col-12
                .w-100.border-top-row-credit
            .col-lg-8
                .row
                    .col-md-7
                        .credit__slider
                            .credit__slider-title
                                label(for="areaPrice") Стоимость участка
                            .credit__slider-value
                                span 3 500 000
                                .credit__slider-value--unit ₽
                            .credit__slider-range
                                input#areaPrice.slider-range.slider-range-thousands(type="range", step="100000", min="500000", max="50000000", value="3500000")

                    .col-md-5
                        .credit__slider
                            .credit__slider-title
                                label(for="areaRate") Ставка
                            .credit__slider-value
                                span 9,4
                                .credit__slider-value--unit %
                            .credit__slider-range
                                input#areaRate.slider-range.slider-range-percent(type="range", step="0.1", min="0", max="100", value="9.4")

                    .col-md-7
                        .credit__slider.mb-lg-0
                            .credit__slider-title
                                label(for="areaPriceFirst") Первоначальный взнос
                            .credit__slider-value
                                span 3 500 000
                                .credit__slider-value--unit ₽
                            .credit__slider-range
                                input#areaPriceFirst.slider-range.slider-range-thousands(type="range", step="100000", min="500000", max="50000000", value="3500000")

                    .col-md-5
                        .credit__slider.mb-lg-0
                            .credit__slider-title
                                label(for="areaYear") Срок
                            .credit__slider-value
                                span 20
                                .credit__slider-value--unit Лет
                            .credit__slider-range
                                input#areaYear.slider-range.slider-range-percent(type="range", step="1", min="1", max="50", value="20")

            .col-lg-4.col-md-6.credit__bank-list
                .d-flex
                    .logo.w-100
                        .logo__img
                            img(src="/assets/img/content/vtb.svg", alt="")
                        .logo__text ВТБ
                        a.ml-auto.text-success.font-weight-bold Оформить
                .d-flex
                    .logo.w-100
                        .logo__img
                            img(src="/assets/img/content/rfb.svg", alt="")
                        .logo__text Райффайзенбанк
                        a.ml-auto.text-success.font-weight-bold Оформить
                .d-flex
                    .logo.w-100
                        .logo__img
                            img(src="/assets/img/content/rbd.svg", alt="")
                        .logo__text Росбанк Дом
                        a.ml-auto.text-success.font-weight-bold Оформить
                .d-flex
                    .logo.w-100
                        .logo__img
                            img(src="/assets/img/content/gpb.svg", alt="")
                        .logo__text Газпромбанк
                        a.ml-auto.text-success.font-weight-bold Оформить
                a.btn.btn-warning.d-block.rounded-pill(href="#") Еще банки
            .col-12
                .w-100.padding-bottom-collapse