.about {
    &-home {
        &-portal {
            padding: 35px 0 45px;
            @media (min-width: 769px) {
                padding: 120px 0;
            }
            &__block-right{
                @media (min-width: 1201px) {
                    padding-left: 70px;
                    padding-right: 70px;
                }
                @media (min-width: 1397px) {
                    padding-left: 70px;
                    padding-right: 250px;
                }
            }
            &__title {
                margin-bottom: 10px;
                @media (min-width: 769px) {
                    margin-bottom: 24px;
                }
            }

            &__subtitle {
                color: #9CA9AD;
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 30px;

                @media (min-width: 769px) {
                    margin-bottom: 24px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            &__text {
                p {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0;

                    @media (min-width: 769px) {
                        margin-bottom: 24px;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }

            .video {
                position: relative;
                margin-bottom: 30px;

                &__background {
                    display: flex;
                    position: absolute;
                    height: 288px;
                    width: calc(100% - 15px);
                    background: #bbd8e0 url('/assets/img/content/video-bg.jpg') no-repeat;
                    background-position: center center;
                    background-size: cover;
                    border-radius: 15px;
                    left: 0;
                    top: 0;
                    align-items: center;
                    justify-content: center;
                    transition: .2s ease-in-out;
                    
                    @media (min-width: 769px) {
                        height: 341px;
                        left: 15px;
                        top: -15px;
                    }
                    @media (min-width: 991px) {
                        width: calc(100% - 40px);
                        height: 326px;
                        left: 40px;
                        top: -40px;
                    }

                    &-color {
                        background-color: #F0F4F5;
                        height: 288px;
                        width: calc(100% - 15px);
                        border-radius: 15px;
                        margin-top: 15px;
                        transition: .2s ease-in-out;
                    
                        @media (min-width: 769px) {
                            height: 341px;
                        }
                        @media (min-width: 991px) {
                            width: calc(100% - 40px);
                            height: 326px;
                            margin-top: 40px;
                        }
                    }
                    .logo-white {
                        width: 130px;
                        position: absolute;
                        bottom: 29px;
                    }
                }

                &:hover {
                    .video__background {
                        width: 100%;
                        left: 0;
                        top: 0;

                        &-color {
                            width: 100%;
                        }
                    }
                }
            }
        }


        &-work {
            padding: 30px 0;

            .container {
                @media (max-width: 990px) {
                    width: 100%;
                    max-width: 320px;
                }
            }

            @media (min-width: 991px) {
                padding: 120px 0;
            }

            .work-steps {
                margin-top: 60px;
            }
        }
    }
    &-village {
        &__video {
            padding: 40px 0;

            @media (min-width: 991px) {
                padding: 60px 0;
            }
            @media (min-width: 1201px) {
                padding: 60px 0 100px;
            }

            .video {
                background-color: #333;
                height: 280px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width: 991px) {
                    height: 600px;
                }

                iframe {
                    width: 100%;
                    height: 280px;
                    @media (min-width: 991px) {
                        height: 600px;
                    }
                }
            }
        }
    }
}