.bg-white.about-village__video
    .container
        .video.radius(style="background: #333 url(/assets/img/content/village-video-bg@2x.jpg) no-repeat center center; background-size: cover;"
            data-youtube="d9pIRMFNLCg")
            svg.inline-svg.play(src="img/site/play.svg")
