.about.about-home-work.bg-white
    .container
        h3.h1.text-md-center Как мы работаем
        p.text-md-center.text-secondary Мы собрали подробную информацию о каждом поселке
    .container.mt-5.mt-md-0
        include ../steps/work-steps.pug
