
.about.about-home-portal.bg-white
    .container
        .row
            .col-12.d-sm-none
                h3.about-home-portal__title.h2 Портал Поселкино.ру
                .about-home-portal__subtitle Единая база дачных и коттеджных поселков Московского региона. 
            .col-sm-6.col-xl-5
                .video
                    .video__background-color
                    .video__background
                        svg.inline-svg.play(src="img/site/play.svg")
                        img.logo-white(src="/assets/img/site/logo-white.png" alt="Поселкино")
            .col-sm-6.col-xl-7.about-home-portal__block-right
                .d-none.d-sm-block
                    h3.about-home-portal__title.h1 Портал Поселкино.ру
                    .about-home-portal__subtitle Единая база дачных и коттеджных поселков Московского региона. 
                .about-home-portal__text
                    p Мы независимы от собственников поселков или девелоперских компаний, мы не заинтересованы продать вам конкретный объект недвижимости.  Мы стараемся дать максимально объективную оценку и сделать простым и удобным поиск будущего участка. 
                    p Теперь у пользователя нашего сайта есть возможность найти тот участок, который будет подходить всем требованиям и пожеланиям.