.about.about-home-portal.bg-white
    .container
        .row
            .order-1.order-sm-0.col-12.d-sm-none
                h3.about-home-portal__title.h2 Что нужно знать об&nbsp;этом&nbsp;поселке?
            .order-0.order-sm-1.col-sm-6.col-xl-5
                .video
                    .video__background-color
                    .video__background(style="background: url(/assets/img/content/video-bg-village.jpg) no-repeat center center;")
                        svg.inline-svg.play(src="img/site/play.svg")
                        img.logo-white(src="/assets/img/site/logo-white.png" alt="Поселкино")
            .order-2.order-sm-2.col-sm-6.col-xl-7.about-home-portal__block-right
                .d-none.d-sm-block
                    .about-home-portal__title.h2 Что нужно знать об&nbsp;этом&nbsp;поселке?
                .about-home-portal__text
                    p Поселок расположен в 8 км от МКАД по Новорязанскому шоссе. Есть возможность добраться на личном авто и электричке. В поселка развитая инфраструктура: имеется супермаркет, ресторан, фитнес-центр, детские и спортивные площадки.
                    p Поселок выполнен в едином архитектурном стиле, имеются прогулочные пункты. Обеспечена безопасность: охрана, пропускная система, видеонаблюдение. Есть освещение, дорожное покрытие, озеленение мест общего пользования.