.offer-house {
    &__item {
        border-radius: 15px;
        background-color: #fff;
        transition: .2s ease-in-out;
        box-shadow: 0 15px 30px rgba(156,167,178,0.15);
        width: 290px;
        position: relative;

        @media (min-width: 991px) {
            width: 352px;
        }
        
        @media (min-width: 1201px) {
            width: 424px;
        }

        .show-full {
            margin-top: 30px;
            display: none;
        }


        &:hover {
            .offer-house__footer {
                display: flex;

                @media (min-width: 769px) {
                    display: none;
                }
            }

            .show-full {
                display: none;

                @media (min-width: 769px) {
                    display: block;
                }
            }
        }
    }

    &__photo,
    .card-photo__list {
        border-radius: 15px 15px 0 0;

        .photo__buttons {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 9;

            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                margin-left: 10px;
                border: solid 1px #e1e8ea;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                outline: none;

                svg {
                    opacity: 1;

                    &.add-heart {
                        width: 24px;

                        .s-1 {
                            fill: #3c4b5a;
                            stroke: #3c4b5a;
                            stroke-width: .1px;
                        }

                        .s-2 {
                            fill: #fff;
                        }

                        .s-3 {
                            fill: none;
                            stroke: #fbb358;
                            stroke-linecap: round;
                            stroke-width: 1.3px;
                        }
                    }

                    &.add-comparison {
                        width: 17px;

                        .s-1,
                        .s-2 {
                            fill: none;
                            stroke-linecap: round;
                            stroke-width: 1.3px;
                        }
                        .s-1 {
                            stroke:#3c4b5a;
                        }
                        .s-2 {
                            stroke:#fbb358;
                        }
                    }
                }

                &:hover {
                    background-color: #fff7ed;
                    border-color: #fff7ed;
                }

                &.active {
                    background-color: $warning;
                    border-color: $warning;

                    .add {
                        &-heart {
                            .s-1 {
                                fill: #fff;
                                stroke: #fff;
                                stroke-width: .1px;
                            }

                            .s-2 {
                                fill: #3c4b5a;
                            }

                            .s-3 {
                                fill: none;
                                stroke: #fff;
                                stroke-linecap: round;
                                stroke-width: 1.3px;
                            }
                        }
                    }
                    .add-comparison {
                        .s-1,
                        .s-2 {
                            fill: none;
                            stroke-linecap: round;
                            stroke-width: 1.3px;
                        }
                        .s-1 {
                            stroke:#fff;
                        }
                        .s-2 {
                            stroke:#3c4b5a;
                        }
                    }
                }
            }
        }

        .photo__item {
            border-radius: 15px 15px 0 0;
            height: 235px;
            background-size: cover;
        }

        &:hover {
            .slick-next,
            .slick-prev {
                opacity: 1;
                box-shadow: none;
            }
        }

        .photo__count {
            position: absolute;
            right: 0;
            top: 196px;
            background-color: rgba(#000,.5);
            color: #fff;
            padding: 10px 30px;
            z-index: 99;
        }
    }

    &__info {
        padding: 24px 10px 10px;

        .offer-house {
            &__title {
                padding: 0;
                margin: 0;
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                padding: 0 10px;

                @media (min-width: 991px) {
                    font-size: 18px;
                    padding: 0 20px;
                    min-height: 52px;
                }
            }

            &__metro {
                margin-top: 15px;
                padding: 0 10px;

                @media (min-width: 991px) {
                    padding: 0 20px;
                }
            }

            &__price {
                margin-top: 20px;
                font-size: 12px;
                color: #919FA3;
                padding: 0 10px;

                @media (min-width: 991px) {
                    padding: 0 20px;
                    font-size: 15px;
                }

                .rub {
                    margin-right: 5px;

                    @media (min-width: 769px) {
                        margin-right: 15px;
                    }
                }

                .price {
                    color: $body-color;
                }
            }

            &__area {
                margin-top: 20px;
                font-size: 14px;
                text-decoration: underline;
                padding: 0 10px;

                @media (min-width: 991px) {
                    padding: 0 20px;
                }

                a {
                    color: $body-color;

                    &:hover,
                    &:focus {
                        color: $success;
                    }
                }
            }

            &__inline-info {
                border-top: 1px solid #EFF3F4;
                margin-top: 20px;
                padding-top: 20px;

                .card-house__inline {
                    display: flex; 
                    margin-top: 25px;
                    font-size: 11px;
                    padding: 0 10px;
    
                    @media (min-width: 991px) {
                        padding: 0 20px;
                    }

                    @media (min-width: 1201px) {                        
                        font-size: 14px;
                    }

                    svg {
                        margin-right: 15px;
                    }

                    &-title {
                        width: 120px;

                        @media (min-width: 1201px) {
                            width: 180px;
                        }
                    }

                    &-value {
                        font-weight: 700;
                        margin-left: auto;
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            &__footer {
                margin-top: 25px;
                display: flex;
                padding: 20px;
                background-color: #F7FAFC;
                border-radius: 15px;

                .raiting {
                    margin-right: auto;

                    .star {
                        &-item {
                            margin-right: 5px;

                            svg {
                                width: 14px;

                                @media (min-width: 991px) {
                                    width: 19px;
                                }
                            }
                        }

                        &-title {
                            margin-left: 10px;

                            @media (min-width: 769px) {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

}
