mixin card(title, price, area, house, cardName, photoListId)
    .item
        // Ссылка карточки
        .offer-house__item.card-house
            a.stretched-link.z-index-0.position-absolute.w-100.h-100(href="#")
            .photo.offer-house__photo
                .photo__list
                    .photo__item(style="background: url('/assets/img/content/slider/1.png') no-repeat; background-size: cover; background-position: center center;")
                    .photo__item(style="background: url('/assets/img/content/slider/2.png') no-repeat; background-size: cover; background-position: center center;")
                    .photo__item(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover; background-position: center center;")
                .slider__header
                    .slider__label Акция - 30%
                    .photo__buttons
                        button(title="Добавить к сравнению")
                            svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                        button(title="Добавить в избранное")
                            svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                .photo__count
                    span.current 1
                    | &nbsp;
                    | /
                    | &nbsp;
                    span.count 3
            .offer-house__info
                .offer-house__title= title
                .offer-house__metro.d-flex
                    +metro("#", "novoryazanskoe", "Новорязанское шоссе", "8 км от МКАД")
                .offer-house__price
                    span.rub &#8381;
                    | Дома:
                    | &nbsp;
                    span.price= price
                .offer-house__area
                    a.z-index-1.position-relative(href="#") Люберецкий район
                .offer-house__inline-info
                    .card-house__inline
                        img.mr-3(src="/assets/img/site/house.svg" alt="")
                        .card-house__inline-title Площадь участков:
                            | &nbsp;
                        .card-house__inline-value от 6 до 30 соток
                    .card-house__inline
                        img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                        .card-house__inline-title Площадь домов:
                            | &nbsp;
                        .card-house__inline-value от 170 до 500 м
                            sup 2
                .offer-house__footer
                    .raiting
                        +raiting(4, '4.1')
                    .review.mt-0
                        .d-flex
                            a(href="#")
                                svg.inline-svg(src="img/site/comment.svg")
                                | 2 отзыва
                a.btn.btn-success.show-full.w-100(href='#') Подробнее
