.ecology {
    padding: 50px 0 100px;
    
    h2 {
        margin-top: 100px;
    }

    &-card {
        margin-top: 20px;

        &-img {
            margin-top: 60px;
        }
    }
    &__item {
        padding: 30px;
        margin-top: 30px;
        background-color: #eee;
        height: 328px;
        display: flex;
        align-items: flex-end;
    }

    &__card {
        border: 1px solid #eee;
        padding: 40px;
        margin-top: 20px;
        height: 100%;

        @media (min-width: 1201px) {
            padding: 30px 20px;
            padding-right: 10px;
        }
    
        @media (min-width: 1397px) {
            padding: 40px;
            padding-right: 40px;
        }
    

        svg {
            position: absolute;
        }

        &-text {
            padding-left: 60px;
            font-size: 14px;
        
            @media (min-width: 991px) {
                padding-top: 60px;
                padding-left: 0;
            }

            @media (min-width: 1201px) {
                padding-left: 60px;
                padding-top: 0;
            }

            @media (min-width: 1397px) {
                padding-left: 70px;
            }
        }
        &-description {
            font-size: 16px;
            font-weight: 700;
        }

        &-img{
            width: 100%;
            background-color: #fff;
            border-radius: 15px;
            padding: 25px;
            min-height: 128px;
    
            &-title {
                margin: 0 0 15px;
                font-family: Trojan;
                font-size: 18px;
                line-height: 1;
            }
        
            &-type,
            &-distance {
                font-size: 14px;
                line-height: 22px;
            }
            
            &-distance {
                color: #919FA3;
            }
        }
    }
}