mixin ecologyCardImg(imgName, title, type, distance)
    .col-lg-3.col-sm-6
        .ecology__item.radius(style='background: url(/assets/img/content/'+imgName+'.jpg) no-repeat center center; background-size: cover;')
            .ecology__card-img
                .ecology__card-img-title= title
                .ecology__card-img-type= type
                .ecology__card-img-distance= distance

mixin ecologyCard(iconName, title, text)
    .col-md-4.mb-3.mb-md-0
        .ecology__card.radius
            .svg.inline-svg(src="img/site/"+iconName+".svg")
            .ecology__card-text
                .ecology__card-title= title
                .ecology__card-description= text
.ecology.bg-white.d-none.d-md-block
    .container
        +adv()
    .container 
        h2 Экология и природа
        .row.ecology-card
            +ecologyCard('compass', 'Сторона света относительно Москвы:', 'Северо-Восток')
            +ecologyCard('rubbish', 'Неблагоприятные объекты:', 'Свалка в радиусе 5 км.')
            +ecologyCard('verified', 'Экологические нормы:', 'Соблюдены')

        .row.ecology-card-img
            +ecologyCardImg('forest', 'Лес', 'Смешаный', 'расстояние 100 м')
            +ecologyCardImg('landscape', 'Ландшафт', 'Равнина')
            +ecologyCardImg('water', 'Водоем', 'Озеро, Река', 'расстояние 100 м')
            +ecologyCardImg('soil', 'Почва', 'Чернозем')
