.metro {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;

    @media (min-width: 992px) {
        flex-wrap: inherit;
    }

    &-color {
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        margin-right: 10px;

        @media (min-width: 992px) {
            width: 10px;
            height: 10px;
        }

        &.novoryazanskoe {
            background-color: #a772d5;
        }
    }

    &-name,
    &-other {
        font-size: 12px;
        line-height: 1.71;

        @media (min-width: 769px) {
            font-size: 14px;
            line-height: 1.71;
        }
    }

    &-name {
        color: #3c4b5a;
        margin-right: 5px;
    }

    &-other {
        margin-left: 0;
        color: #919fa3;

        @media (min-width: 992px) {
            margin-left: 5px;
        }
    }

    &:hover,
    &:focus {
        text-decoration: none;
        
        .metro-name {
            color: $success;
        }
        .metro-other {
            color: #3c4b5a;
        }
    }
}
