mixin metro(link, className, metroName, otherText)
    a.metro.z-index-1(href=link)
        span.metro-color(class=className)
        span.metro-name= metroName
    if otherText
        a.metro-other(href="#")= otherText
