extends ../layouts/default.pug

block head
    - var title = '404';
    - var keywords = '404';
    - var description = '404';
    - var pageClass = 'page-404 bg-white';

block content
    .container
        .w-100.text-center.error-img.page-404
            img(src='/assets/img/content/404.png' alt='404')
            p.font-weight-bold Запрашиваемая Вами страница не найдена
            a.btn.btn-warning.btn-lg.rounded-pill.mt-2(href='/') Вернуться на главную
    .container
        include ../sections/address-tab/address-tab.pug

