extends ../layouts/default.pug

block head
    - var title = 'Контакты';
    - var keywords = 'Контакты';
    - var description = 'Контакты';
    - var pageClass = 'page-contacts';

block content
    .bg-white 
        .container
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item.active(aria-current="page") Контакты
        .container.my-5
            .row
                .col-xl-5.col-lg-6.col-sm-5
                    .rounded.page-contacts__img.d-flex.justify-content-center.align-items-center
                        img(src="/assets/img/site/contacts-img.svg" alt="")
                .offset-xl-1.col-lg-6.col-sm-7
                    h1.mt-5.mt-sm-0 Контакты
                    address.mt-4.mt-sm-5
                        p Посёлкино
                        p Адрес: Московская обл., г. Балашиха, проспект Ленина, 32Д
                        p E-mail: 
                            a(href="mailto:welcome@poselkino.ru") welcome@poselkino.ru
                        p ОГРНИП 314503420200018