extends ../layouts/default.pug

block head
    - var title = 'Главная';
    - var keywords = 'Главная';
    - var description = 'Главная';
    - var pageClass = 'page-home';

block content
    // Hero
    include ../sections/hero/hero.pug

    // Поселки с высоким рейтингом
    include ../sections/high-raiting/high-raiting.pug

    // Портал Поселкино.ру
    include ../sections/about/about-home-portal.pug

    // Тест
    include ../sections/test/test-home.pug

    // Как мы работаем
    include ../sections/about/about-home-work.pug

    // Статьи
    include ../sections/article/article-home.pug

    include ../sections/address-tab/address-tab.pug
    .bg-white
        include ../sections/footer/footer-feedback.pug

