extends ../layouts/default.pug

block head
    - var title = 'Главная';
    - var keywords = 'Главная';
    - var description = 'Главная';
    - var pageClass = 'page-map';
    - var footerBlock = false


block yandexApi
    script(src="https://api-maps.yandex.ru/2.1/?apikey=0c55e225-bb2b-4b98-94a5-3390b6dbf643&lang=ru_RU")
    script(src="/assets/js/map.js")

block content
    .page-map__wrap
        .page-map__filter
            ol.breadcrumb.mt-0
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item
                    a(href="/") Поселки
                li.breadcrumb-item.active(aria-current="page") Поиск по карте
            h1.mt-2 Поиск по карте
                button.d-lg-none.ml-auto.close.close-filter.btn-sm(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×

            .map-filter.mt-2
                .map-filter__buttons--header
                    button#toggleHighway.btn.btn-outline-warning.rounded-pill(type="button") Шоссе
                    button#toggleAreas.btn.btn-outline-warning.rounded-pill(type="button") Районы МО
                .map-filter__select--type.mt-2
                    .filter__type.w-100
                        select#filter-type.w-100(name="type")
                            option(value="all" selected) Все
                            option.house-modal(value="house") Дом
                            option(value="area") Участок
                
                .map-filter--highway.pb-5
                    button#toggleHighwayBack.btn.btn--prev.px-5.btn-secondary.rounded-pill(type="button") 
                        svg.inline-svg(src="img/site/left-arrow.svg")
                        | Назад
                    h2.mt-4.mb-0 Шоссе
                    .row
                        .col-lg-6
                            #highwayNorth.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="north") Север
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#dmitrovskoe.custom-control-input(type="checkbox" name="dmitrovskoe" data-direction="north" checked)
                                label.custom-control-label(for="dmitrovskoe") Дмитровское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#leningradskoe.custom-control-input(type="checkbox" name="leningradskoe" data-direction="north" checked)
                                label.custom-control-label(for="leningradskoe") Ленинградское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#rogachevskoe.custom-control-input(type="checkbox" name="rogachevskoe" data-direction="north" checked)
                                label.custom-control-label(for="rogachevskoe") Рогачевское
                        .col-lg-6
                            #highwaySouth.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="south") Юг
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#varshavskoe.custom-control-input(type="checkbox" name="varshavskoe" data-direction="south" checked)
                                label.custom-control-label(for="varshavskoe") Варшавское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#simferopolskoe.custom-control-input(type="checkbox" name="simferopolskoe" data-direction="south" checked)
                                label.custom-control-label(for="simferopolskoe") Симферопольское

                        .col-lg-6
                            #highwayEast.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="east") Восток
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#gorkovskoe.custom-control-input(type="checkbox" name="gorkovskoe" data-direction="east" checked)
                                label.custom-control-label(for="gorkovskoe") Горьковское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#nosovihinskoe.custom-control-input(type="checkbox" name="nosovihinskoe" data-direction="east" checked)
                                label.custom-control-label(for="nosovihinskoe") Носовихинское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#shelkovskoe.custom-control-input(type="checkbox" name="shelkovskoe" data-direction="east" checked)
                                label.custom-control-label(for="shelkovskoe") Щелковское
                        .col-lg-6
                            #highwayNorthEast.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="northeast") Северо-Восток
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#yaroslavskoe.custom-control-input(type="checkbox" name="yaroslavskoe" data-direction="northeast" checked)
                                label.custom-control-label(for="yaroslavskoe") Ярославское

                        .col-lg-6
                            #highwaySouthEast.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="southeast") Юго-Восток
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#egorevskoe.custom-control-input(type="checkbox" name="egorevskoe" data-direction="southeast" checked)
                                label.custom-control-label(for="egorevskoe") Егорьевское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#kashirskoe.custom-control-input(type="checkbox" name="kashirskoe" data-direction="southeast" checked)
                                label.custom-control-label(for="kashirskoe") Каширское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#novoryazanskoe.custom-control-input(type="checkbox" name="novoryazanskoe" data-direction="southeast" checked)
                                label.custom-control-label(for="novoryazanskoe") Новорязанское
                        .col-lg-6
                            #highwayWest.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="west") Запад
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#minskoe.custom-control-input(type="checkbox" name="minskoe" data-direction="west" checked)
                                label.custom-control-label(for="minskoe") Минское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#mojaiskoe.custom-control-input(type="checkbox" name="mojaiskoe" data-direction="west" checked)
                                label.custom-control-label(for="mojaiskoe") Можайское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#rublevo-uspenskoe.custom-control-input(type="checkbox" name="rublevo-uspenskoe" data-direction="west" checked)
                                label.custom-control-label(for="rublevo-uspenskoe") Рублево-Успенское
                        .col-lg-6
                            #highwayNorthWest.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="northwest") Северо-Запад
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#volokolamskoe.custom-control-input(type="checkbox" name="volokolamskoe" data-direction="northwest" checked)
                                label.custom-control-label(for="volokolamskoe") Волоколамское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#novorijskoe.custom-control-input(type="checkbox" name="novorijskoe" data-direction="northwest" checked)
                                label.custom-control-label(for="novorijskoe") Новорижское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#pyatnickoe.custom-control-input(type="checkbox" name="pyatnickoe" data-direction="northwest" checked)
                                label.custom-control-label(for="pyatnickoe") Пятницкое
                        .col-lg-6
                            #highwaySouthWest.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="southwest") Юго-Запад
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#kalujskoe.custom-control-input(type="checkbox" name="kalujskoe" data-direction="southwest" checked)
                                label.custom-control-label(for="kalujskoe") Калужское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#kievskoe.custom-control-input(type="checkbox" name="kievskoe" data-direction="southwest" checked)
                                label.custom-control-label(for="kievskoe") Киевское
 
                        .col-lg-6
                            #highwayOther.highway-direction.text-transform-uppercase.font-wetght-bold.h4.mt-3.mb-1(data-direction="other") Другое
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#lihachevskoe.custom-control-input(type="checkbox" name="lihachevskoe" data-direction="other" checked)
                                label.custom-control-label(for="lihachevskoe") Лихачевское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#tarakanovskoe.custom-control-input(type="checkbox" name="tarakanovskoe" data-direction="other" checked)
                                label.custom-control-label(for="tarakanovskoe") Таракановское
                            .mt-2.ml-3.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#fryanovskoe.custom-control-input(type="checkbox" name="fryanovskoe" data-direction="other" checked)
                                label.custom-control-label(for="fryanovskoe") Фряновское
                    .row.mt-4
                        .col-xl-6.col-lg-8
                            button#highwayDone.btn.btn-warning.w-100(type="button") Готово
                .map-filter--areas.pb-5
                    button#toggleAreasBack.btn.btn--prev.px-5.btn-secondary.rounded-pill(type="button") 
                        svg.inline-svg(src="img/site/left-arrow.svg")
                        | Назад
                    h2.mt-4.mb-0 Районы МО
                    .row.mt-3
                        .col-lg-2.col-xl-1
                            #areaA.areas-direction.text-transform-uppercase.font-wetght-bold.h4.mt-2(data-direction="Б") Б
                        .col-lg-10.col-xl-11
                            .mt-2.ml-3.ml-lg-1.pr-2.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#Balashikhinsky.custom-control-input(type="checkbox" name="Balashikhinsky" data-direction="Б" checked)
                                label.custom-control-label(for="Balashikhinsky") Балашихинский
                    .row.mt-3
                        .col-lg-2.col-xl-1
                            #areaV.areas-direction.text-transform-uppercase.font-wetght-bold.h4.mt-2(data-direction="В") В
                        .col-lg-10.col-xl-11
                            .mt-2.ml-3.ml-lg-1.pr-2.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#Volokolamsk.custom-control-input(type="checkbox" name="Volokolamsk" data-direction="В" checked)
                                label.custom-control-label(for="Volokolamsk") Волоколамский
                            .mt-2.ml-3.ml-lg-1.pr-2.custom-control.custom-checkbox.custom-control-inline.align-items-center
                                input#Voskresenskiy.custom-control-input(type="checkbox" name="Voskresenskiy" data-direction="В" checked)
                                label.custom-control-label(for="Voskresenskiy") Воскресенский

 

                    .row.mt-4
                        .col-xl-6.col-lg-6
                            button#areasDone.btn.btn-warning.w-100(type="button") Готово
                
                .map-filter__content
                    .filter__mkad.map-filter__mkad.mt-md-2
                        .row.align-items-center
                            label.mt-2.mt-lg-0.col-lg-4.col-xl-5 от МКАД
                            .col-9.col-lg-6.col-xl-5
                                .d-flex.justify-content-between
                                    input#fromMKAD.ml-0.pr-0.form-control(name="fromMKAD" placeholder="от" data-min-val="2" data-max-val="140" type="text")
                                    input#toMKAD.form-control.mr-0(name="toMKAD" placeholder="до" data-min-val="2" data-max-val="140" type="text")
                            .col-3.col-lg-2.filter-value.text-left.pl-0 Км
                    .filter__mkad.map-filter__mkad.mt-md-2
                        .row.align-items-center
                            label.mt-2.mt-lg-0.col-lg-4.col-xl-5 Стоимость
                            .col-9.col-lg-6.col-xl-5
                                .d-flex.justify-content-between
                                    input#fromPrice.ml-0.pr-0.form-control(name="fromMKAD" placeholder="от" data-min-val="2" data-max-val="140" type="text")
                                    input#toPrice.form-control.mr-0(name="toMKAD" placeholder="до" data-min-val="2" data-max-val="140" type="text")
                            .col-3.col-lg-2.filter-value.text-left.pl-0 &#8381;
                    .filter__mkad.map-filter__mkad.mt-md-2
                        .row.align-items-center
                            label.mt-2.mt-lg-0.col-lg-4.col-xl-5 Участок
                            .col-9.col-lg-6.col-xl-5
                                .d-flex.justify-content-between
                                    input#fromAreas.ml-0.pr-0.form-control(name="fromMKAD" placeholder="от" data-min-val="2" data-max-val="140" type="text")
                                    input#toAreas.form-control.mr-0(name="toMKAD" placeholder="до" data-min-val="2" data-max-val="140" type="text")
                            .col-3.col-lg-2.filter-value.text-left.pl-0 Сот.
                    input.mt-4.btn.btn-warning.w-100(type="submit" value="Подобрать (464)" )
                    button.mt-0.w-100.btn.other-parameters.text-success( type="button" data-toggle="modal" data-target="#searchParamsModal") Дополнительные параметры

        include ../sections/modal/search-parameters.pug
        .page-map__container.w-100.h-100
            button.show-filter.d-lg-none(type="button") Параметры поиска
            #pageMapContainer(style="width: 100%; height: 100%;")
            #form-map-1855.card-map
                .close-map
                .offer-house__item.card-house
                    a.stretched-link.z-index-0.position-absolute.w-100.h-100(href="#")
                    .photo.offer-house__photo
                        .photo__list
                            .photo__item(style="background: url('/assets/img/content/slider/1.png') no-repeat; background-size: cover; background-position: center center;")
                            .photo__item(style="background: url('/assets/img/content/slider/2.png') no-repeat; background-size: cover; background-position: center center;")
                            .photo__item(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover; background-position: center center;")
                        .slider__header
                            .slider__label Акция - 30%
                            .photo__buttons
                                button(title="Добавить к сравнению")
                                    svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                                button(title="Добавить в избранное")
                                    svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                        .photo__count
                            span.current 1
                            | &nbsp;
                            | /
                            | &nbsp;
                            span.count 3
                    .offer-house__info
                        .offer-house__title Коттеджный поселок Новое Горелово
                        .offer-house__metro.d-flex
                            +metro("#", "novoryazanskoe", "Новорязанское шоссе", "8 км от МКАД")
                        .offer-house__price
                            span.rub &#8381;
                            | Дома:
                            | &nbsp;
                            span.price от 4 200 000 ₽
                        .offer-house__area
                            a.z-index-1.position-relative(href="#") Люберецкий район
                        .offer-house__inline-info
                            .card-house__inline
                                img.mr-3(src="/assets/img/site/house.svg" alt="")
                                .card-house__inline-title Площадь участков:
                                    | &nbsp;
                                .card-house__inline-value от 6 до 30 соток
                            .card-house__inline
                                img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                                .card-house__inline-title Площадь домов:
                                    | &nbsp;
                                .card-house__inline-value от 170 до 500 м
                                    sup 2
                        .offer-house__footer
                            .raiting
                                +raiting(4, '4.1')
                            .review.mt-0
                                .d-flex
                                    a(href="#")
                                        svg.inline-svg(src="img/site/comment.svg")
                                        | 2 отзыва
                        a.btn.btn-success.show-full.w-100(href='#') Подробнее

            #form-map-1579.card-map
                .close-map
                .offer-house__item.card-house
                    a.stretched-link.z-index-0.position-absolute.w-100.h-100(href="#")
                    .photo.offer-house__photo
                        .photo__list
                            .photo__item(style="background: url('/assets/img/content/slider/1.png') no-repeat; background-size: cover; background-position: center center;")
                            .photo__item(style="background: url('/assets/img/content/slider/2.png') no-repeat; background-size: cover; background-position: center center;")
                            .photo__item(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover; background-position: center center;")
                        .slider__header
                            .slider__label Акция - 30%
                            .photo__buttons
                                button(title="Добавить к сравнению")
                                    svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                                button(title="Добавить в избранное")
                                    svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                        .photo__count
                            span.current 1
                            | &nbsp;
                            | /
                            | &nbsp;
                            span.count 3
                    .offer-house__info
                        .offer-house__title Коттеджный поселок Новое Горелово 2
                        .offer-house__metro.d-flex
                            +metro("#", "novoryazanskoe", "Новорязанское шоссе", "8 км от МКАД")
                        .offer-house__price
                            span.rub &#8381;
                            | Дома:
                            | &nbsp;
                            span.price от 4 200 000 ₽
                        .offer-house__area
                            a.z-index-1.position-relative(href="#") Люберецкий район
                        .offer-house__inline-info
                            .card-house__inline
                                img.mr-3(src="/assets/img/site/house.svg" alt="")
                                .card-house__inline-title Площадь участков:
                                    | &nbsp;
                                .card-house__inline-value от 6 до 30 соток
                            .card-house__inline
                                img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                                .card-house__inline-title Площадь домов:
                                    | &nbsp;
                                .card-house__inline-value от 170 до 500 м
                                    sup 2
                        .offer-house__footer
                            .raiting
                                +raiting(4, '4.1')
                            .review.mt-0
                                .d-flex
                                    a(href="#")
                                        svg.inline-svg(src="img/site/comment.svg")
                                        | 2 отзыва
                        a.btn.btn-success.show-full.w-100(href='#') Подробнее

            #form-map-668.card-map
                .close-map()
                .item.offer-house__item.card-house
                    a.stretched-link.z-index-0.position-absolute.w-100.h-100(href="#")
                    .photo.offer-house__photo
                        .photo__list
                            .photo__item(style="background: url('/assets/img/content/slider/1.png') no-repeat; background-size: cover; background-position: center center;")
                            .photo__item(style="background: url('/assets/img/content/slider/2.png') no-repeat; background-size: cover; background-position: center center;")
                            .photo__item(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover; background-position: center center;")
                        .slider__header
                            .slider__label Акция - 30%
                            .photo__buttons
                                button(title="Добавить к сравнению")
                                    svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                                button(title="Добавить в избранное")
                                    svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                        .photo__count
                            span.current 1
                            | &nbsp;
                            | /
                            | &nbsp;
                            span.count 3
                    .offer-house__info
                        .offer-house__title Коттеджный поселок Новое Горелово 3
                        .offer-house__metro.d-flex
                            +metro("#", "novoryazanskoe", "Новорязанское шоссе", "8 км от МКАД")
                        .offer-house__price
                            span.rub &#8381;
                            | Дома:
                            | &nbsp;
                            span.price 123123123
                        .offer-house__area
                            a.z-index-1.position-relative(href="#") Люберецкий район
                        .offer-house__inline-info
                            .card-house__inline
                                img.mr-3(src="/assets/img/site/house.svg" alt="")
                                .card-house__inline-title Площадь участков:
                                    | &nbsp;
                                .card-house__inline-value от 6 до 30 соток
                            .card-house__inline
                                img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                                .card-house__inline-title Площадь домов:
                                    | &nbsp;
                                .card-house__inline-value от 170 до 500 м
                                    sup 2
                        .offer-house__footer
                            .raiting
                                +raiting(4, '4.1')
                            .review.mt-0
                                .d-flex
                                    a(href="#")
                                        svg.inline-svg(src="img/site/comment.svg")
                                        | 2 отзыва
                        a.btn.btn-success.show-full.w-100(href='#') Подробнее


