extends ../layouts/default.pug

block head
    - var title = 'Главная';
    - var keywords = 'Главная';
    - var description = 'Главная';
    - var pageClass = 'page-home';

block content
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio nesciunt a magni facilis incidunt dignissimos ducimus adipisci fuga quo, neque corrupti, vel placeat aliquid pariatur assumenda. Quas sapiente voluptate aut?