extends ../layouts/default.pug

block head
    - var title = 'Тест';
    - var keywords = 'Тест';
    - var description = 'Тест';
    - var pageClass = 'page-test';
block scripts
    script.
        // Tests
        $('.form-card__item').on('click', function() {
            // Берем значение имеги инпута из кнопки
            const cardData = $(this).data('input-name');

            // Берем значение имеги инпута из кнопки
            const cardValue = $(this).data('input-value');
            
            // Находим нужнй input
            const inputValue = $('form#test').find('input[name="' + cardData +'"]');
            
            // Добавляем значегие кнопки в value
            inputValue.val(cardValue);

            // Добавляем константу текущему шагу
            const activeStep = $('.test-body__step[data-show-step="true"]');

            // Удаляем активный пункт с других
            activeStep.find('.form-card__item').removeClass('active');

            // Добавляем класс active по чему кликнули
            $(this).addClass('active');
            
            if ($('.test-body__step[data-show-step="true"]').data('step') == 8) {
                $('.btn[type="submit"]').removeAttr('disabled');
            }
        });

        $('.btn--next').on('click', function() {
            var destination = $("header").height();
            $('html, body').animate({ scrollTop: destination }, 1100);

            if ($('.test-body__step[data-show-step="true"] input').val().length) {
                // Скрываем активный шаг и открываем следующий
                $('.test-body__step[data-show-step="true"]').hide().attr('data-show-step', false).next().show().attr('data-show-step', true);

                // Меняем заголовок
                $('.title-step').html($('.test-body__step[data-show-step="true"]').data('title-step'));
                
                // Меняем заголовок
                $('.subtitle').html($('.test-body__step[data-show-step="true"]').data('subtitle-step'));

                // Если шаг больше чем 1, показываем кнопку назад
                if ($('.test-body__step[data-show-step="true"]').data('step') !== 1) {
                    $('.btn--prev').show();
                }
                
                // Если шаг 8, скрываем кнопку далее и показываем кнопку отправить
                if ($('.test-body__step[data-show-step="true"]').data('step') == 8) {
                    $('.btn--next').hide();
                    $('.btn[type="submit"]').show();
                }

                // Изменяем номер активного шага
                $('.question__number').html('0'+$('.test-body__step[data-show-step="true"]').data('step'));
            } else {
                alert('Выберите один из пунктов');
            }
        });


        $('.btn--prev').on('click', function() {
            // Скрываем активный шаг и открываем следующий
            $('.test-body__step[data-show-step="true"]').hide().attr('data-show-step', false).prev().show().attr('data-show-step', true);

            // Меняем заголовок
            $('.title-step').html($('.test-body__step[data-show-step="true"]').data('title-step'));
            
            // Меняем заголовок
            $('.subtitle').html('');

            // Если шаг больше чем 1, показываем кнопку назад
            if ($('.test-body__step[data-show-step="true"]').data('step') == 1) {
                $('.btn--prev').hide();
            }
            
            // Если шаг 8, скрываем кнопку далее и показываем кнопку отправить
            if ($('.test-body__step[data-show-step="true"]').data('step') !== 8) {
                $('.btn--next').show();
                $('.btn[type="submit"]').hide();
            }  
            
            // Изменяем номер активного шага
            $('.question__number').html('0'+$('.test-body__step[data-show-step="true"]').data('step'));

        });
        // Проверяем на заполненность последний шаг и раздизейбливаем кнопку отправить
        var eachInput = $('.step-last input').each(function() {
            if ($(this).val().length != '') {
                $('.btn[type="submit"]').removeAttr('disabled');
            } else {
                $('.btn[type="submit"]').attr('disabled', true);
            }
        });
    
        setTimeout(eachInput, 500);
    
block content
    .bg-white 
        .container
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item.active(aria-current="page") Тест
    form#test.test(action="")
        .test-step
            .bg-white.py-4.py-sm-5
                .container
                    .row.align-items-end
                        .order-1.order-sm-0.col-xl-8.col-sm-9
                            h1.mb-0.text-transform.title-step Выберите направление:
                            p.subtitle.mb-0
                        .order-0.order-sm-1.col-xl-4.col-sm-3.text-sm-right
                            span.question-count Вопрос:
                            span.question__number 01
                            span.question__all /08
            .container.test-body.pt-4.pt-sm-5.pb-4
                //- Step 1
                .row.test-body__step(data-title-step="Выберите направление" data-step="1" data-show-step="true")
                    input#route.hidden.sr-only(value="" name="route")
                    .col-lg-3.col-sm-6
                        button.form-card__item(data-input-name="route" data-input-value="Юг" type="button") 
                            img(src="/assets/img/test/south.svg", alt="Юг")
                            img.img-active(src="/assets/img/test/south-active.svg", alt="Юг")
                            span Юг
                    .col-lg-3.col-sm-6
                        button.form-card__item(data-input-name="route" data-input-value="Север" type="button") 
                            img(src="/assets/img/test/north.svg", alt="Север")
                            img.img-active(src="/assets/img/test/north-active.svg", alt="Север")
                            span Север
                    .col-lg-3.col-sm-6
                        button.form-card__item(data-input-name="route" data-input-value="Запад" type="button") 
                            img(src="/assets/img/test/west.svg", alt="Запад")
                            img.img-active(src="/assets/img/test/west-active.svg", alt="Запад")
                            span Запад
                    .col-lg-3.col-sm-6
                        button.form-card__item(data-input-name="route" data-input-value="Восток" type="button") 
                            img(src="/assets/img/test/east.svg", alt="Восток")
                            img.img-active(src="/assets/img/test/east-active.svg", alt="Восток")
                            span Восток
                //- Step 2
                .row.test-body__step(data-title-step="Для чего хотите использовать земельный участок?" data-step="2" data-show-step="false" style="display: none;")
                    input#for_what.hidden.sr-only(value="" name="for_what")
                    .col-sm-6
                        button.form-card__item.form-card__item--big(data-input-name="for_what" data-input-value="Для дачи" type="button") 
                            img(src="/assets/img/test/in-village.svg", alt="Для дачи")
                            img.img-active(src="/assets/img/test/in-village-active.svg", alt="Для дачи")
                            span Для дачи
                    .col-sm-6
                        button.form-card__item.form-card__item--big(data-input-name="for_what" data-input-value="Для дома" type="button") 
                            img(src="/assets/img/test/in-home.svg", alt="Для дома")
                            img.img-active(src="/assets/img/test/in-home-active.svg", alt="Для дома")
                            span Для дома

                //- Step 3
                .row.test-body__step(data-title-step="На какой удаленности от Москвы рассматриваете земельный участок?" data-step="3" data-show-step="false" style="display: none;")
                    input#remoteness.hidden.sr-only(value="" name="remoteness")
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="remoteness" data-input-value="20" type="button") 
                            img(src="/assets/img/test/20.svg", alt="20")
                            img.img-active(src="/assets/img/test/20-active.svg", alt="20")
                            span До 20 км.
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="remoteness" data-input-value="50" type="button") 
                            img(src="/assets/img/test/50.svg", alt="50")
                            img.img-active(src="/assets/img/test/50-active.svg", alt="50")
                            span До 50 км.
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="remoteness" data-input-value="70" type="button") 
                            img(src="/assets/img/test/70.svg", alt="70")
                            img.img-active(src="/assets/img/test/70-active.svg", alt="70")
                            span До 70 км.
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="remoteness" data-input-value="100" type="button") 
                            img(src="/assets/img/test/100.svg", alt="100")
                            img.img-active(src="/assets/img/test/100-active.svg", alt="100")
                            span До 100 км.
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="remoteness" data-input-value="irrelevant" type="button") 
                            span Не имеет значения
                //- Step 4
                .row.test-body__step(data-title-step="В какую стоимость планируете уложиться при выборе участка?" data-step="4" data-show-step="false" style="display: none;")
                    input#cost.hidden.sr-only(value="" name="cost")
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="cost" data-input-value="200000" type="button") 
                            img(src="/assets/img/test/200.svg", alt="200 000")
                            img.img-active(src="/assets/img/test/200-active.svg", alt="200 000")
                            span До 200 000
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="cost" data-input-value="500000" type="button") 
                            img(src="/assets/img/test/500.svg", alt="500 000")
                            img.img-active(src="/assets/img/test/500-active.svg", alt="500 000")
                            span До 500 000
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="cost" data-input-value="1000000" type="button") 
                            img(src="/assets/img/test/1mln.svg", alt="1 000 000")
                            img.img-active(src="/assets/img/test/1mln-active.svg", alt="1 000 000")
                            span До 1 млн.
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="cost" data-input-value="2000000" type="button") 
                            img(src="/assets/img/test/2mln.svg", alt="2 000 000")
                            img.img-active(src="/assets/img/test/2mln-active.svg", alt="2 000 000")
                            span До 2 млн.
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="cost" data-input-value="irrelevant" type="button") 
                            span Не имеет значения

                //- Step 5
                .row.test-body__step(data-title-step="Когда вы планируете начать использовать земельный участок?" data-step="5" data-show-step="false" style="display: none;")
                    input#plan.hidden.sr-only(value="" name="plan")
                    .col-md-4.col-sm-6
                        button.form-card__item(data-input-name="plan" data-input-value="Сразу после покупки" type="button") 
                            img(src="/assets/img/test/right_away.svg", alt="Сразу после покупки")
                            img.img-active(src="/assets/img/test/right_away-active.svg", alt="Сразу после покупки")
                            span Сразу после покупки
                    .col-md-4.col-sm-6
                        button.form-card__item(data-input-name="plan" data-input-value="Ближайшие 1-2 года" type="button") 
                            img(src="/assets/img/test/near.svg", alt="Ближайшие 1-2 года")
                            img.img-active(src="/assets/img/test/near-active.svg", alt="Ближайшие 1-2 года")
                            span Ближайшие 1-2 года
                    .col-md-4.col-sm-6
                        button.form-card__item(data-input-name="plan" data-input-value="Беру на дальнюю перспективу" type="button") 
                            img(src="/assets/img/test/calendar.svg", alt="Беру на дальнюю перспективу")
                            img.img-active(src="/assets/img/test/calendar-active.svg", alt="Беру на дальнюю перспективу")
                            span Беру на дальнюю перспективу
                
                //- Step 6
                .row.test-body__step(data-title-step="Какой размер участка для Вас наиболее подходящий?" data-step="6" data-show-step="false" style="display: none;")
                    input#size.hidden.sr-only(value="" name="size")
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="size" data-input-value="6-8 соток" type="button") 
                            img(src="/assets/img/test/6-8.svg", alt="6-8 соток")
                            img.img-active(src="/assets/img/test/6-8-active.svg", alt="6-8 соток")
                            span 6-8 соток
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="size" data-input-value="8-12 соток" type="button") 
                            img(src="/assets/img/test/8-12.svg", alt="8-12 соток")
                            img.img-active(src="/assets/img/test/8-12-active.svg", alt="8-12 соток")
                            span 8-12 соток
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="size" data-input-value="12-15 соток" type="button") 
                            img(src="/assets/img/test/12-15.svg", alt="12-15 соток")
                            img.img-active(src="/assets/img/test/12-15-active.svg", alt="12-15 соток")
                            span 12-15 соток
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="size" data-input-value="Больше 15" type="button") 
                            img(src="/assets/img/test/15.svg", alt="Больше 15")
                            img.img-active(src="/assets/img/test/15-active.svg", alt="Больше 15")
                            span Больше 15
                    .col-lg-3.col-md-4.col-sm-6
                        button.form-card__item.form-card__item--small(data-input-name="size" data-input-value="Любой" type="button") 
                            span Любой


                //- Step 7
                .row.test-body__step(data-title-step="Каким видом транспорта планируете добираться до посёлка?" data-step="7" data-show-step="false" style="display: none;")
                    input#transport.hidden.sr-only(value="" name="transport")
                    .col-md-4.col-sm-6
                        button.form-card__item(data-input-name="transport" data-input-value="Автомобиль" type="button") 
                            img(src="/assets/img/test/car.svg", alt="Автомобиль")
                            img.img-active(src="/assets/img/test/car-active.svg", alt="Автомобиль")
                            span Автомобиль
                    .col-md-4.col-sm-6
                        button.form-card__item(data-input-name="transport" data-input-value="Общественный транспорт" type="button") 
                            img(src="/assets/img/test/bus.svg", alt="Общественный транспорт")
                            img.img-active(src="/assets/img/test/bus-active.svg", alt="Общественный транспорт")
                            span Общественный транспорт
                    .col-md-4.col-sm-6
                        button.form-card__item(data-input-name="transport" data-input-value="Беру на дальнюю перспективу" type="button") 
                            img(src="/assets/img/test/carbus.svg", alt="Беру на дальнюю перспективу")
                            img.img-active(src="/assets/img/test/carbus-active.svg", alt="Беру на дальнюю перспективу")
                            span Оба варианта
    
                //- Step 8
                .row.test-body__step.step-last(data-title-step="Отправьте нам результаты теста" data-subtitle-step="И мы пришлем перечень поселков, которые вам подходят:" data-step="8" data-show-step="false" style="display: none;")
                    .col-md-4.mb-3.mb-md-0
                        input#nameTest(type="text" value="" placeholder="Ваше имя" name="nameTest" required)
                    .col-md-4.mb-3.mb-md-0
                        input.phone#phoneTest(type="text" value="" placeholder="Номер телефона" name="phoneTest" required)
                    .col-md-4.mb-3.mb-md-0
                        input#emailTest(type="email" value="" placeholder="Адрес электронной почты" name="emailTest" required)
                    .col-lg-7.col-md-9.privacy-policy-label.mt-4
                        .custom-control.custom-checkbox.custom-control-inline
                            input#privacy-policy.custom-control-input(type="checkbox" name="privacy-policy" checked="" required)
                            label.custom-control-label(for="privacy-policy")
                                | Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с  
                                a.text-success.font-weight-bold(href="#" title="Ознакомиться с политикой конфиденциальности") Политикой Конфиденциальности

                        
            .container.mb-5.test-footer
                .d-flex.justify-content-between.w-100
                    a.btn.btn--prev.btn-secondary.rounded-pill(href="#" style="display: none;") 
                        svg.inline-svg(src="img/site/left-arrow.svg")
                        | Шаг&nbsp;назад
                    button.ml-auto.text-white.btn.btn--next.btn-warning.rounded-pill(type="button") 
                        | Далее
                        svg.inline-svg(src="img/site/left-arrow.svg")
                    button.btn.btn-warning.rounded-pill.text-white(type="submit" disabled="disabled" style="display: none;") Отправить
