extends ../layouts/default.pug

block head
    - var title = 'UI kit';
    - var keywords = 'UI kit';
    - var description = 'UI kit';

block content
    .container
        .d-block
            h1 Lorem ipsum
            h2 Lorem ipsum
            h3 Lorem ipsum
            h4 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda consectetur doloremque earum, et fugiat ipsam laudantium neque quaerat reprehenderit rerum sit unde voluptatum? Exercitationem mollitia quia quidem? Esse, quam!
    .container.mt-5.bg-white.py-5
        .row
            .col-xl-3
                select.select-bg-transparent
                    option(value="1" selected) Сначало дороже
                    option(value="2") Сначало дешевле
                    option(value="3") По рейтингу
                    option(value="4") По релевантности
                    option(value="5") По удаленности от МКАД
            .col-xl-2
                select.select-bg-transparent
                    option(value="1" selected) Все
                    option(value="2") Дома
                    option(value="3") Дачи

    .container.mt-5.py-5
        .row
            .col-xl-3
                select.select-bg-transparent
                    option(value="1" selected) Сначало дороже
                    option(value="2") Сначало дешевле
                    option(value="3") По рейтингу
                    option(value="4") По релевантности
                    option(value="5") По удаленности от МКАД
            .col-xl-2
                select.select-bg-transparent
                    option(value="1" selected) Все
                    option(value="2") Дома
                    option(value="3") Дачи

    .bg-white.page__map-wrapper
        include ../sections/map/map-full-link.pug
    
    //- Карточки для домов
    .container
        .card-house-carousel.house-in-village.area-in-village
            mixin cardHouseCarousel()
                .item.mr-4
                    // Ссылка карточки
                    .offer-house__item.card-house.house-in-village 
                        a.stretched-link.z-index-0.position-absolute.w-100.h-100(href="#")
                        .photo.offer-house__photo
                            .photo__list
                                .photo__item(style="background: url('/assets/img/content/slider/1.png') no-repeat; background-size: cover; background-position: center center;")
                                .photo__item(style="background: url('/assets/img/content/slider/2.png') no-repeat; background-size: cover; background-position: center center;")
                                .photo__item(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover; background-position: center center;")
                            .slider__header
                                .slider__label Акция - 30%
                                .photo__buttons
                                    button(title="Добавить к сравнению")
                                        svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                                    button(title="Добавить в избранное")
                                        svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                            .photo__count
                                span.current 1
                                | &nbsp;
                                | /
                                | &nbsp;
                                span.count 3
                        .offer-house__info.card-house__content.px-3
                            .offer-house__title.px-0 Дом в посёлке Новое Горелово
                           
                            .offer-house__inline-info.border-0.mt-0.pt-0
                                .card-house__inline.px-0
                                    img.mr-3(src="/assets/img/site/house.svg" alt="")
                                    .card-house__inline-title Площадь дома:
                                        | &nbsp;
                                    .card-house__inline-value от 6 до 30 соток
                                .card-house__inline.px-0
                                    img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                                    .card-house__inline-title Этажей:
                                        | &nbsp;
                                    .card-house__inline-value от 170 до 500 м
                                        sup 2
                                .card-house__inline.px-0
                                    img.mr-3(src="/assets/img/site/house-plan.svg" alt="")
                                    .card-house__inline-title Материал:
                                .card-house__inline-value.mt-2 Клееный брус, облицовочный кирпич, теплая керамика
                            .footer-card.d-flex.align-items-center.mt-3
                                .footer-card__price.mt-2.mb-4.w-100 10 355 000 ₽
                                a.btn.btn-outline-warning.rounded-pill.w-100(href="#") Подробнее

            
            +cardHouseCarousel()
            +cardHouseCarousel()
            +cardHouseCarousel()
            +cardHouseCarousel()
            +cardHouseCarousel()
           
    .container
        #video-gallery
            a(href="https://www.youtube.com/watch?v=Rd6T648EBKs")
                img(src="assets/img/content/gaz.png")
    