.legal-information {
    padding: 40px 0;
    
    .radius {
        padding: 15px;
        @media (min-width: 991px) {
            padding: 40px;
        }

        a {
            svg {
                path {
                    fill: $success;
                    stroke: $success;
                }
            }

            &.developer-logo {
                margin: 0 auto;
                @media (min-width: 991px) {
                    margin-left: 30px;
                }
            }
        }
    }
}