.legal-information
    .container.bg-white.radius 
        .row
            .col-12
                h2 Юридическая информация
            .col-xl-5.col-md-6.mb-3.mb-md-0
                #legalInformation
                    a(href="/assets/img/content/legal-info-village.png")
                        img.w-100(src="/assets/img/content/legal-info-village.png", alt="Скрин ЕГРН Онлайн")
            .offset-xl-1.col-xl-6.col-md-6
                p Категория замель: С/х назначение
                p Вид разрешенного использования: Для дачного строительства
                p Юридическая форма: ДНП
                p.mt-2
                    a.font-weight-bold.text-success.text-decoration-none(href="#" target="_blank") Посёлок на карте Росреестра
                        | &nbsp;
                        svg.inline-svg(src="img/site/arrow-right.svg")
                .d-flex.flex-wrap.flex-md-nowrap.text-cener.justify-content-center.mt-3.mt-md-5.align-items-center
                    .d-block.d-md-none.mb-4.mb-md-0.w-100.text-center.width-md-auto
                        a.developer-logo.mt-3.mt-md-0(href="#" target="_blank")
                            img(src="/assets/img/content/logo-developer.svg", alt="Своя земля")
                    a.btn.btn-warning.rounded-pill.mb-3(href="#") Связаться с девелопером
                    a.d-none.d-md-inline.developer-logo.mt-3.mt-md-0(href="#" target="_blank")
                        img(src="/assets/img/content/logo-developer.svg", alt="Своя земля")
