.arrangement {
    padding: 40px 0;

    @media (min-width: 1201px) {
        padding: 40px 0;
    }

    @media (min-width: 1397px) {
        padding: 60px 0;
    }


    h2 {
        margin-bottom: 40px;
    }

    &__card {
        background-color: #fff;
        padding: 40px;
        min-height: 155px;
        font-size: 16px;
        height: 100%;
    }

    &__item {
        margin-top: 25px;
        display: flex;
        align-items: center;

        &--no {
            margin-top: 25px;
        }

        svg {
            margin-right: 25px;
        }
    }
}