
.arrangement
    .container 
        h2 Обустройство
    .container.arrangement__list
        .row
            each item in arrangement
                .col-md-4.px-2.my-2
                    .arrangement__card.radius
                        .arrangement__title= item.title
                        if item.items
                            .row
                                each text in item.items
                                    .col-xl-6
                                        .arrangement__item
                                            svg.inline-svg(src="img/site/"+text.iconName+".svg")
                                            .arrangement__text= text.iconText
                        else
                            .arrangement__item--no.text-secondary - Отсутсвует
    .container.mt-40
        p – Коммунальные платежи: От 6000 руб до 30000 руб в месяц
        p – Уличное освещение, спортивная и детская площадки, фитнес центр с бассейном, прогулочные зоны и т.д.