.village-slider {
    position: relative;
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    height: 210px;
    @media (min-width: 480px) {
        height: 390px;
        max-height: 65vh;
    }

    @media (min-width: 769px) {
        height: 390px;
        margin-bottom: 30px;
    }

    @media (min-width: 1201px) {
        height: 480px;
    }

    @media (min-width: 1397px) {
        height: 490px;
    }

    &__list {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-color: #eee;

        &-thumb {
            position: relative;
            margin-top: 10px;
            padding: 0 50px;
            height: 0;
            transition: .2s ease-in-out;
            opacity: 0;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 110px;
                background-color: rgba(#000, .45);
                left: 0;
                bottom: -10px;
                border-radius: 0 0 15px 15px;
            }
        }
    }
    
    &__item {
        width: 100%;
        border-radius: 15px;
        height: 190px;
        transition: .2s ease-in-out;
        @media (min-width: 480px) {
            height: 390px;
            max-height: 65vh;
        }

        @media (min-width: 769px) {
            height: 390px;
        }

        @media (min-width: 1201px) {
            height: 480px;
        }
    
        @media (min-width: 1397px) {
            height: 490px;
        }

        &-thumb {
            height: 90px;
            border-radius: 15px;
            margin: 0 12px;
            opacity: .7;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover {
                border: 1px solid $warning;
                opacity: .8;
            }

            &.slick-current {
                opacity: 1;
                border: 1px solid $warning;
            }
        }
    }
    
    .slick-next, 
    .slick-prev {
        top: 25px;
        margin: 0;
        transform: translateY(0);
        background-color: transparent;
        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }

    .slick-next {
        right: 10px;
    }

    .slick-prev {
        left: 10px;
    }

    &:hover {
        .village-slider__list-thumb {
            @media (min-width: 769px) {
                height: 90px;
                margin-top: -100px;
                opacity: 1;
            }
        }
    }

    .slider__header {
        .photo__buttons {
            margin-right: 10px;

            @media (min-width: 991px) {
                margin-right: 30px;
            }
        }
    }
}

.slider__header {
    position: absolute;
    display: flex;
    width: 100%;
    top: 20px;
    z-index: 9;

    .slider__label {
        display: inline-flex;
        padding-left: 35px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        color: #fff;
        background-color: #D96E83;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .photo__buttons {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 15px;

        button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            margin-left: 10px;
            border: solid 1px #e1e8ea;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            outline: none;

            svg {
                opacity: 1;

                &.add-heart {
                    width: 24px;

                    .s-1 {
                        fill: #3c4b5a;
                        stroke: #3c4b5a;
                        stroke-width: .1px;
                    }

                    .s-2 {
                        fill: #fff;
                    }

                    .s-3 {
                        fill: none;
                        stroke: #fbb358;
                        stroke-linecap: round;
                        stroke-width: 1.3px;
                    }
                }

                &.add-comparison {
                    width: 17px;

                    .s-1,
                    .s-2 {
                        fill: none;
                        stroke-linecap: round;
                        stroke-width: 1.3px;
                    }
                    .s-1 {
                        stroke:#3c4b5a;
                    }
                    .s-2 {
                        stroke:#fbb358;
                    }
                }
            }

            &:hover {
                background-color: #fff7ed;
                border-color: #fff7ed;
            }

            &.active {
                background-color: $warning;
                border-color: $warning;

                .add {
                    &-heart {
                        .s-1 {
                            fill: #fff;
                            stroke: #fff;
                            stroke-width: .1px;
                        }

                        .s-2 {
                            fill: #3c4b5a;
                        }

                        .s-3 {
                            fill: none;
                            stroke: #fff;
                            stroke-linecap: round;
                            stroke-width: 1.3px;
                        }
                    }
                }
                .add-comparison {
                    .s-1,
                    .s-2 {
                        fill: none;
                        stroke-linecap: round;
                        stroke-width: 1.3px;
                    }
                    .s-1 {
                        stroke:#fff;
                    }
                    .s-2 {
                        stroke:#3c4b5a;
                    }
                }
            }
        }
    }
}