.village-slider
    .slider__header
        .slider__label Акция - 30%
        .photo__buttons
            button(title="Добавить к сравнению")
                svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
            button(title="Добавить в избранное")
                svg.inline-svg.add-heart(src="img/site/add-heart.svg")
    #village-slider.village-slider__list
        .village-slider__item(style="background: #eee url('/assets/img/content/slider/1.png') no-repeat; background-size: cover;")
        .village-slider__item(style="background: #eee url('/assets/img/content/slider/2.png') no-repeat; background-size: cover;")
        .village-slider__item(style="background: #eee url('/assets/img/content/slider/3.png') no-repeat; background-size: cover;")
        .village-slider__item(style="background: #eee url('/assets/img/content/slider/1.png') no-repeat; background-size: cover;")
        .village-slider__item(style="background: #eee url('/assets/img/content/slider/2.png') no-repeat; background-size: cover;")
        .village-slider__item(style="background: #eee url('/assets/img/content/slider/3.png') no-repeat; background-size: cover;")
        .village-slider__item(style="background: #eee url('/assets/img/content/slider/3.png') no-repeat; background-size: cover;")

    #village-slider-thumb.village-slider__list-thumb
        .village-slider__item-thumb(style="background: url('/assets/img/content/slider/1.png') no-repeat; background-size: cover;")
        .village-slider__item-thumb(style="background: url('/assets/img/content/slider/2.png') no-repeat; background-size: cover;")
        .village-slider__item-thumb(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover;")
        .village-slider__item-thumb(style="background: url('/assets/img/content/slider/1.png') no-repeat; background-size: cover;")
        .village-slider__item-thumb(style="background: url('/assets/img/content/slider/2.png') no-repeat; background-size: cover;")
        .village-slider__item-thumb(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover;")
        .village-slider__item-thumb(style="background: url('/assets/img/content/slider/3.png') no-repeat; background-size: cover;")
