.pagination {
    margin: 20px 0 30px;

    @media (min-width: 769px) {
        margin: 50px 0 60px;
    }

    .page {
        &-item {
            margin-right: 10px;
        }
    
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #3C4B5A;
            line-height: 24px;
            width: 55px;
            height: 55px;
            padding: 0;
            border-radius: 15px;
            border-color:#E5EAEB;
            background-color:#E5EAEB;

            @media (min-width: 769px) {
                font-size: 16px;
                width: 60px;
                height: 60px;
            }

            &.active {
                background-color: $success;
                border-color: $success;
                color: #fff;
                box-shadow: 0 20px 25px rgba(#78A86D, 0.2);
            }

            .prev {
                transform: rotate(180deg);
            }

            &:first-child,
            &:last-child {
                border-radius: 15px;
            }

            &:hover,
            &:focus {
                background-color: $success;
                border-color: $success;
                color: #fff;
                box-shadow: none;
            }
            
            &.dotted {
                width: 30px;
                text-align: center;
                padding: 0;
                background-color: transparent;
                border-color: transparent;
                color: #3C4B5A;

                @media (min-width: 769px) {
                    width: 40px;
                }
            }
        }
    }
    
    &__arrow {
        &:hover,
        &:focus {
            box-shadow: none;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}