.page__pagination
    .container
        nav(aria-label="Постраничная навигация")
            ul.pagination.d-none.d-md-flex.justify-content
                li.page-item.pagination__arrow
                    a.page-link(href="#" aria-label="Предыдущая")
                        span(aria-hidden="true")
                            svg.inline-svg.prev(src="img/site/slide-arrow-right.svg")
                li.page-item
                    a.page-link(href="#") 1
                li.page-item
                    a.page-link.active(href="#") 2
                li.page-item
                    a.page-link(href="#") 3
                li.page-item
                    a.page-link.dotted(href="#") ...
                li.page-item
                    a.page-link(href="#") 456
                li.page-item.pagination__arrow
                    a.page-link(href="#"  aria-label="Следующая")
                        span(aria-hidden="true")
                                svg.inline-svg.next(src="img/site/slide-arrow-right.svg")
            
            ul.pagination.d-flex.d-md-none.justify-content-around
                li.page-item.pagination__arrow
                    a.page-link(href="#" aria-label="Предыдущая")
                        span(aria-hidden="true")
                            svg.inline-svg.prev(src="img/site/slide-arrow-right.svg")
                li.page-item
                    a.page-link.active(href="#") 2
                li.page-item
                    a.page-link.dotted(href="#") ...
                li.page-item
                    a.page-link(href="#") 456
                li.page-item.pagination__arrow
                    a.page-link(href="#"  aria-label="Следующая")
                        span(aria-hidden="true")
                                svg.inline-svg.next(src="img/site/slide-arrow-right.svg")