extends ../../layouts/default.pug

block head
    - var title = 'Своя Земля';
    - var keywords = 'Своя Земля';
    - var description = 'Своя Земля';
    - var pageClass = 'page-developer-info';

block content
    .bg-white.page-va-list__info
        .container.d-none.d-sm-block
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item
                    a(href="/developer/list.html") Девелоперы
                li.breadcrumb-item.active(aria-current="page") Своя Земля
    
        .container.developer__info
            .row
                .col-sm-4.d-none.d-sm-block
                    a(href="#")
                        img.logo(src="/assets/img/content/developer.png", alt="")
                .col-sm-8
                    h1.title Своя Земля
                    .subtitle.font-weight-bold Компания Своя Земля: отзывы, рейтинг поселки
                    .d-sm-none
                        a(href="#")
                            img.logo(src="/assets/img/content/developer.png", alt="")
                    .row.d-none.d-lg-flex
                        mixin infoCol(title, value)
                            .col-lg-4.info-col
                                .title= title
                                .value.font-weight-bold= value
                        +infoCol('Юридическое лицо:', '«Своя Земля»')
                        +infoCol('Рейтинг компании:', '4.2')
                        +infoCol('Поселков в продаже:', '12')
                        +infoCol('Сколько лет на рынке:', '11 лет')
                        +infoCol('Средний рейтинг поселков:', '4.7')
                        +infoCol('Всего отзывов:', 'Нет данных')

                    .address.d-none.d-lg-block
                        .title.d-inline Адрес:
                        | &nbsp;
                        .d-inline.font-weight-bold Москва, 105005, м.Бауманская, ул. Фридриха Энгельса, дом 20, стр.2
                
                    .row.developer__info--bottom.d-none.d-lg-flex
                        .col-lg-4
                            a.btn.btn-warning.rounded-pill.w-100(href="#review") Оставить отзыв
                        .col-lg-5
                            .text.mt-3.mt-md-0.text-center.text-md-left Мы передадим ваши контактные данные представителям поселка 
                // Дублирование кода выше, для адаптива
                .col-12
                    .row.d-lg-none
                        mixin infoCol(title, value)
                            .col-sm-4.info-col
                                .title= title
                                .value.font-weight-bold= value
                        +infoCol('Юридическое лицо:', '«Своя Земля»')
                        +infoCol('Рейтинг компании:', '4.2')
                        +infoCol('Поселков в продаже:', '12')
                        +infoCol('Сколько лет на рынке:', '11 лет')
                        +infoCol('Средний рейтинг поселков:', '4.7')
                        +infoCol('Всего отзывов:', 'Нет данных')

                    .address.d-lg-none
                        .title.d-inline Адрес:
                        | &nbsp;
                        .d-inline.font-weight-bold Москва, 105005, м.Бауманская, ул. Фридриха Энгельса, дом 20, стр.2
                
                    .row.developer__info--bottom.d-lg-none
                        .col-md-4
                            a.btn.btn-warning.rounded-pill.w-100(href="#review") Оставить отзыв
                        .col-md-5
                            .text.mt-3.mt-md-0.text-center.text-md-left Мы передадим ваши контактные данные представителям поселка 
    .page__content-title
        .container
            .row.align-items-center
                .order-0.col-lg-9.col-md-8
                    h2 Коттеджные и дачные поселки девелопера Своя Земля&nbsp;
                        span.text-secondary 464
                .order-2.order-md-1.col-lg-3.col-md-4.col-sm-6.text-right
                    a.btn.btn-outline-warning.show-map-sort(href='#')
                        svg.inline-svg(src="img/site/placeholder.svg")
                        | &nbsp;
                        .d-sm-inline Показать на карте
                .order-1.order-md-2.col-md-12.col-sm-6
                     .page__sort.mr-lg-3.mr-auto
                        .text-secondary Сортировать:
                        .ml-4
                            select#sortinng.select-success.select-bold.hover-white
                                option(value="relevance") По релевантности
                                option(value="raiting") По рейтингу
                                option(value="cheaper") Сначала дешевле
                                option(value="expensive" selected) Сначала дороже
                                option(value="mkad") Удаленность от МКАД
                
    .page__content-list.list.w-100
        .container
            .list--grid
                include ../../sections/card/house.pug
                include ../../sections/card/house.pug
                include ../../sections/card/house.pug
    
    include ../../sections/pagination/pagination.pug
    include ../../sections/review/review
    .footer-description.bg-white
        .container
            .row
                .offset-lg-1.col-lg-10.offset-xl-2.col-xl-8
                    h2 Информация о застройщике Своя Земля
                    p База коттеджных и дачных поселков в Московской области. Каталог позволяет найти участки по нужным шоссе и районам, по площади и стоимости, по удаленности от МКАД и коммуникациям. Каждый поселок имеет свой рейтинг, оценку пользователей и отзывы.
                    p Вы можете узнать всю необходимую информацию об интересующем вас поселке, не выходя из дома. На сайте есть фото и видео обзоры поселков, юридическая информация и объекты неблагоприятной