extends ../../layouts/default.pug

block head
    - var title = 'Девелоперы';
    - var keywords = 'Девелоперы';
    - var description = 'Девелоперы';
    - var pageClass = 'page-developer-list';

block content
    .bg-white.page-va-list__info
        .container
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item.active(aria-current="page") Девелоперы

    .bg-white
        .container
            .block-page__title
                h1.h2 Застройщики коттеджных поселков
        .container
            .page-developer-list__sorting
                .d-flex
                    .page__sort
                        .text-secondary.mr-2 Сортировать по
                        select#sortinng_developer.select-success.select-bold.selectric-select-bg-white
                            option(value="developer_name") Названию
                            option(value="developer_raiting") Рейтингу
                            option(value="developer_village_raiting") Рейтингу поселков
                            option(value="expensive" selected) Поселкам в продаже
                            option(value="mkad") Отзывам
    .bg-gray-mobile
        .container
            .developer__list
                .developer__list-item
                        .logo
                            img(src="/assets/img/content/udachniy.png", alt="Удачный участок")
                        .name.item Удачный участок
                        .raiting__company.item
                            .item__title Рейтинг компаний
                            .item__value Нет данных
                        .reviews.item
                            .item__title Отзывы
                            .item__value Нет отзывов
                        .raiting__village.item
                            .item__title Рейтинг поселков
                            .item__value 4.5
                        .village__sale.item
                            .item__title Поселков в продаже
                            .item__value 1
                        .button
                            a.btn.btn-outline-warning.rounded-pill.d-sm-none.d-md-block(href="#") Перейти
                .developer__list-item
                        .logo
                            img(src="/assets/img/content/akron.png", alt="AKRON Development")
                        .name.item AKRON Development
                        .raiting__company.item
                            .item__title Рейтинг компаний
                            .item__value 5
                        .reviews.item
                            .item__title Отзывы
                            .item__value 3 отзыва
                        .raiting__village.item
                            .item__title Рейтинг поселков
                            .item__value Нет данных
                        .village__sale.item
                            .item__title Поселков в продаже
                            .item__value 3
                        .button
                            a.btn.btn-outline-warning.rounded-pill.d-sm-none.d-md-block(href="#") Перейти

                .developer__list-item
                        .logo
                            img(src="/assets/img/content/world.png", alt="Удачный участок")
                        .name.item Мир удач
                        .raiting__company.item
                            .item__title Рейтинг компаний
                            .item__value Нет данных
                        .reviews.item
                            .item__title Отзывы
                            .item__value Нет отзывов
                        .raiting__village.item
                            .item__title Рейтинг поселков
                            .item__value 4.5
                        .village__sale.item
                            .item__title Поселков в продаже
                            .item__value 1
                        .button
                            a.btn.btn-outline-warning.rounded-pill.d-sm-none.d-md-block(href="#") Перейти
