.header {
    padding-top: 24px;
    padding-bottom: 30px;

    .navbar {
        &-toggler {
            display: flex;
            border-radius: 0;
            padding: 0;
            margin: 0;
            outline: none;
            align-items: center;

            &-ic {
                height: 22px;
                display: block;
                width: 29.3px;

                span {
                    display: block;
                    width: 19.6px;
                    height: 2px;
                    background-color: $body-color;
                    border: none;
                    margin: 8px 0;

                    &:first-child {
                        width: 29.3px;
                        margin: 0;
                    }

                    &:last-child {
                        width: 29.1px;
                        margin: 0;
                    }
                }
            }

            &-title {
                margin-left: 15px;
                font-size: 12px;
                line-height: 2;
                height: 22px;
                color: $secondary;
            }


            &:hover,
            &:focus {
                .navbar-toggler-title {
                    color: $body-color;
                }

                .navbar-toggler-ic {
                    span {
                        width: 30px;
                    }
                }
            }
        }

        &-top {
            margin-left: 60px;

            .nav-link {
                font-size: 14px;
                line-height: 24px;
                color: $body-color;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $success;
                    transition: .2s ease-in-out;
                }

                &:hover {
                    color: $success;

                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__navbar {
        position: fixed;
        left: -9999px;
        top: 0;
        height: 100vh;
        padding: 22px 15px;
        overflow-y: auto;
        z-index: 19;
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: flex-end;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
        transition: .75s ease-in-out;

        .nav {
            width: 100%;
            overflow-y: auto;

            @media (min-width: 769px) {
                flex-direction: column;
            }

            @media (orientation: landscape) {
                flex-direction: row;
            }
        }

        &.show {
            left: 0;
            width: 100%;
            background-color: #fff;
            z-index: 9999;

            @media (min-width: 550px) {
                width: 50vw;
            }

            @media (min-width: 769px) {
                width: calc(50vw - 360px);
                min-width: 320px;
            }
        }

        .nav-item {
            margin: 0;
            padding: 0;
            width: 100%;

            &.mail {
                font-size: 12px;
                line-height: 2;
                color: #919fa3;
                padding-left: 15px;

                a {
                    font-size: 18px;
                    line-height: 1.17;
                    color: #3c3e5a;
                }
            }
        }

        .nav-link {
            width: 100%;
            height: 56px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            padding: 0 15px !important;
            font-size: 14px;

            &:hover {
                color: $success;
                background-color: #f7fafc;
            }
        }

        .nav {
            height: 100%;
            width: 100%;
            padding-top: 2px;
            overflow-y: auto;

            @media (min-height: 600px) {
                flex-direction: column;
            }

            &-item {
                display: block;

                @media (min-height: 600px) {
                    display: block;
                }
            }
        }
    }

    .nav {
        font-size: 14px;

        &-item {
            padding: 0;
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            color: $body-color;
            padding: 0;
        }
    }

    &__nav-icons {
        .nav-link {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            background-color: #f6f9fb;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            @media (min-width: 769px) {
                width: 50px;
                height: 50px;
            }

            svg {
                .comparison {
                    fill: none;
                    stroke: #3c4b5a;
                    stroke-linecap: round;
                    stroke-width:1.3px
                }

                .search {
                    fill: #3c4b5a;
                }

                .heart {
                    fill: #3c4b5a;
                    stroke: #3c4b5a;
                    stroke-width: .1px
                }
            }

            &:hover{
                background-color: #FFF7ED;
            }

            &:focus,
            &:active,
            &.active {
                background-color: $warning;

                .heart__number {
                    background-color: $success;
                }
                
                svg {
                    path {
                        fill: #fff;

                        &.comparison {
                            fill: none;
                            stroke: #fff;
                        }
                    }
                }
            }
        }

        .nav-item {
            margin: 0 0 0 10px;
            position: relative;

            .heart {
                &__number {
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 8px;
                    font-weight: 700;
                    line-height: 13px;
                    top: 0;
                    right: 12px;

                    @media (min-width: 769px) {
                        top: 12px;
                        right: 22px;
                    }
                }
            }

            @media (min-width: 1200px) {
                margin: 0 0 0 20px;
            }

            &:first-child {
                margin-left: 0;
            }

            .search-header {
                input{
                    position: absolute;
                    width: 0;
                    opacity: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 25px;
                    border: 1px solid #e1e8ea;
                    padding: 1rem;

                    @media (min-width: 991px) {
                        width: 50px;
                        height: 50px;
                    }
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: 1px solid #f6f9fb;
                    z-index: 9;

                    &:focus,
                    &.active {
                        border: 1px solid #f6f9fb;
                        outline: none;
                        box-shadow: none;
                    }
                }

                .button-submit {
                    right: -100px;
                    border-color: #f6f9fb;
                    top: 80px;
                    width: 0;
                    height: 0;
                    opacity: 0;
                }

                &.active {
                    .button-submit {
                        width: 40px;
                        height: 40px;
                        opacity: 1;
                        z-index: 99;
                    }
                    input {
                        width: 100vw;
                        right: -115px;
                        top: 70px;
                        z-index: 99;
                        border-radius: 0;
                        border: 0;
                        height: 60px;
                        border-top: 1px solid #e1e8ea;
                        opacity: 1;
                        
                        @media (min-width: 769px) {
                            right: -135px;
                            width: calc(100vw - 15px);
                        }

                        @media (min-width: 991px) {
                            width: 240px;
                            top: 0;
                            right: 0;
                            border: 1px solid #e1e8ea;
                            border-radius: 25px;
                            height: 50px;
                            z-index: 1;
                        }

                        @media (min-width: 1200px) {
                            width: 290px;
                        }
                    }
                }
            }
        }
    }

    &__logo {
        margin-top: -10px;

        a {
            img {
                width: 100%;
                max-width: 123px;
                transition: .2s ease-in-out;
                margin-bottom: -16px;

                @media (min-width: 769px) {
                    width: 123px;
                    margin-bottom: -6px;
                }
            }

            &:hover {
                img {
                    opacity: .7;
                }
            }
        }
    }

    .show {
        .navbar-toggler {
            border-bottom: solid 1px #eff3f4;
            padding-bottom: 24px;
            margin-bottom: 1rem;
            padding-left: 15px;
            position: absolute;
            left: 15px;
            top: 41px;
        }
        .navbar-toggler-ic {
            span {
                width: 30px;
                margin: 11px 0;
                transform: rotate(-45deg);

                &:first-child {
                    width: 29px;
                    margin-bottom: -13px;
                    transform: rotate(45deg);
                }

                &:last-child {
                    display: none;
                    margin: 0;
                }
            }
        }
        .navbar-toggler-title {
            display: block;
            color: $body-color;
        }
    }
}

.header__navbar.show .nav {
    padding: 90px 0 0;
}