header.header.bg-white
    .container
        nav.navbar.p-0.row
            .order-0.col-lg-1.col-md-4.col-sm-4.col-2.pr-md-0
                .d-flex.align-items-center
                    button.navbar-toggler(
                    type="button"
                    data-target="#navbarHeader"
                    data-expanded="false"
                    aria-label="Переключатель навигации")
                        span.navbar-toggler-ic
                            span
                            span
                            span
                        span.navbar-toggler-title.d-none.d-md-block Меню
            .header__logo.order-1.order-xl-2.col-xl-2.col-lg-2.col-md-4.col-sm-4.col-4.pl-lg-0.text-sm-center
                a(href="/")
                    img(src="/assets/img/site/logo.png", alt="Посёлкино")

            .order-2.order-xl-1.col-xl-4.col-lg-6.pr-0.d-none.d-lg-block
                    ul.nav.navbar-top
                        li.nav-item
                            a.nav-link(href="#") Все&nbsp;
                                span.text-secondary 464
                        li.nav-item
                            a.nav-link(href="#") Коттеджные&nbsp;
                                span.text-secondary 286
                        li.nav-item
                            a.nav-link(href="#") Дачные&nbsp;
                                span.text-secondary 178

            .order-3.col-xl-5.col-lg-3.col-sm-4.col-6.text-right
                ul.header__nav-icons.nav.ml-auto.justify-content-end.w-100
                    li.nav-item
                        form.search-header(action="/poisk/")
                            input#headerSearch(name="q", placeholder="Поиск...", type="text")
                            button.nav-link.d-md-none.button-submit(type="submit")
                                span.sr-only Поиск по сайту
                                img.inline-svg(src="img/site/search.svg")
                            button.nav-link.icon-search(type="button")
                                span.sr-only Поиск по сайту
                                img.inline-svg(src="img/site/search.svg")
                    li.nav-item
                        a.nav-link(href="/comparison/comparison.html" title="Сравнение")
                            img.inline-svg(src="img/site/comparison.svg")
                    li.nav-item.heart
                        a.nav-link.heart__link(href="#" title="Избранное")
                            span.badge.badge-warning.text-white.heart__number 2
                            img.inline-svg(src="img/site/heart.svg")
    #navbarHeader.header__navbar.collapse.navbar-collapse
        button.navbar-toggler.w-100(
            type="button"
            data-target="#navbarHeader"
            data-expanded="false"
            aria-label="Переключатель навигации")
            span.navbar-toggler-ic
                span
                span
                span
            span.navbar-toggler-title Меню
        ul.nav
            li.nav-item
                a.nav-link(href="#") О проекте
            li.nav-item
                a.nav-link(href="#") Блог
            li.nav-item
                a.nav-link(href="#") Реклама и сотрудничество
            li.nav-item
                a.nav-link(href="#") Контакты
            li.nav-item
                a.nav-link(href="#") Коттеджные поселки 287
            li.nav-item
                a.nav-link(href="#") Дачные поселки 178
            li.nav-item.mt-auto.mail
                .nav-item-label E-mail:&nbsp;
                a(href="mailto:welcome@poselkino.ru") welcome@poselkino.ru

