include ./raiting/raiting.pug
include ./metro/metro.pug
include ./card/card.pug
include ./article/article.pug
include ./test/test-item.pug
include ./badge/badge.pug
include ./advertising/advertising.pug
include ./optionsParameters/optionsParameters.pug
include ./offer/offer.pug
include ./communication/communication.pug