.work-steps {
    position: relative;
    width: 100%; 
    height: 344; 
    background: url('/assets/img/site/work-bg-desktop@2x.jpg') no-repeat;
    background-size: 100% auto;
    border-radius: 15px;
    flex-direction: column;

    @media (min-width: 991px) {
        height: 448px;
    }
    @media (min-width: 1201px) {
        height: 547px;
    }
    @media (min-width: 1397px) {
        height: 624px;
    }

    .step {
        position: relative;

        &:first-child {
            padding-left: 149px;
            padding-top: 140px;
        }
        
        &-title {
            position: absolute;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;
            z-index: 9;

            @media (min-width: 1201px) {
                font-size: 16px;
                line-height: 25px;
            }
        }

        &-circle {
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $success;
            border: 5px solid #fff;
            position: relative;
            cursor: pointer;
            margin: 0 auto;
        }

        &-cloud {
            display: none;
            background-color: rgba($success, 0.89);
            position: absolute;
            left: -124.5px;
            top: 45px;
            width: 224px;
            border-radius: 15px;
            padding: 15px;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            transition: .2s ease-in-out;
            z-index: 9;

            @media (min-width: 1397px) {
                width: 274px;
            }
            
            &:before {
                content: '';
                display: block;
                border-color: transparent;
                border-style: solid;
                position: absolute;
                top: -12px;
                left: calc(50% - 14px);
                border-width: 0 14px 12px;
                border-bottom-color: rgba($success, 0.89);
            }

            &__footer {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }

            &__prev,
            &__next {
                z-index: 9;
                cursor: pointer;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
            &__prev {
                svg {
                    transform: rotate(180deg);
                }
            }
    
            &__num {
                font-size: 16px;
                color: #fff;
    
                span {
                    font-size: 12px;
                    color: #52724C;
                    margin-left: 7px;
                }
            }
        }

        &.active {
            .step-cloud {
                display: block;
            }
        }

        &--left {
            .step-cloud {
                &:before {
                    top: 53px;
                    left: -28px;
                    border-color: transparent;
                    border-right-color: rgba(120,168,109,.89);
                    border-top-width: 12px;
                    border-bottom-width: 12px;
                    border-right-width: 14px;
                }
            }
        }
        &--right {
            .step-cloud {
                &:before {
                    top: 53px;
                    left: 100%;
                    border-color: transparent;
                    border-left-color: rgba(120,168,109,.89);
                    border-top-width: 12px;
                    border-bottom-width: 12px;
                    border-left-width: 14px;
                }
            }
        }
        &--bottom {
            .step-cloud {
                &:before {
                    top: 131px;
                    left: calc(50% - 14px);
                    border-width: 14px 12px 0;
                    border-top-color: rgba($success, 0.89);
                }
            }
        }
        &--top {
            .step-cloud {
                &:before {
                    top: -14px;
                    left: calc(50% - 14px);
                    border-width: 0 12px 14px;
                    border-top-color: rgba($success, 0.89);
                }
            }
        }
            
        &[data-step="1"] {
            .step-title {
                margin-left: -10px;
                margin-top: -30px;

                @media (min-width: 991px) {
                    margin-left: -45px;
                    margin-top: -50px;
                }

                @media (min-width: 1201px) {
                    margin-left: -10px;
                    margin-top: -30px;
                }

                @media (min-width: 1397px) {
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: -0;
                }
            }
            .step-circle {
                margin-left: 18px;
                margin-top: 25px;

                @media (min-width: 991px) {
                    margin-left: -16px;
                    margin-top: -5px;
                }

                @media (min-width: 1201px) {
                    margin-left: 18px;
                    margin-top: 25px;
                }

                @media (min-width: 1397px) {
                    margin-left: 45px;
                    margin-top: 55px;
                }
            }
            .step-cloud {
                left: 45px;
                top: 212px;

                @media (min-width: 991px) {
                    left: 36px;
                    top: 180px;
                }

                @media (min-width: 1201px) {
                    left: 68px;
                    top: 212px;
                }

                @media (min-width: 1397px) {
                    left: 71px;
                    top: 238px;
                }
                
                &__prev {
                    svg {
                        path {
                            fill: #52724C;
                            cursor: default;
                        }
                    }
                }
            }
        }

        &[data-step="2"] {
            .step-title {
                margin-left: 445px;
                margin-top: 10px;

                @media (min-width: 991px) {
                    margin-left: 300px;
                    margin-top: 0px;
                }

                @media (min-width: 1201px) {
                    margin-left: 375px;
                    margin-top: 10px;
                }

                @media (min-width: 1397px) {
                    margin-left: 445px;
                    margin-top: 10px;
                }
            }
            .step-circle {
                margin-left: 470px;
                margin-top: -30px;

                @media (min-width: 991px) {
                    margin-left: 327px;
                    margin-top: -30px;
                }

                @media (min-width: 1201px) {
                    margin-left: 405px;
                    margin-top: -30px;
                }

                @media (min-width: 1397px) {
                    margin-left: 470px;
                    margin-top: -30px;
                }
            }
            .step-cloud {
                left: 348px;
                top: -187px;

                @media (min-width: 991px) {
                    left: 230px;
                    top: -185px;
                }

                @media (min-width: 1201px) {
                    left: 308px;
                    top: -187px;
                }

                @media (min-width: 1397px) {
                    left: 348px;
                    top: -187px;
                }
            }
        }

        &[data-step="3"] {
            .step-title {
                margin-left: 725px;
                margin-top: 108px;
                
                @media (min-width: 991px) {
                    margin-left: 510px;
                    margin-top: 55px;
                }

                @media (min-width: 1201px) {
                    margin-left: 645px;
                    margin-top: 95px;
                }

                @media (min-width: 1397px) {
                    margin-left: 725px;
                    margin-top: 108px;
                }
            }
            .step-circle {
                margin-left: 725px;
                margin-top: 170px;

                @media (min-width: 991px) {
                    margin-left: 510px;
                    margin-top: 105px;
                }

                @media (min-width: 1201px) {
                    margin-left: 625px;
                    margin-top: 145px;
                }

                @media (min-width: 1397px) {
                    margin-left: 725px;
                    margin-top: 170px;
                }
            }
            .step-cloud {
                left: 602px;
                top: 218px;

                @media (min-width: 991px) {
                    left: 412px;
                    top: 152px;
                }

                @media (min-width: 1201px) {
                    left: 527px;
                    top: 195px;
                }

                @media (min-width: 1397px) {
                    left: 602px;
                    top: 218px;
                }
            }
        }

        &[data-step="4"] {
            .step-title {
                margin-left: 720px;
                margin-top: -353px;

                @media (min-width: 991px) {
                    margin-left: 470px;
                    margin-top: -257px;
                }

                @media (min-width: 1201px) {
                    margin-left: 600px;
                    margin-top: -340px;
                }

                @media (min-width: 1397px) {
                    margin-left: 720px;
                    margin-top: -353px;
                }
            }
            .step-circle {
                margin-left: 812px;
                margin-top: -327px;

                @media (min-width: 991px) {
                    margin-left: 565px;
                    margin-top: -234px;
                }


                @media (min-width: 1201px) {
                    margin-left: 700px;
                    margin-top: -285px;
                }

                @media (min-width: 1397px) {
                    margin-left: 812px;
                    margin-top: -327px;
                }
            }
            .step-cloud {
                left: 859px;
                top: -381px;

                @media (min-width: 991px) {
                    left: 612px;
                    top: -286px;
                }

                @media (min-width: 1201px) {
                    left: 750px;
                    top: -338px;
                }

                @media (min-width: 1397px) {
                    left: 859px;
                    top: -381px;
                }
            }
        }

        &[data-step="5"] {
            .step-title {
                margin-left: 977px;
                margin-top: -20px;

                @media (min-width: 991px) {
                    margin-left: 695px;
                    margin-top: -1px;
                }

                @media (min-width: 1201px) {
                    margin-left: 835px;
                    margin-top: -22px;
                }

                @media (min-width: 1397px) {
                    margin-left: 977px;
                    margin-top: -20px;
                }
            }
            .step-circle {
                margin-left: 940px;
                margin-top: -20px;

                @media (min-width: 991px) {
                    margin-left: 660px;
                    margin-top: -4px;
                }

                @media (min-width: 1201px) {
                    margin-left: 800px;
                    margin-top: -20px;
                }

                @media (min-width: 1397px) {
                    margin-left: 940px;
                    margin-top: -20px;
                }
            }
            .step-cloud {
                margin-left: 769px;
                top: -72px;

                @media (min-width: 991px) {
                    margin-left: 535px;
                    top: -57px;
                }

                @media (min-width: 1201px) {
                    margin-left: 676px;
                    top: -72px;
                }

                @media (min-width: 1397px) {
                    margin-left: 769px;
                    top: -72px;
                }
            }
        }

        &[data-step="6"] {
            .step-title {
                margin-left: 1176px;
                margin-top: -254px;

                @media (min-width: 991px) {
                    margin-left: 830px;
                    margin-top: -190px;
                    width: 110px !important;
                }

                @media (min-width: 1201px) {
                    margin-left: 1010px;
                    margin-top: -220px;
                }

                @media (min-width: 1397px) {
                    margin-left: 1176px;
                    margin-top: -254px;
                }
            }
            .step-circle {
                margin-left: 1140px;
                margin-top: -255px;

                @media (min-width: 991px) {
                    margin-left: 795px;
                    margin-top: -192px;
                }

                @media (min-width: 1201px) {
                    margin-left: 980px;
                    margin-top: -220px;
                }

                @media (min-width: 1397px) {
                    margin-left: 1140px;
                    margin-top: -255px;
                }
            }
            .step-cloud {
                left: 844px;
                top: -307px;

                @media (min-width: 991px) {
                    left: 548px;
                    top: -245px;
                }

                @media (min-width: 1201px) {
                    left: 733px;
                    top: -272px;
                }

                @media (min-width: 1201px) {
                    left: 733px;
                    top: -272px;
                }

                @media (min-width: 1397px) {
                    left: 844px;
                    top: -307px;
                }

                &__next {
                    svg {
                        path {
                            fill: #52724C;
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    &__mobile {
        .btn {
            position: relative;
            padding: 0;
            padding-left: 23px;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: normal;
            line-height: 18px;
            color: $body-color;
            background-color: transparent;
            
            &:hover,
            &:focus {
                color: $success;
                text-decoration: none;
            }

            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 10px;
                background-color: $success;
                left: 0;
                top: 3px;
            }
        }

        p {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 15px;
            padding-left: 23px;
            color: #919FA3;
        }
    }
}