mixin step(num, width, title, titlePosition, text)
    .step(class="step--"+titlePosition+' ', data-step=num)
        .step-title(style="width: " +width+ "px;")!= title
        .step-circle
        .step-cloud
            .step-cloud__text= text
            .step-cloud__footer
                .step-cloud__prev
                    svg(xmlns='http://www.w3.org/2000/svg' width='15.574' height='9.815' viewBox='0 0 15.574 9.815')
                        path(d='M.657 79.964h12.275L10 77.035a.657.657 0 0 1 .929-.929l4.05 4.05a.657.657 0 0 1 0 .929l-4.05 4.051a.657.657 0 0 1-.929-.929l2.929-2.929H.657a.657.657 0 1 1 0-1.314z' transform='translate(0 -75.914)')
                .step-cloud__num 0#{num}
                    span / 06
                .step-cloud__next
                    svg(xmlns='http://www.w3.org/2000/svg' width='15.574' height='9.815' viewBox='0 0 15.574 9.815')
                        path(d='M.657 79.964h12.275L10 77.035a.657.657 0 0 1 .929-.929l4.05 4.05a.657.657 0 0 1 0 .929l-4.05 4.051a.657.657 0 0 1-.929-.929l2.929-2.929H.657a.657.657 0 1 1 0-1.314z' transform='translate(0 -75.914)')


.work-steps.d-none.d-md-flex()
    +step("1", "125", "Юридическая<br>проверка", "top active", "Мы заказываем документы из гос. органов для каждого поселка")
    +step("2", "325", "Экология", "bottom", "Мы анализируем экологическую обстановку в местах, где расположены поселки")
    +step("3", "145", "Отзывы<br>от жильцов", "top", "Наши специалисты собирают реальные отзывы от жителей при посещении поселков")
    +step("4", "125", "Реальная<br>стоимость<br>земли", "left", "Мы рассчитываем стоимость участка с учетом всех дополнительных затрат")
    +step("5", "163", "Коммуникации", "right", "Мы публикуем фактическую информацию о коммуникациях, подведенных в поселки")
    +step("6", "141", "Аэросъемка", "right", "Мы делаем аэросъемку каждого посёлка с помощью профессионального оборудования")
.work-steps__mobile.d-flex.d-md-none
    .accordion
        #stepOne
            button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                |  Юридическая проверка
        #collapseOne.collapse.show
            p Мы заказываем документы из гос. органов для каждого поселка
        #stepTwo
            button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                | Экология
        #collapseTwo.collapse
            p Мы анализируем экологическую обстановку в местах, где расположены поселки
        #stepThreer
            button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                | Отзывы от жильцов
        #collapseThree.collapse
            p Наши специалисты собирают реальные отзывы от жителей при посещении поселков
        #stepFour
            button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                | Реальная стоимость земли
        #collapseFour.collapse
            p Мы рассчитываем стоимость участка с учетом всех дополнительных затрат
        #stepFive
            button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
                | Коммуникации
        #collapseFive.collapse
            p Мы публикуем фактическую информацию о коммуникациях, подведенных в поселки
        #stepSix
            button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
                | Аэросъемка
        #collapseSix.collapse
            p Мы делаем аэросъемку каждого посёлка с помощью профессионального оборудования
