.price {
    &--village {
        margin-top: 15px;
        padding: 20px;
        height: 100%;
        font-size: 14px;

        @media (min-width: 991px) {
            padding: 30px;
            margin-top: 0;
        }

        @media (min-width: 1201px) {
            padding: 40px;
        }
    }

    &__icon {
        width: 30px;
        text-align: center;
        padding-right: 10px;
    }

    &__title {
        @media (min-width: 991px) {
            width: 160px;
        }
    }

    &__value {
        font-weight: 700;
        width: 100%;
        margin-top: 10px;

        @media (min-width: 991px) {
            width: auto;
            margin-top: 0;
        }
    }
    &__row {
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 991px) {
            margin-left: -20px;
        }

        &:nth-child(odd) {
            background-color: #F7FAFC;
        }
    }

    a {
        font-size: 14px;
        margin-top: 40px;
        display: inline-block;
        @media (min-width: 991px) {
            font-size: 16px;
        }
    }
}