.bg-white.radius.price.price--village
    h3.h2 Стоимость
    .d-flex.price__row
        .price__icon
            svg.inline-svg(src="img/site/house.svg")
        .price__title Площадь участков:
            | &nbsp;
        .price__value от 6 до 30 соток
    .d-flex.price__row
        .price__icon
            svg.inline-svg(src="img/site/rub.svg")
        .price__title Стоимость участков:
            | &nbsp;
        .price__value от 890 000 ₽ до 5 045 242 ₽
    .d-flex.price__row
        .price__icon
            svg.inline-svg(src="img/site/house-plan.svg")
        .price__title Площадь домов:
            | &nbsp;
        .price__value от 169.6 до 501.1 м
            sup 2
    .d-flex.price__row
        .price__icon
            svg.inline-svg(src="img/site/rub.svg")
        .price__title Стоимость домов:
            | &nbsp;
        .price__value от 2 890 000 ₽ до 5 045 242 ₽
    a.text-success.text-decoration-none.font-weight-bold(href="#" title="Смотреть все предложения") Посмотреть предложения
        | &nbsp;
        svg.inline-svg.price__icon(src="img/site/arrow-right.svg")