extends ../../layouts/default.pug

block head
    - var title = 'Результат поиска';
    - var keywords = 'Результат поиска';
    - var description = 'Результат поиска';
    - var pageClass = 'page-search';

block content
    .page-search__filter.bg-white
        .container
            .d-block.d-sm-none
                .bg-white.py-2.d-flex
                    a.btn.btn-outline-warning.w-100.toggler-filter.mr-3.mr-sm-0(href='#') Фильтры
                        svg.inline-svg(src="img/site/back.svg")
                    a.d-block.d-sm-none.btn.btn-outline-warning.show-map(href="#")
                        svg.inline-svg(src="img/site/placeholder.svg")
            .show-mobile-filter(style="display: none;")
                include ../../sections/filter/search.pug
    .page__breadcrumbs
        .container
            .row.align-items-center
                .order-1.order-sm-0.col-xl-5.col-lg-4
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="/") Главная
                        li.breadcrumb-item.active(aria-current="page") Поселки
                .order-0.order-sm-1.col-xl-7.col-lg-8
                    .d-flex.justify-content-lg-end
                        .page__sort.mr-lg-3.mr-auto
                            .text-secondary Сортировать:
                            .ml-4
                                select#sortinng.select-success.select-bold.hover-white
                                    option(value="relevance") По релевантности
                                    option(value="raiting") По рейтингу
                                    option(value="cheaper") Сначала дешевле
                                    option(value="expensive" selected) Сначала дороже
                                    option(value="mkad") Удаленность от МКАД
                        a.toggler-filter.btn.btn-warning.d-none.d-sm-block(href="#") Фильтр
                        a.d-none.d-sm-flex.btn.btn-outline-warning.ml-4.show-map(href="#")
                            svg.inline-svg(src="img/site/placeholder.svg")
                            | &nbsp;
                            span.d-none.d-sm-inline Показать на карте
    .page__content-title
        .container
            .row.align-items-center
                .col-xl-7.col-lg-6
                    h1.h2 Поселки в Московской области
                        | &nbsp;
                        span.text-secondary 464
                .col-xl-5.col-lg-6.filter__tab.d-none.d-sm-block
                    ul.nav.justify-content-lg-end.mt-lg-0.mt-2
                        li.nav-item
                            a.nav-link.btn.btn-success.rounded-pill(href="#") Все
                        li.nav-item
                            a.nav-link.btn.btn-outline-secondary.rounded-pill(href="#")
                                svg.inline-svg(src="img/site/house.svg")
                                | Дома
                        li.nav-item
                            a.nav-link.btn.btn-outline-secondary.rounded-pill(href="#")
                                svg.inline-svg(src="img/site/house-plan.svg")
                                | Участки
    .page__content-tag-list
        .container
            include ../../sections/tag-list/tag-list.pug

    .page__content-list.list.w-100
        .container
            .list--grid
                include ../../sections/card/house.pug
                include ../../sections/card/house.pug
    
    include ../../sections/pagination/pagination.pug
    
    .bg-white.page__map-wrapper
        include ../../sections/map/map-full-link.pug
    
    //- Спецпредложения
    include ../../sections/special_offer/special_offer.pug
    
    include ../../sections/address-tab/address-tab.pug
    .bg-white
        include ../../sections/footer/footer-description.pug
        include ../../sections/footer/footer-feedback.pug
