.filter {
    padding-top: 20px;
    padding-bottom: 20px;

    &__highway {
        width: 100%;
        max-width: 120px;

        .btn {
            width: 100%;
        }
    }

    &__type {
        padding-right: 10px;

        @media (min-width: 991px) {
            width: auto;
            padding-right: 0;
            margin-right: 20px;
        }
        .selectric {
            width: 169px;
        }
    }

    &__mkad {
        @media (min-width: 1201px) {
            margin-top: 40px;
        }
        @media (min-width: 1397px) {
            margin-top: 0;
        }

        label {
            min-width: 85px;

            @media (min-width: 991px) {
                width: auto;
            }
        }

        input {
            &.form-control {
                width: 45%;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    &__price {
        @media (min-width: 991px) {
            margin-top: 40px;
        }
        @media (min-width: 1397px) {
            margin-top: 0;
        }
        input {
            &.form-control {
                width: 45%;
                margin-left: 10px;

                @media (min-width: 991px) {
                    width: 124px;
                }
            }
        }
    }

    &__size {
        @media (min-width: 991px) {
            margin-top: 40px;
        }
        @media (min-width: 1397px) {
            margin-top: 0;
        }
        label {
            width: 95px;

            @media (min-width: 991px) {
                width: 82px;
            }
        }

        input {
            &.form-control {
                width: 45%;
                margin-left: 10px;

                @media (min-width: 1397px) {
                    width: 60px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__button-clear {
        font-size: 14px;
        font-weight: 700;
        color: #919fa3;
        padding-left: 0;

        svg {
            margin-right: 10px;

            path {
                fill: rgba(0,0,0,0.3);
            }
        }

        &:hover,
        &:focus {
            color: #919fa3;
        }
    }

    .show-map {
        width: calc(50% - 10px);
        padding-left: 10px;
        padding-right: 10px;

        svg {
            path {
                fill: #FBB358;
            }
        }

        &:hover {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        @media (min-width: 991px) {
            width: auto;
            padding-left: 30px;
            padding-right: 30px;
        }
        @media (min-width: 1201px) {
            width: auto;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    button {
        &[type="submit"] {
            width: calc(50% - 10px);
            padding-left: 10px;
            padding-right: 10px;

            @media (min-width: 769px) {
                margin-top: 0;
                padding-left: 40px;
                padding-right: 40px;
            }

            @media (min-width: 991px) {
                width: auto;
                min-width: 312px;
            }
        }
    }

    &__tab {
        .nav {
            &-item {
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }
            }

            &-link {
                width: 145px;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }

    .dropdown-success {
        width: 100%;
        margin-right: 30px;
        
        @media (min-width: 759px) {
            width: auto;
        }
    }
}

.toggler-filter {
    .btn {
        color: $body-color;
        display: block;
        margin: 15px 0;

        @media (min-width: 769px) {
            display: none;
        }

        svg {
            opacity: 0.5;
            margin-left: 5px;
            .cls-1 {
                opacity: 1!important;
            }
            .cls-2 {
                fill: $body-color;
                stroke: $body-color;
            }
        }

        &:hover {
            color: #fff;
            svg {
                opacity: 1;
                .cls-1 {
                    opacity: 1!important;
                }
                .cls-2 {
                    fill: #fff;
                    stroke: #fff;
                }
            }
        }
    }
}

.show-mobile-filter {
    display: none;

    @media (min-width: 769px) {
        display: block;
    }
}
