.filter.row
    .order-0.col-xl-3.col-lg-12.col-sm-6
        .d-flex
            .filter__type
                    select#filter-type(name="type")
                        option(value="all" selected) Все
                        option.house-modal(value="house") Дом
                        option(value="area") Участок
                        
            .filter__highway
                button.btn.btn-outline-warning.rounded-pill(
                    type="button"
                    data-toggle="modal"
                    data-target="#highwayModal"
                ) Шоссе
    .order-1.col-xl-3.col-lg-4.col-sm-6.mt-4.mt-sm-0
        .filter__mkad
            .form-group.form-group-inline.justify-content-sm-end.justify-content-lg-start
                label от МКАД, км
                input#fromMKAD.form-control(name="fromMKAD" placeholder="от" data-min-val="2" data-max-val="140" type="text")
                input#toMKAD.form-control.mr-0(name="toMKAD" placeholder="до" data-min-val="2" data-max-val="140" type="text")

    .order-2.col-xl-4.col-lg-4.col-sm-6.mt-4.mt-md-0
            .filter__price
                .form-group.form-group-inline.justify-content-lg-start
                    label Стоимость, ₽
                    input#fromPrice.form-control(name="fromPrice" placeholder="0" type="text")
                    input#toPrice.form-control(name="toPrice" placeholder="до" type="text")

    .order-3.col-xl-2.pl-xl-0.col-lg-4.col-sm-6.mt-4.mt-md-0
        .filter__size.d-flex.justify-content-sm-end
            .form-group.form-group-inline.mr-lg-0
                label Участок, сот.
                input#fromSize.form-control(name="fromSize" placeholder="от" type="text")
                input#toSize.form-control(name="toSize" placeholder="до" type="text")

    .order-3.col-12
        include ../extra-options/extra-options.pug
    .order-3.order-lg-6.col-12.mt-4.pt-1
        .d-flex.flex-wrap.justify-content-start
            input.btn.btn-lg.btn-warning.mr-4(type="button" value="Подобрать (464)")
            button.btn.btn-link.filter__button-clear.p-0(type="reset")
                svg.inline-svg(src="img/site/delete.svg")
                | Сбросить фильтр
