extends ../../layouts/default.pug

block head
    - var title = 'Дом Англия в КП Осень';
    - var keywords = 'Дом Англия в КП Осень';
    - var description = 'Дом Англия в КП Осень';
    - var pageClass = 'page-home';

block yandexApi
    script(src="https://api-maps.yandex.ru/2.1/?apikey=0c55e225-bb2b-4b98-94a5-3390b6dbf643&lang=ru_RU")
    script(src="/assets/js/map-village.js")

block content
    .bg-white.pb-5
        .container.d-none.d-sm-block
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item
                    a(href="/village/index.html", title="Перейти к списку поселков") Поселки
                li.breadcrumb-item
                    a(href="/", title="Перейти к поселу") КП Осень
                li.breadcrumb-item.active(aria-current="page") Дом Англия в КП Осень

        .container.mt-md-5
            .row
                .order-0.order-md-0.col-xl-8.col-md-7
                    .page-title
                        h1.h2 Дом Англия в КП Осень 
                .col-xl-4.col-md-5.justify-content-end
                    .active-sale.justify-content-end
                        .d-none.d-md-inline-block
                            +badge('active-sale__badge', '', 'Отделка под ключ')

                .order-1.order-md-2.col-lg-8.col-md-7
                    include ../../sections/village-slider/village-slider
                    .home-info__slider-bottom.justify-content-start
                        mixin sliderBottomInfo(value, title)
                            .home-info-col
                                .home-info-col__value!= value
                                .home-info-col__title= title
                        +sliderBottomInfo('300 м<sup>2</sup>', 'Площадь')
                        +sliderBottomInfo('53', 'Номер на плане')
                        .home-info__slider-plan.text-left.text-lg-right.ml-auto
                            a.text-success(href='#') План участка
                    .d-flex.d-md-none.w-100
                        include ../../sections/card/card-info-home
                    include ../../sections/credit/credit.pug
                    .home-description
                        h2 Описание
                        p Поселок расположен в 8 км от МКАД по Новорязанскому  шоссе. Есть возможность добраться на личном авто и электричке. 
                        p В поселка развитая инфраструктура: имеется супермаркет, ресторан, фитнес-центр, детские и спортивные площадки.

                        p Поселок выполнен в едином архитектурном стиле, имеются прогулочные пункты. Обеспечена безопасность: охрана, пропускная система, видеонаблюдение. Есть освещение, дорожное покрытие, озеленение мест общего пользования.

                    .home-communication
                        h2 Коммуникации
                        .row
                            +communication('col-sm-4', 'communication-card--light', 'Свет', '15 кВт на уч.', 'light-card-icon')
                            +communication('col-sm-4', 'communication-card--gas', 'Газ', 'Планируется', 'gas-card-icon')
                            +communication('col-sm-4', 'communication-card--water', 'Вода', 'Отсутствует', 'water-card-icon')
                    .home-legal-information
                        h2 Юридическая информация
                        p 
                            | Категория замель: С/х назначение
                            br
                            | Вид разрешенного использования: Для дачного строительства
                            br
                            | Юридическая форма: ДНП
                        .d-flex.flex-wrap.flex-md-nowrap.text-left.justify-content-start.mt-3.mt-md-5.align-items-center
                            .d-block.d-md-none.mb-4.mb-md-0.w-100.text-left.width-md-auto
                                a.developer-logo.mt-3.mt-md-0(href="#" target="_blank")
                                    img(src="/assets/img/content/logo-developer.svg", alt="Своя земля")
                            a.btn.btn-warning.rounded-pill.mb-3.mr-5(href="#") Связаться с девелопером
                            a.d-none.d-md-inline.developer-logo(href="#" target="_blank")
                                img(src="/assets/img/content/logo-developer.svg", alt="Своя земля")

                    include ../../sections/map/page-map

                    .home-about-villiage
                        h2 О поселке
                        .row.mt-4
                            +offer('col-md-4', 'Обустройство поселка', 'infographic', '#F2F8FD')
                            +offer('col-md-4', 'Экология и природа', 'infographic', '#F1F8EF')
                            +offer('col-md-4', 'Как добраться', 'infographic', '#F6F5FA')
                

                .order-2.order-md-3.col-lg-4.col-md-5
                    .d-none.d-md-block.h-100
                        include ../../sections/card/card-info-home
    .container
        .block-page
            h2 Дома в этом поселке
            #house_in_village.block-page__offer
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers1')
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers2')
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers3')
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers4')
        .block-page
            h2 Похожие дома
            #similar_houses.block-page__offer
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers5')
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers6')
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers7')
                +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers8')