extends ../../layouts/default.pug

block head
    - var title = 'Коттеджный поселок';
    - var keywords = 'Коттеджный поселок';
    - var description = 'Коттеджный поселок';
    - var pageClass = 'page-village';

block yandexApi
    script(src="https://api-maps.yandex.ru/2.1/?apikey=0c55e225-bb2b-4b98-94a5-3390b6dbf643&lang=ru_RU" async)
    script(src="/assets/js/map-village.js")
block content
    .bg-white
        .container.d-none.d-sm-block
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Главная
                li.breadcrumb-item
                    a(href="/village/index.html", title="Перейти к списку поселков") Поселки
                li.breadcrumb-item.active(aria-current="page") Коттеджный поселок Новое Горелово

        .container.mt-md-5
            .row
                .order-0.order-md-0.col-xl-8.col-md-7
                    .page-title
                        h1.h2 Коттеджный поселок Новое Горелово
                    .active-sale
                        span.mr-5 Сотка от 10 000 Р
                        .d-none.d-md-inline-block
                            +badge('active-sale__badge', 'speaker', 'Активные продажи')
                .order-2.order-md-1.col-xl-4.col-md-5.mt-4.mt-md-0
                    .wrap-raiting
                        .card-house__raiting.d-flex.justify-content-md-end
                            +raiting(4, '4.1')
                        .card-house__review.review
                            .d-flex.text-right.justify-content-md-end.text-right
                                a(href="#")
                                    svg.inline-svg(src="img/site/comment.svg")
                                    | 2 отзыва от жителей
        
                .order-1.order-md-2.col-xl-8.col-md-7
                    include ../../sections/village-slider/village-slider

                    // Дублирование кода для адаптива
                    #mobile-nav-slider.nav.page-nav.nav-village.d-lg-none.d-block.mt-4.mt-md-0
                        a.btn.btn-success.rounded-pill(href="#description") Описание
                        a.btn.btn-outline-success.rounded-pill(href="#area") Участки
                        a.btn.btn-outline-success.rounded-pill(href="#home") Дома
                .order-3.order-md-3.col-xl-4.col-md-5
                    include ../../sections/card/card-info-village
        .container.slider-bottom-info
            .row
                .col-lg-5.d-none.d-lg-block
                    .nav.page-nav.nav-village.anchor
                        a.btn.btn-outline-success.rounded-pill(href="#description") Описание
                        a.btn.btn-outline-success.rounded-pill(href="#area") Участки
                        a.btn.btn-outline-success.rounded-pill(href="#home") Дома
                .col-lg-3.col-md-7
                    .bank-widget
                        .bank-widget__icon
                            svg.inline-svg(src="img/site/bank.svg")
                        .bank-widget__text
                            span Доступна рассрочка
                            br
                            a.text-success(href="#") Посмотреть условия
                .col-lg-4.pl-lg-0.col-md-5
                    include ../../sections/social/social
                
    .p-t-60.p-b-60.container#description
        .row
            .col-lg-7.col-md-6
                include ../../sections/plan/plan-village
            .col-lg-5.col-md-6
                include ../../sections/price/price-village
    include ../../sections/about/about-village-video
    #home
        include ../../sections/card/house-in-village
    include ../../sections/about/about-village
    include ../../sections/arrangement/arrangement
    include ../../sections/ecology/ecology
    #area
        include ../../sections/card/area-in-village
    include ../../sections/map/village-map
    include ../../sections/legal-information/legal-information
    include ../../sections/review/review
    
    .high-raiting
        .container
            h2 Скорее всего вам будут интересны данные поселки:
            #raiting-area-home-slick.block-page__offer
                +card('Дачный поселок Лесная Опушка 1', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 2', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 3', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
                +card('Дачный поселок Лесная Опушка 4', 'От 60 000 ₽ до 120 000 ₽', true, false, "")
    
    .bg-white.py-4
        include ../../sections/footer/footer-feedback-village
