.article {
    &-home {
        padding: 80px 0 30px;
        
        .block-page {
            &__title {
                margin-bottom: 0;
            }
        }

        .h1 {
            margin-bottom: 0;
        }

        .btn {
            margin-bottom: 10px;
        }

        .slider-article {
            padding: 20px 0;
        }
    }
}