.article.article-home
    .container
        .row
            .order-1.col-lg-9.col-md-8.col-sm-8
                .block-page__title.block-page__title--icon
                    h3.h1 Статьи, которые
                        br
                        | будут вам интересны
            .order-3.order-sm-2.col-xl-3.col-md-4.col-sm-4
                .d-flex.align-items-end.h-100
                    a.w-100.rounded-pill.btn.btn-outline-secondary(href="#", title="Смотреть все статьи") Смотреть все статьи
            .order-2.order-sm-3.col-12.px-3
                #slider_article.slider-article
                    +article('qweqwe')
                    +article('qweqwe')
                    +article('qweqwe')
                    +article('qweqwe')
                    +article('qweqwe')
