
<!-- House-->
<div class="modal" id="houseModal">
    <div class="modal-dialog modal-xl modal-house" role="document">
        <div class="modal-content p-15">
            <div class="modal-header">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="text-uppercase">Тип дома</h5>
                    <button class="close btn-sm" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="1" name="1">
                                <label for="1">Бревно</label>
                            </div>
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="2" name="2">
                                <label for="2">Брус</label>
                            </div>
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="3" name="3">
                                <label for="3">Газобетон</label>
                            </div>
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="4" name="4">
                                <label for="4">Каркасный</label>
                            </div>
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="5" name="5">
                                <label for="5">Кирпич</label>
                            </div>
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="6" name="6">
                                <label for="6">Монолит</label>
                            </div>
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="7" name="7">
                                <label for="7">Пеноблок</label>
                            </div>
                            <div class="checkbox-house">
                                <input class="sr-only" type="checkbox" id="8" name="8">
                                <label for="8">Другое</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="modal-area-home">
                            <div class="modal-area-home__input">
                                <div class="d-flex align-items-center">
                                    <div class="modal-area-home__title">Площадь дома кв. м.</div>
                                    <input id="modalAreaStart" type="text" value="0">
                                    <input id="modalAreaEnd" type="text" value="0">
                                </div>
                            </div>
                            <div class="modal-area-home__range" id="slider-range"></div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 mt-3 mt-md-0">
                        <div class="d-flex flex-wrap">
                            <div class="custom-control custom-checkbox custom-control-inline align-items-center h-100">
                                <input class="custom-control-input" id="noDecoration" type="checkbox" name="noDecoration" checked>
                                <label class="custom-control-label" for="noDecoration">Без отделки</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline align-items-center h-100">
                                <input class="custom-control-input" id="decoration" type="checkbox" name="decoration" checked>
                                <label class="custom-control-label" for="decoration">С отделкой</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 mt-4 mb-4">
                        <p class="mb-0 text-secondary">Готовность:</p>
                        <div class="d-flex flex-wrap">
                            <div class="custom-control custom-checkbox custom-control-inline align-items-center h-100">
                                <input class="custom-control-input" id="built" type="checkbox" name="built" checked>
                                <label class="custom-control-label" for="built">Построен</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline align-items-center h-100">
                                <input class="custom-control-input" id="project" type="checkbox" name="project" checked>
                                <label class="custom-control-label" for="project">Проект</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline align-items-center h-100">
                                <input class="custom-control-input" id="construction" type="checkbox" name="construction" checked>
                                <label class="custom-control-label" for="construction">Строится</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <button class="btn btn-warning" type="button" data-dismiss="modal">Готово</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Записаться на просмотр-->
<div class="modal" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="text-uppercase" id="feedbackModalLabel">Записаться на просмотр</h5>
                    <button class="close btn-sm" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
            <div class="modal-body">
                <form class="row form-feedback-modal">
                    <div class="col-12">
                        <p class="text-center">Мы передадим ваши контактные данные представителям поселка</p>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="uName">Ваше имя</label>
                            <input class="form-control" id="uName" type="text" placeholder="Введите имя">
                        </div>
                        <div class="form-group">
                            <label for="uPhone">Ваш телефон</label>
                            <input class="phone form-control" id="uPhone" type="text" placeholder="Ваш телефон">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-warning px-5 rounded-pill" type="submit" data-dismiss="modal">Отправить</button>
                        <p class="mt-2"> <small>Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c </small><a class="text-success" href="#">Политикой Конфиденциальности</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>