.map {
    &-link {
        &__full {
            padding: 60px 0;
            background: #eee url(/assets/img/site/map-bg.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            margin-bottom: 30px;

            &-title {
                display: flex;
                width: 100%;
                text-align: center;
                justify-content: center;
                margin-bottom: 45px;
    
                .icon {
                    margin-right: 30px;
                    svg {
                        path {
                            fill: $body-color;
                        }
                    }
                }
            }
        }
    }
    &-container {
        background-color: #eee;
        height: 595px;
        width: calc(100% + 30px);
        border-radius: 15px;
        margin: 60px 0;
        margin-left: -15px;
        margin-right: -15px;

        &-page {
            height: 385px;
            border-radius: 15px;
            margin: 50px 0 60px;
        }
    }
}

.offer-card {
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;

    &__icon {
        height: 60px;
    }

    &__title {
        margin-top: 30px;
        font-size: 14px;
        font-weight: bold;
    }
}

.village-map {
    padding: 60px 0;

    @media (min-width: 1201) {
        padding: 100px 0;
    }

    &.page-map {
        padding-bottom: 0;

        .mobile--margin-top {
            margin-top: 0;
        }
    }
}

.mobile--margin-top  {
    margin-top: 330px;

    @media (min-width: 680px){
        margin-top: 0;
    }
}

.map-block {
    padding-left: 74px;
    position: relative;
    margin-top: 15px;

    &__icon {
        position: absolute;
        width: 54px;
        height: 54px;
        border-radius: 15px;
        background-color: #F0F4F5;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;

        svg {
            path {
                fill: $body-color;
            }
        }
    }

    &__text {
        font-size: 14px;
        line-height: 26px;
    
        @media (min-width: 1201px) {
            font-size: 16px;
        }
    
    }
    &__title {
        font-size: 14px;
        color: #919FA3;
    }
    &__link {
        margin-top: 15px;
    }
}

.map-baloon {
    position: absolute;
    top: 350px;
    left: 15px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: calc(100% - 30px);
    box-shadow: 0 15px 30px rgba($body-color, 0.15);
    
    @media (min-width: 680px) {
        width: 290px;
        top: 15px;
    }

    @media (min-width: 991px) {
        width: 424px;
        top: 25px;
        left: 25px;
        padding: 25px;
    }
    @media (min-width: 1201px) {
        top: 40px;
        left: 40px;
        padding: 40px;
    }

    a {
        text-decoration: none;
    }

    .text-block {
        line-height: 26px;
        margin-top: 25px;

        .title {
            font-size: 14px;
            color: #919FA3;
        }

        .value {
            font-size: 14px;
            color: #3C4B5A;
            @media (min-width: 991px) {
                font-size: 16px;
            }
        }
    }
    .button-block {
        font-size: 12px;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width: 991px) {
            justify-content: flex-start;
        }

        button {
            margin-top: 10px;
            border-radius: 15px;
            padding: 5px;
            width: 60px;
            height: 60px;
            margin-right: 5px;

            @media (min-width: 1201px) {
                width: 47px;
                height: 47px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.btn-secondary {
                background-color: #F0F4F5;
                border-color: #F0F4F5;

                svg {
                    height: 12px;
                }

                &.active,
                &:focus {
                    background-color: $warning;
                    border-color: $warning;
                    outline: none;
                    box-shadow: none;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            &.rounded-pill {
                margin-top: 25px;
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;

                @media (min-width: 991px) {
                    margin-top: 10px;
                    width: auto;
                }

                @media (min-width: 1201px) {
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
    }
}