.container
    .map-link__full.d-flex.justify-content-center.flex-wrap
        .map-link__full-title
            .icon
                img.inline-svg(src="img/site/placeholder-big.svg")
            .h1 Поиск по карте
        a.btn.btn-success.rounded-pill(href="#") Посмотреть на карте
    .row
        include ./profit-offer.pug