.village-map.page-map.bg-white
    .container.px-0
        h2 Карта
        .map-container-page.position-relative
            #villageMap(style="width: 100%; height: 100%;")
    .container.mobile--margin-top.px-0
        .row
            .col-md-6
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/surface.svg")
                    .map-block__text
                        .map-block__title На автомобиле:
                        .map-block__info!= '<b>1ч.</b> от МКАДа без пробок'
            .col-md-6
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/train.svg")
                    .map-block__text
                        .map-block__title На электричке:
                        .map-block__info!= '<b>1ч. 40мин.</b> от вокзала: Ярославский<br>Стоимость одного проезда: <b>220 руб.</b><br>Стоимость такси: <b>250 руб.</b>'
                        .map-block__link
                            a.text-success.text-decoration-nont.font-weight-bold(href="#") Посмотреть расписание
                                | &nbsp;
                                svg.inline-svg(src="img/site/arrow-right.svg")
            .col-md-6
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/bus.svg")
                    .map-block__text
                        .map-block__title На автобусе:
                        .map-block__info!= 'ст. отправления Сергиев Посад, <b>4.1 км</b> от&nbsp;остановки'
                        .map-block__link
                            a.text-success.text-decoration-nont.font-weight-bold(href="#") Посмотреть расписание
                                | &nbsp;
                                svg.inline-svg(src="img/site/arrow-right.svg")

