+offer('col-lg-3 col-sm-6', 'Купить дом в<br />Сергиево-Посадском районе', 'navigation', '#F2F8FD')
+offer('col-lg-3 col-sm-6', 'Дома в 30км от МКАД<br />по Новорижскому шоссе', 'field-of-view', '#F8F7F4')
+offer('col-lg-3 col-sm-6', 'Подборка самых<br />свежих предложений', 'shooting', '#F6F5FA')
+offer('col-lg-3 col-sm-6', 'Самые выгодные<br />предложения Ноября', 'infographic', '#F1F8EF')