.village-map.bg-white
    .container
        h2 Как добраться
        .map-container.position-relative
            #villageMap(style="width: 100%; height: 100%;")
            #villageMapBalliin
                .map-baloon
                    a(href="#")
                        span.metro-other(style="margin-left: 0;") 8 км от МКАД
                    br
                    a(href="#")
                        span.metro-color(style="background-color: #A772D5;")
                        span.metro-name Новорязанское шоссе
                    .text-block
                        .title
                        .value
                    .text-block
                        .title Ближайший населенный пункт:
                        .value д. Никульское. Расстояние 300 м
                    .text-block
                        .title Ближайший город:
                        .value Сергиев Посад. Расстояние 21 км
                    .text-block
                        .title Ближайшая ж/д станция:
                        .value Бужаниново.
                            br
                            | Расстояние до станции 9.3 км
                    .text-block
                        .title Координаты поселка:
                        .value 56.351050, 38.383278
                    .button-block
                        button.btn.btn-success.rounded-pill(type="button") Построить маршрут
    .container.mobile--margin-top
        .row
            .col-md-4
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/surface.svg")
                    .map-block__text
                        .map-block__title На автомобиле:
                        .map-block__info!= '<b>1ч.</b> от МКАДа без пробок'
            .col-md-4
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/train.svg")
                    .map-block__text
                        .map-block__title На электричке:
                        .map-block__info!= '<b>1ч. 40мин.</b> от вокзала: Ярославский<br>Стоимость одного проезда: <b>220 руб.</b><br>Стоимость такси: <b>250 руб.</b>'
                        .map-block__link
                            a.text-success.text-decoration-nont.font-weight-bold(href="#") Посмотреть расписание
                                | &nbsp;
                                svg.inline-svg(src="img/site/arrow-right.svg")
            .col-md-4
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/bus.svg")
                    .map-block__text
                        .map-block__title На автобусе:
                        .map-block__info!= 'ст. отправления Сергиев Посад, <b>4.1 км</b> от&nbsp;остановки'
                        .map-block__link
                            a.text-success.text-decoration-nont.font-weight-bold(href="#") Посмотреть расписание
                                | &nbsp;
                                svg.inline-svg(src="img/site/arrow-right.svg")

