.block-page
    .container
        .block-page__title.block-page__title--icon
            .icon
                svg.inline-svg(src="img/site/percent.svg")
            h2 Спецпредложения
        #special_offers.block-page__offer
            +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers')
            +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers')
            +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers')
            +card('Дачный поселок Лесная Опушка', 'От 60 000 ₽ до 120 000 ₽', true, false, 'special_offers')