.extra-options-block {
    position: relative;
    display: flex;
    align-items: center;

    &--circle {
        min-height: 48px;
        margin-bottom: 25px;

        .icon {
            position: absolute;
            left: 15px;
            top: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #E5EAEB;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                path {
                    fill: #919FA3;
                }
            }
        }
        &.active {
            .icon {
                transition: .2s ease-in-out;

                svg {
                    path {
                        fill: #fff;
                    }
                }
                &--svet {
                    background-color: #78A86D;
                }
                &--voda {
                    background-color: #4a7aff;
                }
                &--gaz {
                    background-color: #ff5b5a;
                }
                &--asphkr {
                    background-color: #4a7aff;
                }
                &--asphalt {
                    background-color: #6AA3A5;
                }
                &--betonniePliti {
                    background-color: #ff5b5a;
                }
                &--bitiyKirpich {
                    background-color: #ffce01;
                }
                &--gruntovka {
                    background-color: #06b26b;
                }
                &--sheben {
                    background-color: #8A6EAC;
                }
                &--ogorozjen {
                    background-color: #06b26b;
                }
                &--ohrana {
                    background-color: #5277F5;
                }
                &--vodoem {
                    background-color: #5277F5;
                }
                &--les {
                    background-color: #06b26b;
                }
                &--plyaj {
                    background-color: #ffce01;
                }
                &--magazin {
                    background-color: #ff5b5a;
                }
                &--cerkov {
                    background-color: #8A6EAC;
                }
                &--school {
                    background-color: #f7173a;
                }
                &--detsad {
                    background-color: #4a7aff;
                }
                &--cafe {
                    background-color: #ffce01;
                }
                &--azs {
                    background-color: #06b26b;
                }
                &--apteka {
                    background-color: #4a7aff;
                }
                &--stroimat {
                    background-color: #ff5b5a;
                }
                &--bus {
                    background-color: #06b26b;
                }
                &--train {
                    background-color: #ff5b5a;
                }
            }
        }

        .text {
            padding-left: 63px;
            font-size: 16px;
            height: 48px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            span {
                display: block;
                color: #3C4B5A;
                width: 100%;

                &.description {
                    margin-top: 6px;
                    color: #919FA3;
                }
            }
        }
    }
}