mixin optionsParameters(id, icon, title, description, className)
    .extra-options__parameters-input
        input.sr-only(type="checkbox", id=id, name=id, class=className)
        label.d-flex.w-100.align-items-center(for=id)
            span.icon(class="icon--"+id)
                svg.inline-svg(src="img/site/"+ icon +".svg")
            span.text
                span= title
                if description
                    span.description= description