.address__tab {
    padding: 80px 0;

    .metro-title {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 15px;
        background-color: #F0F4F5;
        border: 1px solid #F0F4F5;
        margin-top: 10px;
        transition: .2s ease-in-out;
        
        &__color {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            margin-right: 8px;
        }

        &__title {
            font-size: 11px;
            color: $body-color;

            @media (min-width: 769px) {
                font-size: 14px;
            }
        }

        &:hover {
            background-color: transparent;
        }
    }
    .nav-tabs {
        border-bottom: none;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 100%;
            height: 1px;
            background-color: #EFF3F4;
            z-index: 0;
        }

        .nav-item {
            margin: 0;
            margin-right: 20px;
            margin-bottom: -2px;

            @media (min-width: 991px) {
                margin-right: 40px;
            }

            @media (min-width: 1201px) {
                margin-right: 50px;
            }

            .nav-link {
                margin: 0;
                border-radius: 0;
                border: none;
                background-color: transparent;
                font-size: 16px;
                padding: 20px;
                color: $body-color;
                font-weight: 400;
                border-bottom: 2px solid transparent;
                outline: none;
                z-index: 9;

                &.active {
                    position: relative;
                    font-weight: 700;

                    &:after {
                        content: '';
                        width: 100%;
                        height: 3px;
                        background-color: #FBB358;
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        break-before: 2px;
                        box-shadow: 0 5px 10px rgba(#FBB358, 0.3);
                    }
                }
            }
        }
        .slick {
            &-prev,
            &-next {
                top: 25px;
            }
    
            &-prev {
                left: 0; 
        
                svg {
                    transform: rotate(180deg);
                }
            }
        
            &-next {
                right: 0;
            }
        }
    }
    .tab-content {
        padding-top: 30px;
        height: 212px;
        overflow: hidden;
        margin-bottom: 10px;

        &.showToggle {
            height: auto;
            overflow: inherit;
        }
        @media (min-width: 991px) {
            height: auto;
            overflow: inherit;
        }
    }
}