.address__tab.bg-white
    .container
        ul#addressTab.nav.nav-tabs(role="tablist")
            each item in address
                li.nav-item
                    a.nav-link(
                        class=item.linkActive,
                        id=item.id+"-tab",
                        data-toggle="tab", 
                        href="#"+item.id,
                        role="tab",
                        aria-controls=item.id,
                        aria-selected=item.active
                    )= item.title
        .tab-content
            each item in address
                .tab-pane.fade(
                    id=item.id
                    class=item.classTab,
                    role="tabpanel", 
                    aria-labelledby=item.id+"-tab"
                    )
                    .row
                        each addressItem in item.addressList
                            .col-lg-3.col-md-4.col-sm-6
                                a.metro-title(href="#")
                                    if addressItem.color
                                        .metro-title__color(style="background-color: #"+addressItem.color+";")
                                    .metro-title__title= addressItem.title

        button#showCollapseAddress.d-md-none.btn.btn-outline-secondary.w-100.font-weight-normal(type="button") Ещё 
            | &nbsp;
            svg.inline-svg(src="img/site/back.svg")