.raiting {
    .star {
        &-line {
            display: flex;
        }

        &-item {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            svg {
                path {
                    fill: #c7ced0;
                }

                &.full {
                    path {
                        fill: #ac977f;
                    }
                }
            }
        }

        &-title {
            font-family: 'Trojan';
            font-size: 18px;
            font-weight: bold;
            color: #ac977f;
            margin-left: 20px;
            line-height: 1.44;
        }
    }
}

.line-raiting {
    display: flex;

    &__star {
        width: 140px;
        height: 20px;
        background: url('/assets/img/site/full-raiting-gray.svg') no-repeat;
        
        &--wrap {
            height: 20px;
            background: url('/assets/img/site/full-raiting.svg') no-repeat;
        }
    }

    &__title {
        font-family: 'Trojan';
        font-size: 18px;
        font-weight: bold;
        color: #ac977f;
        margin-left: 20px;
        line-height: 1.44;
    }
}