mixin raiting(starNum, starTitle)
    //- .raiting.d-flex.justify-content-lg-end
    //-     .star-line
    //-         - for (var x = 0; x < starNum; x++)
    //-             .star-item
    //-                 svg.inline-svg.full(src="img/site/star.svg")
    //-         .star-item
    //-             svg.inline-svg(src="img/site/star.svg")
    //-     .star-title= starTitle
    .line-raiting
        .line-raiting__star
            .line-raiting__star--wrap(style="width: 90%;")
        .line-raiting__title= starTitle