.page-developer-list {
    min-height: calc(100vh - 543px);
    background-color: #F7FAFC;

    @media (min-width: 769px) {
        background-color: #fff;
    }

    &__sorting {
        padding-bottom: 40px;
        @media (min-width: 769px) {
            padding-bottom: 0;
        }
    }
}

.developer {
    &__list {
        width: 100%;

        &-item {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 40px 15px;
            border-radius: 15px;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            align-items: center;
            justify-content: flex-start;
            background-color: #fff;
            margin-bottom: 10px;

            @media (min-width: 769px) {
                padding: 40px 0;
                flex-wrap: nowrap;
                margin-bottom: 0;
            }

            &:nth-child(even) {
                background-color: #fff;

                @media (min-width: 769px) {
                    background-color: #F7FAFC;
                }
            }

            &:last-child {
                margin-bottom: 40px;
                @media (min-width: 769px) {
                    margin-bottom: 0;
                }
            }

            .logo {
                text-align: center;
                width: 100%;

                @media (min-width: 769px) {
                    min-width: 85px;
                }

                @media (min-width: 1201px) {
                    max-width: 150px;
                }

                @media (min-width: 1397px) {
                    max-width: 175px;
                }

                img {
                    max-width: 100%;
                }
            }

            .name {
                width: 100%;
                
                @media (min-width: 1397px) {
                    max-width: 226px;
                }
            }

            .raiting__company {
                width: 100%;
                @media (min-width: 769px) {
                    min-width: 142px;
                }

                
                @media (min-width: 1397px) {
                    max-width: 182px;
                }
            }

            .reviews {
                width: 100%;
                

                @media (min-width: 769px) {
                    min-width: 142px;
                }


                @media (min-width: 1397px) {
                    max-width: 155px;
                }
            }

            .raiting__village {
                width: 100%;
                @media (min-width: 1397px) {
                    max-width: 180px;
                }
            }

            .village__sale {
                width: 100%;
                
                
                @media (min-width: 769px) {
                    min-width: 100px;
                }

                @media (min-width: 1397px) {
                    max-width: 228px;
                }
            }
            .button {
                width: 100%;
                
                @media (min-width: 991px) {
                    max-width: 170px;
                    padding-right: 30px;
                }
                
                @media (min-width: 1201px) {
                    padding-right: 30px;
                }
                
                @media (min-width: 1397px) {
                    max-width: 190px;
                    padding-right: 50px;
                }


                .btn {
                    width: 100%;
                    margin-top: 25px;
                
                    @media (min-width: 769px) {
                       margin-top: 0;
                    }
                
                    @media (min-width: 1397px) {
                        max-width: 140px;
                    }
                }
            }

            .item {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 15px;
                
                @media (min-width: 769px) {
                    padding-right: 20px;
                    min-width: 130px;
                    margin-bottom: 0;
                    flex-wrap: wrap;
                }
                
                &__title {
                    font-size: 14px;
                    font-weight: 400;
                    color: #919FA3;
                    margin-right: 10px;
                    line-height: 26px;

                    @media (min-width: 769px) {
                        min-height: 55px;
                        width: 100%;
                    }

                    @media (min-width: 1201px) {
                        min-height: auto;
                    }
                }
            }
        }
    }

    .bg-gray-mobile {
        margin-top: 40px;

        @media (min-width: 769px) {
            background-color: #fff;
            margin-top: 0;
        }
    }

    &__info {
        padding-top: 40px;

        img {
            &.logo {
                max-width: 100%;
            }
        }
        
        h1 {
            @media (min-width: 769px) {
                font-size: 36px;
                margin-bottom: 30px;
            }
        }

        .info-col {
            margin-bottom: 24px;

            @media (min-width: 769px) {
                margin-bottom: 35px;
            }

            .title {
                font-size: 14px;
                color: #919FA3;
            }

            .value {
                font-size: 16px;
                margin-top: 10px;
            }
        }

        .subtitle {
            font-size: 14px;
            margin-bottom: 40px;
        }

        .address {
            font-size: 16px;
            line-height: 26px;

            .title {
                font-size: 14px;
                color: #919FA3;
            }
        }
        &--bottom {
            margin-top: 40px;

            .text {
                font-size: 14px;
                line-height: 24px;
                color: #919FA3;
            }
        }
    }
}

.page-developer-info {
    .page__content-title {
        margin-top: 40px;
    }
    .page__content-list {
        margin-top: 20px;
    }
}

.show-map-sort {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 10px;
    }

    @media (min-width: 769px) {
        max-width: 200px;
        margin-left: auto;
    }
}