//- Миксин компонентов
include ../components/components.pug

//-
    Переменные head со страниц:
    title, description, keywords

block head

doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1")
        title= title
        meta(name='description', content=description?description:'')
        meta(name='keywords', content=keywords?keywords:'')
        link(rel="shortcut icon" href="/assets/img/favicon/favicon.png" type="image/png")
        // UI нужен только для типа дома
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/theme.min.css")

        block styles
            link(rel="stylesheet", href="/assets/css/vendor.min.css")
            link(rel="stylesheet", href="/assets/css/style.min.css")
    body
        block header
            include ../sections/header/header.pug
        main.page(class=pageClass)
            block content
        block footer
            if footerBlock !== false
                include ../sections/footer/footer.pug
        include ../sections/modal/modal.pug
        block yandexApi
        script(src="/assets/js/vendor.min.js")
        // UI Нужен только для страницы где есть модальное окно "Тип дома"
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        
        block scripts
            script(src="/assets/js/app.js")
