.test-home {
    position: relative;
    padding: 52px 0;

    &:after {
        width: 100%;
        height: 100%;
        content: "";
        background: url('/assets/img/site/test-home-bg@2x.jpg') no-repeat;
        background-position: bottom;
        background-size: cover;
        opacity: 0.1;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    
    &__img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;

        @media (min-width: 769px) {
            margin-top: 90px;
        }

    }

    &__wrap {
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 15px 30px rgba(#9CA7B2, 0.15);
        padding: 40px 15px;

        @media (min-width: 769px) {
            padding-top: 0;
            padding-bottom: 80px;
        }
    }

    .h1 {
        margin-top: 20px;

        @media (min-width: 769px) {
            margin-top: 80px;
        }
    }

    svg {
        transform: rotate(90deg) scale(.5);
        margin: 20px auto 0;
        height: 80px;

        @media (min-width: 769px) {
            width: 100%;
            max-width: 98px;
            margin-top: 120px;
            transform: rotate(0);
        }

        @media (min-width: 991px) {
            margin-top: 140px;
            max-width: auto;
        }
    }

    p {
        margin-top: 25px;
        font-size: 12px;
        line-height: 22px;

        @media (min-width: 769px) {
            font-size: 14px;
            line-height: 24px;
        }
        @media (min-width: 991px) {
            font-size: 16px;
        }
    }

    .btn {
        width: 100%;
        max-width: 240px;
        margin-top: 20px;
    }
}