.test.test-home
    .container
        .test-home__wrap
            .row
                .col-sm-4.col-lg-4.text-center
                    img.test-home__img(src="/assets/img/site/test-img@2x.jpg", alt="")
                .col-sm-3.col-lg-2
                    .d-flex.align-items-center.justify-content-center
                        img.inline-svg(src="img/site/test-line.svg")
                .col-sm-5.col-lg-4
                    .h1 Пройдите тест
                    p И определите поселок, котороый подходит вам&nbsp;больше всех
                    a.btn.btn-warning.rounded-pill(href='#') Пройти тест