.card-info {
    border: 1px solid rgba(#919FA3, 0.2);
    padding: 30px 20px 30px;
    font-size: 14px;

    @media (min-width: 1201px) {
        padding: 30px 20px;
    }

    @media (min-width: 1397px) {
        padding: 30px 20px 30px;
    }


    &--village {
        margin-top: 40px;
        width: 100%;

        @media (min-width:992px) {
            position: sticky;
            top: 30px;
        }
        
        .area-link {
            margin-top: 25px;
            margin-left: 10px;
        }
    }

    &--home {
        .price-main,
        .card-info__price {
            padding: 0 15px;
        }

        .price-main {
            font-size: 24px;
            line-height: 26px;
            margin-top: 20px;
        }

        .card-info__price {
            margin-top: 12px;
            font-size: 14px;
            color: #919FA3;
        }
        p, button {
            margin: 15px;
        }
    }

    .metro {
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 10px;

        &-color {
            margin-top: -3px;
        }

        &-other {
            width: 100%;
            padding: 0;
            margin-left: 20px;
        }
    }

    .extra-options {
        margin-top: 30px;
    }

    &__price {
        p {
            font-size: 14px;
            line-height: 16px;
            b {
                margin-left: 0px;
                margin-top: 5px;

                @media (min-width: 769px) {
                    margin-left: 8px;
                    display: block;
                }
            }
        }
        
        svg {
            margin-right: 10px;

            path {
                fill: #919FA3;
            }
        }
    }

    .btn {
        margin-top: 20px;
    }
}

.card {
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    @media (min-width: 769px) {
        margin-right: 30px;
        margin-left: 30px;
    }

    &-comparison {
        border: none;
        width: 100%;
        float: left;

        .card-photo {
            height: 280px;
            border: none;
            border-radius: 15px 15px 0 0;
            position: relative;
            
            .photo {
                width: 100%;
                height: 100%;
                border-radius: 15px 15px 0 0;
            }

            .card-delete {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: none;
                box-shadow: 0 10px 15px rgba(#B3BBC6, 0.2);
                background-color: #fff;
                opacity: 1;
                outline: none;
                position: absolute;
                text-align: center;
                right: 15px;
                top: 15px;
            }
        }

        .card-info {
            border: none;

            &__title {
                font-size: 18px;
                font-weight: 700;
                margin: 15px 0;
            }

            .card-description {
                display: flex;
                flex-wrap: wrap;
                font-size: 14px;
                color: $body-color;
                margin-bottom: 14px;
                line-height: 26px;

                &:last-child {
                    margin-bottom: 0;
                }

                &__title {
                    opacity: .5;
                    padding-right: 13px;
                }
            }
        }
    }
}

.page-comparison {
    &.slider {
        .tab-content {
            display: block;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#919FA3, 0.5);
                border-radius: 5px;

                &:hover {
                    background-color: rgba(#919FA3, 0.75);
                }
            }
        }
        .comparison-content {
            display: block;
            background-color: #fff;
            padding: 40px 15px;
            border-radius: 15px;
            @media (min-width: 769px) {
                padding: 40px;
            }

            .card-info {
                padding: 15px 0;
            }

            .card-comparison {
                width: 290px;
                background-color: transparent;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                @media (min-width: 1297px) {
                    width: 315px;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
            .card-photo {
                height: 210px;
                border-radius: 15px;

                .photo {
                    border-radius: 15px;
                }
            }

            .card-description {
                display: flex;
                align-items: center;
                margin: 10px 0;
                @media (min-width: 769px) {
                    height: 60px;
                    margin: 5px 0;
                }
            }

            .card-description__title {
                @media (min-width: 769px) {
                    display: none;
                }
            }

            .comparison-tabs__char {
                margin-top: 274px;
                font-size: 14px;
                line-height: 26px;
                
                .char__title {
                    position: relative;
                    display: flex;
                    height: 60px;
                    margin: 5px 0;
                    align-items: center;

                    &:nth-child(even) {
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: #ccebff;
                            width: calc(100vw - 60px);
                            height: 60px;
                            opacity: .2;
                            border-radius: 15px;
                            left: -15px;
                            top: 0;

                            @media (min-width: 992px) {
                                width: 930px;
                            }
                            
                            @media (min-width: 1201px) {
                                width: 1140px;
                            }
                            
                            @media (min-width: 1397px) {
                                width: 1306px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-info__slider-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 1201px) {
        padding: 0 20px;
    }

    @media (min-width: 1397px) {
        padding: 0 30px;
    }
    
    a {
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
    }

    .home-info-col {
        width: 50%;
        margin-top: 20px;
    
        @media (min-width: 769px) {
            width: auto;
            margin-right: 30px;
        }
        @media (min-width: 1201px) {
            margin-right: 55px;
        }
    
        &:last-child {
            margin-right: 23px;
        }

        &__value {
            font-size: 24px;
            font-weight: 700;
        }

        &__title {
            margin-top: 18px;
            font-size: 14px;
            color: #919FA3;
        }
    }
}

.comparison-tabs__wrap {
    display: inline-flex;
}