.list {
    &--grid {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        flex-wrap: wrap;

        .card-house {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            flex: 0 0 100%;
            max-width: 100%;
            color: $body-color;

            hr {
                @media (min-width: 991px) {
                    margin: 30px 0 35px;
                }
            }

            .card-grid {
                margin-bottom: 10px;
                border-radius: 15px;
                box-shadow: 0 15px 30px 0 rgba(156, 167, 178, 0.15);

                &.card-adv {
                    background-color: #fef9eb !important;
                }
            }

            .photo {
                position: relative;
                margin: 0;
                width: 100%;

                @media (min-width: 769px) {
                    width: 44%;
                    margin: 20px;
                }

                @media (min-width: 991px) {
                    width: 39%;
                }

                @media (min-width: 1201px) {
                    width: 36%;
                }

                @media (min-width: 1397px) {
                    width: 37%;
                    height: 318px;
                }

                &__list {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    
                    .slick-track {
                        width: 100% !important;
                        overflow: hidden !important;
                        height: 235px !important;
                    }
                }

                &__item {
                    height: 235px;
                    border-radius: 15px 15px 0 0;

                    &.slick-cloned,
                    &.slick-slide {
                        width: 100% !important;
                    }

                    @media (min-width: 769px) {
                        height: 318px;
                        border-radius: 15px;
                    }
                }

                .card-photo {
                    &__item {
                        height: 235px;
                        border-radius: 15px 15px 0 0;

                        @media (min-width: 769px) {
                            height: 318px;
                            border-radius: 15px;
                        }
                    }
                }

                &__buttons {
                    position: absolute;
                    right: 0;
                    top: 0;

                    button {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #fff;
                        margin-left: 10px;
                        border: solid 1px #e1e8ea;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        outline: none;
                        
                        &.slick-next {
                            right: 20px;
                        }
                        &.slick-prev {
                            left: 20px;
                        }

                        svg {
                            opacity: 1;

                            &.add-heart {
                                width: 24px;

                                .s-1 {
                                    fill: #3c4b5a;
                                    stroke: #3c4b5a;
                                    stroke-width: .1px;
                                }

                                .s-2 {
                                    fill: #fff;
                                }

                                .s-3 {
                                    fill: none;
                                    stroke: #fbb358;
                                    stroke-linecap: round;
                                    stroke-width: 1.3px;
                                }
                            }

                            &.add-comparison {
                                width: 17px;

                                .s-1,
                                .s-2 {
                                    fill: none;
                                    stroke-linecap: round;
                                    stroke-width: 1.3px;
                                }
                                .s-1 {
                                    stroke:#3c4b5a;
                                }
                                .s-2 {
                                    stroke:#fbb358;
                                }
                            }
                        }

                        &:hover {
                            background-color: #fff7ed;
                            border-color: #fff7ed;
                        }

                        &.active {
                            background-color: $warning;
                            border-color: $warning;

                            .add {
                                &-heart {
                                    .s-1 {
                                        fill: #fff;
                                        stroke: #fff;
                                        stroke-width: .1px;
                                    }

                                    .s-2 {
                                        fill: #3c4b5a;
                                    }

                                    .s-3 {
                                        fill: none;
                                        stroke: #fff;
                                        stroke-linecap: round;
                                        stroke-width: 1.3px;
                                    }
                                }
                            }
                            .add-comparison {
                                .s-1,
                                .s-2 {
                                    fill: none;
                                    stroke-linecap: round;
                                    stroke-width: 1.3px;
                                }
                                .s-1 {
                                    stroke:#fff;
                                }
                                .s-2 {
                                    stroke:#3c4b5a;
                                }
                            }
                        }
                    }
                }

                &__count {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(#000,.5);
                    color: #fff;
                    padding: 10px 30px;
                    border-bottom-right-radius: 15px;
                    width: 90px;
                }
                &:hover {
                    .slick-next,
                    .slick-prev {
                        opacity: 1;
                        box-shadow: none;
                    }
                }
            }

            &__content {
                padding: 15px 15px 0;

                @media (min-width: 769px) {
                    width: 50%;
                }

                @media (min-width: 991px) {
                    width: 55%;
                }

                @media (min-width: 1201px) {
                    width: 58%;
                }

                .content-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;

                    .wrap-title {
                        width: 100%;
                        @media (min-width: 1201px) {
                            max-width: 425px;
                        }
                    }
                    .wrap-raiting {
                        @media (min-width: 991px) {
                            width: 100%;
                            display: flex;
                            align-items: center;
                        }
                        @media (min-width: 1201px) {
                            width: 185px;
                            flex-wrap: wrap;
                            margin-left: auto;
                        }
                    }
                }
            }

            &__title {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.75;
                text-align: left;

                @media (min-width: 769px) {
                    margin-top: 10px;
                }
            }

            &__area {
                a {
                    position: relative;
                    font-size: 12px;
                    line-height: 2.17;
                    color: $body-color;
                    text-decoration: none;
                    transition: .2s ease-in-out;

                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        transition: .3s ease-in-out;
                        left: 0;
                        bottom: -1px;
                    }

                    &:after {
                        width: 0;
                        background-color:  $success;
                    }

                    &:before {
                        width: 100%;
                        background-color:  $body-color;
                    }

                    &:hover {
                        color: $success;
                        text-decoration: none;

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }

            &__raiting {
                margin-top: 15px;

                @media (min-width: 991px) {
                    margin-top: 20px;
                }
                @media (min-width: 1201px) {
                    margin-top: 10px;
                }
            }

            &__review {
                margin-top: 15px;

                @media (min-width: 991px) {
                    margin-left: 15px;
                }
                @media (min-width: 1201px) {
                    margin-left: 0;
                }

                a {
                    color: #919fa3;
                    font-size: 12px;
                    font-weight: bold;
                    text-decoration: none;
                    line-height: 1.17;

                    @media (min-width: 991px) {
                        font-size: 14px;
                    }

                    svg {
                        margin-right: 10px;

                        path {
                            fill: #919fa3;
                            stroke: transparent;
                        }
                    }

                    &:hover {
                        text-decoration: none;
                        color: #ac977f;

                        svg {
                            path {
                                fill: #ac977f;
                                stroke: transparent;
                            }
                        }
                    }
                }
            }

            &__metro {
                margin-top: 15px;

                @media (min-width: 991px) {
                    margin-top: 30px;
                }
            }

            &__price {
                margin-top: 15px;
                display: inline-flex;
                font-size: 14px;
                line-height: 1.14;

                @media (min-width: 991px) {
                    margin-top: 20px;
                }

                &-title {
                    font-size: 12px;
                    color: #919fa3;

                    .rub {
                        margin-right: 10px;
                    }

                    @media (min-width: 769px) {
                        font-size: 14px;
                    }
                }
            }

            &__inline {
                display: flex;
                font-size: 12px;
                line-height: 1.14;
                margin-bottom: 15px;
                align-items: center;

                @media (min-width: 769px) and (max-width: 990px){
                    font-size: 14px;
                    flex-wrap: inherit;
                    margin-bottom: 25px;
                }

                @media (min-width: 991px) {
                    margin-bottom: 25px;
                }

                &:last-child {
                    margin-bottom: 15px;

                    @media (min-width: 991px) {
                        margin-bottom: 0;
                    }
                }

                svg {
                    margin-right: 10px;
                    width: 37px !important;
                    margin-top: -2px;
                }

                &-title {
                    min-width: 130px;

                    @media (min-width: 769px) and (max-width: 990px) {
                        min-width: 170px;
                    }
                }

                &-value {
                    font-weight: 700;
                    font-size: 12px;

                    span {
                        display: block;
                        margin-top: 10px;

                        @media (min-width: 769px) {
                            display: inline;
                            margin-top: 0;
                        }
                    }

                    @media (min-width: 991px) {
                        margin-top: 0;
                        width: auto;
                        font-size: 14px;
                    }
                }
            }

            &__view {
                max-width: 185px;
            }
        }
    }
}

.area-in-village {
    padding: 45px 0;

    h2 {
        margin-bottom: 30px;
    }
    .card-house {
        &__inline {
            display: flex;
            margin-left: 0;
            margin-top: 20px;
            flex-wrap: wrap;

            @media (min-width: 991px) {
                flex-wrap: nowrap;
            }
    
            svg {
                width: auto !important;
            }
        }
        &__content {
            position: relative;
            padding: 20px;
        }
    }

    .map-block {
        margin-top: 15px;
    }
    .footer-card {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
            
        @media (min-width: 991px) {
            margin-top: 40px;
        }

        &__price{
            font-size: 24px;
            line-height: 26px;
            font-weight: 700;
            margin-bottom: 20px;

            @media (min-width: 991px) {
                margin-right: 25px;
                margin-bottom: 0;
            }
        }
        a {
            padding-left: 60px;
            padding-right: 60px;
            width: 100%;  

            @media (min-width: 991px) {
                width: auto;
            }
        }
    }

    .btn {
        &.bg-white {
            opacity: 1;
            box-shadow: 0 15px 30px rgba(#20383C, .1);

            svg {
                path {
                    fill: $success;
                    stroke: $success;
                    margin-left: 15px;
                }
            }
        }
    }
}

.house-in-village {
    .footer-card {
        margin-top: 20px;
            
        @media (min-width: 991px) {
            margin-top: 90px;
        }
    }
}
