mixin card-area()
    .card-house
        .d-flex.flex-wrap.bg-white.card-grid
            .card-house__photo.photo
                .slider__header
                    .slider__label Акция - 30%
                    .photo__buttons
                        button(title="Добавить к сравнению")
                            svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                        button(title="Добавить в избранное")
                            svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                .card-photo__list
                    .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                    .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                    .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                .photo__count
                    span.current 1
                    | &nbsp;
                    | /
                    | &nbsp;
                    //- Общее количество добавляется с бэка
                    span.count 3
            .card-house__content
                .wrap-title
                    .card-house__title Участок в посёлке Новое Горелово

                .card-house__inline
                    svg.inline-svg(src="img/site/house.svg")
                    .card-house__inline-title Площадь участков:
                        | &nbsp;
                    .card-house__inline-value от 6 до 30 соток
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/bus.svg")
                    .map-block__text
                        .map-block__title На электричке:
                        .map-block__info!= '<b>1 ч. 40 мин.</b> от вокзала: Ярославский'
                .map-block
                    .map-block__icon
                        svg.inline-svg(src="img/site/car.svg")
                    .map-block__text
                        .map-block__title На автомобиле:
                        .map-block__info!= '<b>1 ч.</b>  от МКАДа без пробок'
                .footer-card.d-flex.align-items-center
                    .footer-card__price 1 350 000 ₽
                    a.btn.btn-outline-warning.rounded-pill(href="#") Подробнее

.area-in-village.page__content-list
    .container
        h2 Участки в этом поселке
        .list--grid
            +card-area()
            +card-area()
        a.btn.bg-white.text-success.w-100(href="#") Показать ещё
            | 
            svg.inline-svg(src="img/site/back.svg")