.card-info.card-info--village.radius
    +metro("#", "novoryazanskoe", "Новорязанское шоссе", "8 км от МКАД")
    a.area-link(href="#") 
        svg.inline-svg(src="img/site/placeholder.svg")
        | Люберецкий район
    .row.extra-options
        .col-md-6
            .extra-options-block--circle.active
                .icon.icon--svet
                    svg.inline-svg(src="img/site/svet.svg")
                .text
                    span Свет
                    span.description 15 кВт на уч.
        .col-md-6
            .extra-options-block--circle
                .icon.icon--gaz
                    svg.inline-svg(src="img/site/gaz.svg")
                .text
                    span Газ
        .col-md-6
            .extra-options-block--circle
                .icon.icon--voda
                    svg.inline-svg(src="img/site/voda.svg")
                .text
                    span Вода
    .d-inline-flex.align-items-start.card-info__price
        svg.inline-svg(src="img/site/rub.svg")
        p Цена за обустройство:
            b Включена в стоимость
    a.btn.btn-warning.rounded-pill.w-100(href="#" data-toggle="modal" data-target="#feedbackModal") Записаться на просмотр
    .mt-4.text-center На просмотр уже записались:
        | 
        b 1 человек