.card-info.card-info--village.card-info--home.radius
    +metro("#", "novoryazanskoe", "Новорязанское шоссе", "8 км от МКАД")
    a.area-link(href="#") 
        svg.inline-svg(src="img/site/placeholder.svg")
        | Павлово-Посадский р-н, д. Большие Дворы
    .price-main
        b 5 000 000
        | &nbsp;
        | ₽
    .card-info__price 25 000₽ за 1 м2
    p
        b Возможна ипотека
    button.btn.btn-link.text-success.text-decoration-none.p-0.my-0.mb-3(type="button") Следить за изменением цены
    a.btn.btn-warning.rounded-pill.w-100(href="#") Показать телефон
    a.btn.btn-outline-warning.rounded-pill.w-100(href="#") Написать сообщение
