mixin card-comparison()
    .card.card-comparison
        .card-photo
            .photo(style="background: url(/assets/img/content/house.jpg) center center / cover no-repeat;")
            button.card-delete(type="button")
                img.inline-svg(src="img/site/close.svg")
        .card-info
            .card-info__title Лесная Опушка
            .card-description
                .card-description__title Удаленность от МКАД:
                .card-description__value 22
            .card-description
                .card-description__title Цена за сотку:
                .card-description__value 108 000/152 000 ₽
            .card-description
                .card-description__title.pr-0 Цена за обустройство (описание):
                .card-description__value Включена в стоимость
            .card-description
                .card-description__title Цена за обустройство (кто):
                .card-description__value Девелопер
            .card-description
                .card-description__title Газ:
                .card-description__value Есть
            .card-description
                .card-description__title Водопровод:
                .card-description__value Есть
            .card-description
                .card-description__title Водоем:
                .card-description__value Река
            .card-description
                .card-description__title Автобус:
                .card-description__value Есть
            .card-description
                .card-description__title Дороги в поселке:
                .card-description__value Асфальт
            .card-description
                .card-description__title Площадь поселка, Га
                .card-description__value 7.3
.comparison-tabs__wrap
    +card-comparison()
    +card-comparison()
    +card-comparison()
    +card-comparison()