mixin card-area()
    .card-house
        .d-flex.flex-wrap.bg-white.card-grid
            .card-house__photo.photo
                .slider__header
                    .slider__label Акция - 30%
                    .photo__buttons
                        button(title="Добавить к сравнению")
                            svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                        button(title="Добавить в избранное")
                            svg.inline-svg.add-heart(src="img/site/add-heart.svg")
                .card-photo__list
                    .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                    .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                    .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                .photo__count
                    span.current 1
                    | &nbsp;
                    | /
                    | &nbsp;
                    //- Общее количество добавляется с бэка
                    span.count 3
            .card-house__content
                .wrap-title
                    .card-house__title Дом в посёлке Новое Горелово

                .card-house__inline
                    svg.inline-svg(src="img/site/house.svg")
                    .card-house__inline-title Площадь дома:
                        | &nbsp;
                    .card-house__inline-value 170 м
                        sup 2
                .card-house__inline
                    svg.inline-svg(src="img/site/house.svg")
                    .card-house__inline-title Этажей:
                        | &nbsp;
                    .card-house__inline-value 3
                .card-house__inline
                    svg.inline-svg(src="img/site/house.svg")
                    .card-house__inline-title Материал:
                        | &nbsp;
                    .card-house__inline-value
                        span Клееный брус, облицовочный кирпич, теплая керамика

                .footer-card.d-flex.align-items-center
                    .footer-card__price 10 355 000 ₽
                    a.btn.btn-outline-warning.rounded-pill(href="#") Подробнее

.house-in-village.area-in-village.page__content-list
    .container
        h2 Дома в этом посёлке
        .list--grid
            +card-area()
            +card-area()
        a.btn.bg-white.text-success.w-100(href="#") Показать ещё
            | 
            svg.inline-svg(src="img/site/back.svg")