.card-house
    // В случае если это рекламная карточка добавляем блоку card-grid класс card-adv
    .d-flex.flex-wrap.bg-white.card-grid
        .card-house__photo.photo
            .slider__header
                .slider__label Акция - 30%
                .photo__buttons
                    button(title="Добавить к сравнению")
                        svg.inline-svg.add-comparison(src="img/site/add-comparison.svg")
                    button(title="Добавить в избранное")
                        svg.inline-svg.add-heart(src="img/site/add-heart.svg")
            .card-photo__list
                .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
                .card-photo__item(style='background: url(/assets/img/content/house.jpg) center center / cover no-repeat; width: 495px;')
            .photo__count
                span.current 1
                | &nbsp;
                | /
                | &nbsp;
                //- Общее количество добавляется с бэка
                span.count 3
        .card-house__content
            .content-wrap
                .wrap-title
                    .card-house__title Дачный поселок Лесная Опушка
                    .card-house__area
                        a(href="#") Люберецкий район
                .wrap-raiting
                    .card-house__raiting
                        +raiting(4, '4.1')
                    .card-house__review.review
                        .d-flex
                            a(href="#")
                                svg.inline-svg(src="img/site/comment.svg")
                                | 4 отзыва от жителей
            .card-house__metro
                +metro("#", "novoryazanskoe", "Новорязанское шоссе", "8 км от МКАД")
            .card-house__price
                .card-house__price-title
                    span.rub &#8381;
                    | Дома:
                    | &nbsp;
                .card-house__price-number от 4 200 000 ₽
            hr
            .row.d-none.d-md-flex
                .col-md-8.pl-1
                    .card-house__inline
                        svg.inline-svg(src="img/site/house.svg")
                        .card-house__inline-title Площадь участков:
                            | &nbsp;
                        .card-house__inline-value от 6 до 30 соток
                    .card-house__inline
                        svg.inline-svg(src="img/site/house-plan.svg")
                        .card-house__inline-title Площадь домов:
                            | &nbsp;
                        .card-house__inline-value от 170 до 500 м
                            sup 2
                .col-md-4.justify-content-end.text-right
                    a.card-house__view.btn.btn-outline-warning.w-100.rounded-pill(href="#") Подробнее
        .container.d-md-none
            .row.align-items-center
                .col-sm-8
                    .card-house__inline
                        svg.inline-svg(src="img/site/house.svg")
                        .card-house__inline-title Площадь участков:
                            | &nbsp;
                        .card-house__inline-value от 6 до 30 соток
                    .card-house__inline
                        svg.inline-svg(src="img/site/house-plan.svg")
                        .card-house__inline-title Площадь домов:
                            | &nbsp;
                        .card-house__inline-value от 100 до 750 м
                            sup 2
                .col-sm-4.mt-1.mt-sm-0.pb-3.mb-0.mb-sm-3
                    a.btn.btn-outline-warning.w-100.rounded-pill(href="#") Подробнее
