extends ../../layouts/default.pug

block head
    - var title = 'Сравнение';
    - var keywords = 'Сравнение';
    - var description = 'Сравнение';
    - var pageClass = 'page-comparison slider';

block content
    .page__breadcrumbs.bg-white.mt-0.py-4
        .container
            .row.align-items-center
                .order-1.order-sm-0.col-xl-5.col-lg-4
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="/") Главная
                        li.breadcrumb-item.active(aria-current="page") Сравнение
        .container
            .row.align-items-center
                .col-xl-9.col-md-8.mt-3
                    .block-page__title.block-page__title--icon
                        .icon
                            svg.inline-svg(src="img/site/comparison-title.svg")
                        h1.mt-2 Сравните выбранные поселки
                .col-xl-3.col-md-4
                    .d-flex.justify-content-end
                        ul.nav.tab-switcher.mt-0(role="tablist")
                            li
                                a#comparison-all-tab.active(
                                    data-toggle="tab" 
                                    href="#comparison-all" 
                                    role="tab" 
                                    aria-controls="comparison-all" 
                                    aria-selected="true") Все
                            li
                                a#comparison-differences-tab(
                                    data-toggle="tab" 
                                    href="#comparison-differences" 
                                    role="tab" 
                                    aria-controls="comparison-differences" 
                                    aria-selected="false") Различия
    .container.comparison-content
        .row
            .col-xl-2.col-md-3.col-sm-4.d-sm-flex.d-none
                .comparison-tabs__char
                    .char__title Удаленность от МКАД:
                    .char__title Цена за сотку:
                    .char__title Цена за обустройство (описание):
                    .char__title Цена за обустройство (кто):
                    .char__title Газ:
                    .char__title Водопровод:
                    .char__title Водоем:
                    .char__title Автобус:
                    .char__title Дороги в поселке:
                    .char__title Площадь поселка, Га
            .col-xl-10.col-md-9.col-sm-8
                .tab-content.comparison-tabs
                    #comparison-all.tab-pane.active(role="tabpanel" aria-labelledby="comparison-all-tab")
                        include ../../sections/card/comparison-card.pug
                    #comparison-differences.tab-pane(role="tabpanel" aria-labelledby="comparison-differences-tab") Различия
