.review {
    &-card {
        padding: 15px;
        border-radius: 15px;
        border: 1px solid rgba(#919FA3, 0.2);
        margin-top: 30px;

        @media (min-width: 769px) {
            padding: 40px;
        }
        
        &.card-light {
            background-color: #F7FAFC;
            border-color: #F7FAFC;
        }

        &__user {
            padding-left: 75px;
            position: relative;

            @media (min-width: 769px) {
                padding-left: 130px;
            }

            &-avatar {
                position: absolute;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #eee url('/assets/img/site/no-avatar.svg') no-repeat center center;
                background-size: 40%;
                left: 0;
                top: 0;

                @media (min-width: 769px) {
                    width: 100px;
                    height: 100px;
                }
            }

            .name {
                font-size: 18px;
                font-family: Trojan;
            }
            
            .date {
                margin-top: 10px;
                font-size: 12px;
                color: #919FA3;

                @media (min-width: 769px) {
                    font-size: 14px;
                    margin-top: 15px;
                }
            }

            .review-star {
                height: 40px;

                @media (min-width: 769px) {
                    height: 60px;
                }

                .star { 
                    &-list {
                        label {
                            &:after,
                            &:before {
                                width: 16px;
                                height: 16px;

                                @media (min-width: 769px) {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
            margin-top: 30px;
                
            &-title {
                margin-bottom: 8px;
                font-weight: 700;
                color: #919FA3;

                &.advantages,
                &.disadvantages {
                    svg {
                        margin-right: 8px;
                    }
                }

                &.advantages {
                    color: #78A86D;
                }

                &.disadvantages {
                    color: #C66574;
                }
            }
        }
    }
    &-list {
        padding-top: 80px;

        &__average-rating {
            font-size: 14px;
            line-height: 26px;
            color: #919FA3;
            margin-bottom: 8px;
        }

        .nav {
            margin: 0 0 10px;
            padding: 0;
            border-bottom: 1px solid #EFF3F4;

            &-item,
            &-link {
                padding: 0;
                margin: 0;
                border: none;
                background-color: transparent;
            }

            &-item {
                margin-right: 15px;
                position: relative;
                margin-bottom: -2px;
                padding: 0px;
                padding-right: 1rem;

                @media (min-width: 991px) {
                    margin-right: 55px;
                    padding: 0px;
                    border-radius: 0;
                }
            }

            &-link {
                color: $body-color;
                font-size: 16px;
                padding: 1rem 1.5rem;
                margin: 0;

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    background-color: transparent;
                    transition: .4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
                }

                &:hover {
                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 3px;
                        background-color: $warning;
                        border-radius: 3px;
                        left: 0;
                        bottom: 0;
                    }
                }

                &.active {
                    background-color: transparent;
                    font-weight: 700;

                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 3px;
                        background-color: $warning;
                        border-radius: 3px;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    &-star {
        font-size: 14px;
        line-height: 26px;
        color: #919FA3;
        display: flex;
        align-items: center;
        height: 60px;

        .star-list {
            display: flex;
            flex-direction: row-reverse;
            margin-left: 40px;
            margin-right: 8px;

            label {
                cursor: pointer;
                margin-right: 12px;

                &:after {
                    content: '';
                    display: block;
                    width: 22px;
                    height: 22px;
                    background: url('/assets/img/site/star-gray.svg') no-repeat;
                    background-size: cover;
                    transition: .1s ease-in-out;
                }

                &.checked {
                    &:after {
                        background: url('/assets/img/site/star-gray.svg') no-repeat;
                        background-size: cover;
                    }
                }

                &:hover,
                &.checked {
                    &:after {
                        background: url('/assets/img/site/star-gold.svg') no-repeat;
                        background-size: cover;
                    }
                    & ~ label {
                        &:after {
                            background: url('/assets/img/site/star-gold.svg') no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }
            input {
                display: none;
            }
        }

        .star-value {
            font-size: 18px;
            font-family: Trojan;
            color: #AC977F;
            font-weight: 700;
        }
    }

    &-add {
        padding: 40px 0 20px;
        @media (min-width: 991px) {
            padding: 100px 0;
        }

        h2 {
            margin-bottom: 60px;
        }

        .form {
            &-group {
                position: relative;
                margin-bottom: 24px;

                &.quality {
                    button {
                        padding: 0;
                        border: 0;
                        background-color: transparent;
                        cursor: default;
                        position: absolute;
                        left: 22px;
                        top: 21px;
                        outline: none;
                    }

                    input {
                        padding-left: 60px;
                    }
                }
            }
            &-control {
                border-color: #F7FAFC;
                background-color: #F7FAFC;
    
                &:hover,
                &:focus {
                    border-color: $success;
                }
            }
        }
        &__textarea {
            margin-bottom: 30px;
            background-color: #F7FAFC;
            border-radius: 15px;
            padding: 25px;

            textarea {
                border-radius: 0;
                resize: none;
                border: none;
                background-color: transparent;
                padding: 0;
                max-height: 420px;

                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
        }

        .custom-control {
            font-size: 12px;
                    
            @media(min-width: 769px) {
                font-size: 16px;
            }
        }

        .privacy-policy-label {
            .custom-control {
                &-inline {
                    margin-top: 0;
                }

                label {
                    font-size: 12px;
                    line-height: 18px;
                    margin-top: 0;

                    &:before {
                        top: 4px;
                    }

                    &:after {
                        top: 4px;
                    }

                    a {
                        text-decoration: underline;
                        font-weight: 700;
                        color: $body-color;

                        &:hover {
                            color: $success;
                        }
                    }
                }
            }
        }

        .review-star {
            flex-wrap: wrap;
            margin-bottom: 20px;

            @media(min-width: 769px) {
                flex-wrap: nowrap;
                margin-bottom: 0;
            }

            .you-star {
                width: 100%;

                @media(min-width: 769px) {
                    width: auto;
                }
            }
            .star-list {
                margin-left: 0;

                @media(min-width: 769px) {
                    margin-left: 40px;
                }
            }
        }
    }
    .slick-list {
        border-radius: 0;
    }
}