mixin reviewCard()
    .col-md-6
        //- Если нужна серая карточка, классу review-card - добавляем класс "card-light"
        .review-card
            .review-card__user
                .review-card__user-avatar
                .name Дмитрий, уч. №40
                .date Житель, 25 августа 2018, 12:58
                .review-star
                    +raiting(4, '3')
            .review-card__text
                .review-card__text-title.advantages
                    svg.inline-svg(src="img/site/plus.svg")
                    | Достоинства
                p Природа, проезд, стоимость
            .review-card__text
                .review-card__text-title.disadvantages
                    svg.inline-svg(src="img/site/minus.svg")
                    | Недостатки
                p Не обнаружил
            .review-card__text
                .review-card__text-title Отзывы
                p Я очень доволен, что приобрел участок именно в этом поселке. За такую цену купить такой участок- это удача. Почва отличная, растет все. До поселка идеальная дорога, электричество сразу подключил по госпрограмме. Буду советовать всем друзьям и знакомым.
.review-list
    .container
        .row.mb-4
            .col-xl-9.col-md-8
                h3.h2 Отзывы
                    | &nbsp;
                    span.text-secondary 8
            .col-xl-3.col-md-4.justify-content-end
                .review-list__average-rating.text-left.text-md-right Средняя оценка пользователей:
                .wrap-raiting
                    .card-house__raiting.d-flex.justify-content-md-end
                        +raiting(4, '4.1')
        
        //- Табы
        ul#reviewList.nav.nav-tabs(role="tablist")
            li.nav-item
                a#allReviews-tab.nav-link.active(data-toggle="tab" href="#allReviews" role="tab" aria-controls="allReviews" aria-selected="true") Все отзывы
            li.nav-item
                a#expertReviews-tab.nav-link(data-toggle="tab" href="#expertReviews" role="tab" aria-controls="expertReviews" aria-selected="false") Отзывы экспертов
            li.nav-item
                a#residentReviews-tab.nav-link(data-toggle="tab" href="#residentReviews" role="tab" aria-controls="residentReviews" aria-selected="false") Отзывы жителей
        #reviewListContent.tab-content
            #allReviews.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="allReviews-tab")
                .row
                    +reviewCard()
                    +reviewCard()
                    +reviewCard()
                    +reviewCard()
                    .col-12.mt-4.text-center
                        .row
                            .offset-lg-4.col-lg-4.offset-md-3.col-md-6.offset-sm-3.col-sm-6
                                a.btn.btn-warning.rounded-pill.w-100(href='#') Все отзывы
            #expertReviews.tab-pane.fade(role="tabpanel" aria-labelledby="expertReviews-tab")
                .row
                    +reviewCard()
                    +reviewCard()
                    +reviewCard()
            #residentReviews.tab-pane.fade(role="tabpanel" aria-labelledby="residentReviews-tab")
                .row
                    +reviewCard()

        