.review-add
    .container
        .row
            .offset-xl-2.col-xl-8
                h3.h2.text-center Оставить отзыв
                form#add-review(action="")
                    .row
                        .col-md-6
                            .form-group
                                input#review-name.form-control(type="text", name="review-name", placeholder="Ваше имя")
                        .col-md-6
                            .form-group
                                input#review-surname.form-control(type="text", name="review-surname", placeholder="Фамилия")
                        .col-md-6
                            .form-group
                                input#review-email.form-control(type="email", name="review-email", placeholder="Адрес электронной почты")
                        .col-md-6
                            .review-star
                                label.you-star Ваша оценка:

                                .star-list
                                    label(for="star-5")
                                    input#star-5(name="review-raiting", type="radio" value="5")
                                    label(for="star-4")
                                    input#star-4(name="review-raiting", type="radio" value="4")
                                    label(for="star-3")
                                    input#star-3(name="review-raiting", type="radio" value="3")
                                    label(for="star-2")
                                    input#star-2(name="review-raiting", type="radio" value="2")
                                    label(for="star-1")
                                    input#star-1(name="review-raiting", type="radio" value="1")
                                .star-value
                                    span.star-value__title 0
                                    | .0
                        .col-md-6
                            .form-group.quality.quality-advantages
                                button(type="button")
                                    img.inline-svg(src="img/site/plus.svg")
                                input#review-advantages.form-control(type="text", name="review-advantages", placeholder="Достоинства")
                        .col-md-6
                            .form-group.quality.quality-disadvantages
                                button(type="button")
                                    img.inline-svg(src="img/site/minus.svg")
                                input#review-disadvantages.form-control(type="text", name="review-disadvantages", placeholder="Недостатки")
                        
                        .col-12
                            .review-add__textarea
                                textarea#review-text.form-control(placeholder="Введите текст отзыва", name="review-text")
                                .custom-control.custom-checkbox.custom-control-inline
                                    input.custom-control-input#review-resident(type="checkbox" name="review-resident")
                                    label.custom-control-label(for="review-resident") Отметьте, если вы житель поселка
                    .row.align-items-center
                        .col-md-8.privacy-policy-label
                            .custom-control.custom-checkbox.custom-control-inline
                                input#privacy-policy.custom-control-input(type="checkbox", name="privacy-policy", checked)
                                label.custom-control-label(for="privacy-policy") Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с
                                    | &nbsp; 
                                    a(href='#' title="Ознакомиться с политикой конфиденциальности") Политикой Конфиденциальности
                        .col-md-4.mt-4.mt-md-0
                            button.btn.btn-warning.rounded-pill.w-100(type="submit") Оставить отзыв
